@font-face {
  font-family: 'data-document';
  src:  url('fonts/data-document.eot?x5bjh3');
  src:  url('fonts/data-document.eot?x5bjh3#iefix') format('embedded-opentype'),
    url('fonts/data-document.ttf?x5bjh3') format('truetype'),
    url('fonts/data-document.woff?x5bjh3') format('woff'),
    url('fonts/data-document.svg?x5bjh3#data-document') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.at-add-folder-thin:before {
  font-family: 'data-document' !important;
  content: "\e900";
}
.at-alert-folder-thin:before {
  font-family: 'data-document' !important;
  content: "\e901";
}
.at-arrow-down-chart-thin:before {
  font-family: 'data-document' !important;
  content: "\e902";
}
.at-arrow-down-folder-thin:before {
  font-family: 'data-document' !important;
  content: "\e903";
}
.at-arrow-down-page-thin:before {
  font-family: 'data-document' !important;
  content: "\e904";
}
.at-arrow-up-graph-thin:before {
  font-family: 'data-document' !important;
  content: "\e905";
}
.at-blank-folder-thin:before {
  font-family: 'data-document' !important;
  content: "\e906";
}
.at-block-clipboard-thin:before {
  font-family: 'data-document' !important;
  content: "\e907";
}
.at-block-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e908";
}
.at-block-folder-thin:before {
  font-family: 'data-document' !important;
  content: "\e909";
}
.at-broken-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e90a";
}
.at-broken-folder-thin:before {
  font-family: 'data-document' !important;
  content: "\e90b";
}
.at-bug-clipboard-thin:before {
  font-family: 'data-document' !important;
  content: "\e90c";
}
.at-bug-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e90d";
}
.at-chart-pie-graph-circle-thin:before {
  font-family: 'data-document' !important;
  content: "\e90e";
}
.at-chart-pie-graph-thin:before {
  font-family: 'data-document' !important;
  content: "\e90f";
}
.at-check-clipboard-thin:before {
  font-family: 'data-document' !important;
  content: "\e910";
}
.at-check-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e911";
}
.at-check-folder-thin:before {
  font-family: 'data-document' !important;
  content: "\e912";
}
.at-check-list-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e913";
}
.at-circle-pie-chart-thin:before {
  font-family: 'data-document' !important;
  content: "\e914";
}
.at-clipboard-image-thin:before {
  font-family: 'data-document' !important;
  content: "\e915";
}
.at-clipboard-info-thin:before {
  font-family: 'data-document' !important;
  content: "\e916";
}
.at-clipboard-line-chart-thin:before {
  font-family: 'data-document' !important;
  content: "\e917";
}
.at-clipboard-refresh-thin:before {
  font-family: 'data-document' !important;
  content: "\e918";
}
.at-clipboard-search-thin:before {
  font-family: 'data-document' !important;
  content: "\e919";
}
.at-clipboard-settings-thin:before {
  font-family: 'data-document' !important;
  content: "\e91a";
}
.at-clipboard-share-thin:before {
  font-family: 'data-document' !important;
  content: "\e91b";
}
.at-clipboard-shield-thin:before {
  font-family: 'data-document' !important;
  content: "\e91c";
}
.at-clipboard-sound-thin:before {
  font-family: 'data-document' !important;
  content: "\e91d";
}
.at-clipboard-thin:before {
  font-family: 'data-document' !important;
  content: "\e91e";
}
.at-clipboard-video-thin:before {
  font-family: 'data-document' !important;
  content: "\e91f";
}
.at-clipchart-thin:before {
  font-family: 'data-document' !important;
  content: "\e920";
}
.at-coding-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e921";
}
.at-decrease-arrow-down-thin:before {
  font-family: 'data-document' !important;
  content: "\e922";
}
.at-documents-thin:before {
  font-family: 'data-document' !important;
  content: "\e923";
}
.at-document-thin:before {
  font-family: 'data-document' !important;
  content: "\e924";
}
.at-dollar-clipboard-thin:before {
  font-family: 'data-document' !important;
  content: "\e925";
}
.at-dollar-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e926";
}
.at-dollar-folder-thin:before {
  font-family: 'data-document' !important;
  content: "\e927";
}
.at-dots-clipboard-thin:before {
  font-family: 'data-document' !important;
  content: "\e928";
}
.at-dots-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e929";
}
.at-dots-folder-thin:before {
  font-family: 'data-document' !important;
  content: "\e92a";
}
.at-exclamation-clipboard-thin:before {
  font-family: 'data-document' !important;
  content: "\e92b";
}
.at-exclamation-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e92c";
}
.at-exclamation-folder-thin:before {
  font-family: 'data-document' !important;
  content: "\e92d";
}
.at-file-arrow-up-thin:before {
  font-family: 'data-document' !important;
  content: "\e92e";
}
.at-file-image-thin:before {
  font-family: 'data-document' !important;
  content: "\e92f";
}
.at-file-info-thin:before {
  font-family: 'data-document' !important;
  content: "\e930";
}
.at-file-line-thin:before {
  font-family: 'data-document' !important;
  content: "\e931";
}
.at-file-refresh-thin:before {
  font-family: 'data-document' !important;
  content: "\e932";
}
.at-file-search-thin:before {
  font-family: 'data-document' !important;
  content: "\e933";
}
.at-file-settings-thin:before {
  font-family: 'data-document' !important;
  content: "\e934";
}
.at-file-share-thin:before {
  font-family: 'data-document' !important;
  content: "\e935";
}
.at-file-shield-thin:before {
  font-family: 'data-document' !important;
  content: "\e936";
}
.at-file-sound-thin:before {
  font-family: 'data-document' !important;
  content: "\e937";
}
.at-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e938";
}
.at-file-video-thin:before {
  font-family: 'data-document' !important;
  content: "\e939";
}
.at-folder-arrow-down-thin:before {
  font-family: 'data-document' !important;
  content: "\e93a";
}
.at-folder-arrow-up-thin:before {
  font-family: 'data-document' !important;
  content: "\e93b";
}
.at-folder-block-thin:before {
  font-family: 'data-document' !important;
  content: "\e93c";
}
.at-folder-broken-thin:before {
  font-family: 'data-document' !important;
  content: "\e93d";
}
.at-folder-check-thin:before {
  font-family: 'data-document' !important;
  content: "\e93e";
}
.at-folder-dollar-thin:before {
  font-family: 'data-document' !important;
  content: "\e93f";
}
.at-folder-dots-thin:before {
  font-family: 'data-document' !important;
  content: "\e940";
}
.at-folder-graph-thin:before {
  font-family: 'data-document' !important;
  content: "\e941";
}
.at-folder-heart-thin:before {
  font-family: 'data-document' !important;
  content: "\e942";
}
.at-folder-image-thin:before {
  font-family: 'data-document' !important;
  content: "\e943";
}
.at-folder-info-thin:before {
  font-family: 'data-document' !important;
  content: "\e944";
}
.at-folder-line-thin:before {
  font-family: 'data-document' !important;
  content: "\e945";
}
.at-folder-list-thin:before {
  font-family: 'data-document' !important;
  content: "\e946";
}
.at-folder-lock-thin:before {
  font-family: 'data-document' !important;
  content: "\e947";
}
.at-folder-minus-thin:before {
  font-family: 'data-document' !important;
  content: "\e948";
}
.at-folder-music-thin:before {
  font-family: 'data-document' !important;
  content: "\e949";
}
.at-folder-play-thin:before {
  font-family: 'data-document' !important;
  content: "\e94a";
}
.at-folder-plus-thin:before {
  font-family: 'data-document' !important;
  content: "\e94b";
}
.at-folder-question-thin:before {
  font-family: 'data-document' !important;
  content: "\e94c";
}
.at-folder-search-thin:before {
  font-family: 'data-document' !important;
  content: "\e94d";
}
.at-folder-settings-thin:before {
  font-family: 'data-document' !important;
  content: "\e94e";
}
.at-folder-sharing-thin:before {
  font-family: 'data-document' !important;
  content: "\e94f";
}
.at-folder-shield-thin:before {
  font-family: 'data-document' !important;
  content: "\e950";
}
.at-folder-sound-thin:before {
  font-family: 'data-document' !important;
  content: "\e951";
}
.at-folder-star-thin:before {
  font-family: 'data-document' !important;
  content: "\e952";
}
.at-folder-text-thin:before {
  font-family: 'data-document' !important;
  content: "\e953";
}
.at-folder-thin:before {
  font-family: 'data-document' !important;
  content: "\e954";
}
.at-folder-transfer-thin:before {
  font-family: 'data-document' !important;
  content: "\e955";
}
.at-folder-up-thin:before {
  font-family: 'data-document' !important;
  content: "\e956";
}
.at-folder-user-thin:before {
  font-family: 'data-document' !important;
  content: "\e957";
}
.at-folder-video-thin:before {
  font-family: 'data-document' !important;
  content: "\e958";
}
.at-folder-voice-thin:before {
  font-family: 'data-document' !important;
  content: "\e959";
}
.at-folder-wifi-thin:before {
  font-family: 'data-document' !important;
  content: "\e95a";
}
.at-folder-xmark-thin:before {
  font-family: 'data-document' !important;
  content: "\e95b";
}
.at-format-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e95c";
}
.at-graph-document-thin:before {
  font-family: 'data-document' !important;
  content: "\e95d";
}
.at-graph-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e95e";
}
.at-graph-lines-clipboard-thin:before {
  font-family: 'data-document' !important;
  content: "\e95f";
}
.at-graph-lines-folder-thin:before {
  font-family: 'data-document' !important;
  content: "\e960";
}
.at-heart-clipboard-thin:before {
  font-family: 'data-document' !important;
  content: "\e961";
}
.at-heart-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e962";
}
.at-heart-folder-thin:before {
  font-family: 'data-document' !important;
  content: "\e963";
}
.at-increase-arrow-up-thin:before {
  font-family: 'data-document' !important;
  content: "\e964";
}
.at-lines-chart-thin:before {
  font-family: 'data-document' !important;
  content: "\e965";
}
.at-lines-clipboard-thin:before {
  font-family: 'data-document' !important;
  content: "\e966";
}
.at-lines-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e967";
}
.at-lines-folder-thin:before {
  font-family: 'data-document' !important;
  content: "\e968";
}
.at-lines-graph-clipboard-thin:before {
  font-family: 'data-document' !important;
  content: "\e969";
}
.at-lines-graph-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e96a";
}
.at-list-clipboard-thin:before {
  font-family: 'data-document' !important;
  content: "\e96b";
}
.at-list-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e96c";
}
.at-list-folder-thin:before {
  font-family: 'data-document' !important;
  content: "\e96d";
}
.at-lock-clipboard-thin:before {
  font-family: 'data-document' !important;
  content: "\e96e";
}
.at-lock-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e96f";
}
.at-lock-folder-thin:before {
  font-family: 'data-document' !important;
  content: "\e970";
}
.at-minus-folder-thin:before {
  font-family: 'data-document' !important;
  content: "\e971";
}
.at-music-clipboard-thin:before {
  font-family: 'data-document' !important;
  content: "\e972";
}
.at-music-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e973";
}
.at-music-folder-thin:before {
  font-family: 'data-document' !important;
  content: "\e974";
}
.at-pages-thin:before {
  font-family: 'data-document' !important;
  content: "\e975";
}
.at-papers-thin:before {
  font-family: 'data-document' !important;
  content: "\e976";
}
.at-pie-chart-circle-thin:before {
  font-family: 'data-document' !important;
  content: "\e977";
}
.at-pie-chart-clipboard-thin:before {
  font-family: 'data-document' !important;
  content: "\e978";
}
.at-pie-chart-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e979";
}
.at-pie-chart-thin:before {
  font-family: 'data-document' !important;
  content: "\e97a";
}
.at-pie-graph-thin:before {
  font-family: 'data-document' !important;
  content: "\e97b";
}
.at-play-clipboard-thin:before {
  font-family: 'data-document' !important;
  content: "\e97c";
}
.at-play-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e97d";
}
.at-play-folder-thin:before {
  font-family: 'data-document' !important;
  content: "\e97e";
}
.at-plus-clipboard-thin:before {
  font-family: 'data-document' !important;
  content: "\e97f";
}
.at-plus-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e980";
}
.at-question-clipboard-thin:before {
  font-family: 'data-document' !important;
  content: "\e981";
}
.at-question-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e982";
}
.at-question-folder-thin:before {
  font-family: 'data-document' !important;
  content: "\e983";
}
.at-shield-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e984";
}
.at-shred-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e985";
}
.at-sound-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e986";
}
.at-split-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e987";
}
.at-star-clipboard-thin:before {
  font-family: 'data-document' !important;
  content: "\e988";
}
.at-star-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e989";
}
.at-star-folder-thin:before {
  font-family: 'data-document' !important;
  content: "\e98a";
}
.at-user-clipboard-thin:before {
  font-family: 'data-document' !important;
  content: "\e98b";
}
.at-user-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e98c";
}
.at-user-folder-thin:before {
  font-family: 'data-document' !important;
  content: "\e98d";
}
.at-vertical-line-chart-thin:before {
  font-family: 'data-document' !important;
  content: "\e98e";
}
.at-voice-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e98f";
}
.at-voice-folder-thin:before {
  font-family: 'data-document' !important;
  content: "\e990";
}
.at-wifi-clipboard-thin:before {
  font-family: 'data-document' !important;
  content: "\e991";
}
.at-wifi-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e992";
}
.at-wifi-folder-thin:before {
  font-family: 'data-document' !important;
  content: "\e993";
}
.at-xmark-clipboard-thin:before {
  font-family: 'data-document' !important;
  content: "\e994";
}
.at-xmark-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e995";
}
.at-xmark-folder-thin:before {
  font-family: 'data-document' !important;
  content: "\e996";
}
.at-zip-file-thin:before {
  font-family: 'data-document' !important;
  content: "\e997";
}
.at-add-folder:before {
  font-family: 'data-document' !important;
  content: "\e998";
}
.at-alert-folder:before {
  font-family: 'data-document' !important;
  content: "\e999";
}
.at-arrow-down-chart:before {
  font-family: 'data-document' !important;
  content: "\e99a";
}
.at-arrow-down-folder:before {
  font-family: 'data-document' !important;
  content: "\e99b";
}
.at-arrow-down-page:before {
  font-family: 'data-document' !important;
  content: "\e99c";
}
.at-arrow-up-graph:before {
  font-family: 'data-document' !important;
  content: "\e99d";
}
.at-blank-folder:before {
  font-family: 'data-document' !important;
  content: "\e99e";
}
.at-block-clipboard:before {
  font-family: 'data-document' !important;
  content: "\e99f";
}
.at-block-file:before {
  font-family: 'data-document' !important;
  content: "\e9a0";
}
.at-block-folder:before {
  font-family: 'data-document' !important;
  content: "\e9a1";
}
.at-broken-file:before {
  font-family: 'data-document' !important;
  content: "\e9a2";
}
.at-broken-folder:before {
  font-family: 'data-document' !important;
  content: "\e9a3";
}
.at-bug-clipboard:before {
  font-family: 'data-document' !important;
  content: "\e9a4";
}
.at-bug-file:before {
  font-family: 'data-document' !important;
  content: "\e9a5";
}
.at-chart-pie-graph:before {
  font-family: 'data-document' !important;
  content: "\e9a6";
}
.at-chart-pie-graph-circle:before {
  font-family: 'data-document' !important;
  content: "\e9a7";
}
.at-check-clipboard:before {
  font-family: 'data-document' !important;
  content: "\e9a8";
}
.at-check-file:before {
  font-family: 'data-document' !important;
  content: "\e9a9";
}
.at-check-folder:before {
  font-family: 'data-document' !important;
  content: "\e9aa";
}
.at-check-list-file:before {
  font-family: 'data-document' !important;
  content: "\e9ab";
}
.at-circle-pie-chart:before {
  font-family: 'data-document' !important;
  content: "\e9ac";
}
.at-clipboard:before {
  font-family: 'data-document' !important;
  content: "\e9ad";
}
.at-clipboard-image:before {
  font-family: 'data-document' !important;
  content: "\e9ae";
}
.at-clipboard-info:before {
  font-family: 'data-document' !important;
  content: "\e9af";
}
.at-clipboard-line-chart:before {
  font-family: 'data-document' !important;
  content: "\e9b0";
}
.at-clipboard-refresh:before {
  font-family: 'data-document' !important;
  content: "\e9b1";
}
.at-clipboard-search:before {
  font-family: 'data-document' !important;
  content: "\e9b2";
}
.at-clipboard-settings:before {
  font-family: 'data-document' !important;
  content: "\e9b3";
}
.at-clipboard-share:before {
  font-family: 'data-document' !important;
  content: "\e9b4";
}
.at-clipboard-shield:before {
  font-family: 'data-document' !important;
  content: "\e9b5";
}
.at-clipboard-sound:before {
  font-family: 'data-document' !important;
  content: "\e9b6";
}
.at-clipboard-video:before {
  font-family: 'data-document' !important;
  content: "\e9b7";
}
.at-clipchart:before {
  font-family: 'data-document' !important;
  content: "\e9b8";
}
.at-coding-file:before {
  font-family: 'data-document' !important;
  content: "\e9b9";
}
.at-decrease-arrow-down:before {
  font-family: 'data-document' !important;
  content: "\e9ba";
}
.at-document:before {
  font-family: 'data-document' !important;
  content: "\e9bb";
}
.at-documents:before {
  font-family: 'data-document' !important;
  content: "\e9bc";
}
.at-dollar-clipboard:before {
  font-family: 'data-document' !important;
  content: "\e9bd";
}
.at-dollar-file:before {
  font-family: 'data-document' !important;
  content: "\e9be";
}
.at-dollar-folder:before {
  font-family: 'data-document' !important;
  content: "\e9bf";
}
.at-dots-clipboard:before {
  font-family: 'data-document' !important;
  content: "\e9c0";
}
.at-dots-file:before {
  font-family: 'data-document' !important;
  content: "\e9c1";
}
.at-dots-folder:before {
  font-family: 'data-document' !important;
  content: "\e9c2";
}
.at-exclamation-clipboard:before {
  font-family: 'data-document' !important;
  content: "\e9c3";
}
.at-exclamation-file:before {
  font-family: 'data-document' !important;
  content: "\e9c4";
}
.at-exclamation-folder:before {
  font-family: 'data-document' !important;
  content: "\e9c5";
}
.at-file:before {
  font-family: 'data-document' !important;
  content: "\e9c6";
}
.at-file-arrow-up:before {
  font-family: 'data-document' !important;
  content: "\e9c7";
}
.at-file-image:before {
  font-family: 'data-document' !important;
  content: "\e9c8";
}
.at-file-info:before {
  font-family: 'data-document' !important;
  content: "\e9c9";
}
.at-file-line:before {
  font-family: 'data-document' !important;
  content: "\e9ca";
}
.at-file-refresh:before {
  font-family: 'data-document' !important;
  content: "\e9cb";
}
.at-file-search:before {
  font-family: 'data-document' !important;
  content: "\e9cc";
}
.at-file-settings:before {
  font-family: 'data-document' !important;
  content: "\e9cd";
}
.at-file-share:before {
  font-family: 'data-document' !important;
  content: "\e9ce";
}
.at-file-shield:before {
  font-family: 'data-document' !important;
  content: "\e9cf";
}
.at-file-sound:before {
  font-family: 'data-document' !important;
  content: "\e9d0";
}
.at-file-video:before {
  font-family: 'data-document' !important;
  content: "\e9d1";
}
.at-folder:before {
  font-family: 'data-document' !important;
  content: "\e9d2";
}
.at-folder-arrow-down:before {
  font-family: 'data-document' !important;
  content: "\e9d3";
}
.at-folder-arrow-up:before {
  font-family: 'data-document' !important;
  content: "\e9d4";
}
.at-folder-block:before {
  font-family: 'data-document' !important;
  content: "\e9d5";
}
.at-folder-broken:before {
  font-family: 'data-document' !important;
  content: "\e9d6";
}
.at-folder-check:before {
  font-family: 'data-document' !important;
  content: "\e9d7";
}
.at-folder-dollar:before {
  font-family: 'data-document' !important;
  content: "\e9d8";
}
.at-folder-dots:before {
  font-family: 'data-document' !important;
  content: "\e9d9";
}
.at-folder-graph:before {
  font-family: 'data-document' !important;
  content: "\e9da";
}
.at-folder-heart:before {
  font-family: 'data-document' !important;
  content: "\e9db";
}
.at-folder-image:before {
  font-family: 'data-document' !important;
  content: "\e9dc";
}
.at-folder-info:before {
  font-family: 'data-document' !important;
  content: "\e9dd";
}
.at-folder-line:before {
  font-family: 'data-document' !important;
  content: "\e9de";
}
.at-folder-list:before {
  font-family: 'data-document' !important;
  content: "\e9df";
}
.at-folder-lock:before {
  font-family: 'data-document' !important;
  content: "\e9e0";
}
.at-folder-minus:before {
  font-family: 'data-document' !important;
  content: "\e9e1";
}
.at-folder-music:before {
  font-family: 'data-document' !important;
  content: "\e9e2";
}
.at-folder-play:before {
  font-family: 'data-document' !important;
  content: "\e9e3";
}
.at-folder-plus:before {
  font-family: 'data-document' !important;
  content: "\e9e4";
}
.at-folder-question:before {
  font-family: 'data-document' !important;
  content: "\e9e5";
}
.at-folder-search:before {
  font-family: 'data-document' !important;
  content: "\e9e6";
}
.at-folder-settings:before {
  font-family: 'data-document' !important;
  content: "\e9e7";
}
.at-folder-sharing:before {
  font-family: 'data-document' !important;
  content: "\e9e8";
}
.at-folder-shield:before {
  font-family: 'data-document' !important;
  content: "\e9e9";
}
.at-folder-sound:before {
  font-family: 'data-document' !important;
  content: "\e9ea";
}
.at-folder-star:before {
  font-family: 'data-document' !important;
  content: "\e9eb";
}
.at-folder-text:before {
  font-family: 'data-document' !important;
  content: "\e9ec";
}
.at-folder-transfer:before {
  font-family: 'data-document' !important;
  content: "\e9ed";
}
.at-folder-up:before {
  font-family: 'data-document' !important;
  content: "\e9ee";
}
.at-folder-user:before {
  font-family: 'data-document' !important;
  content: "\e9ef";
}
.at-folder-video:before {
  font-family: 'data-document' !important;
  content: "\e9f0";
}
.at-folder-voice:before {
  font-family: 'data-document' !important;
  content: "\e9f1";
}
.at-folder-wifi:before {
  font-family: 'data-document' !important;
  content: "\e9f2";
}
.at-folder-xmark:before {
  font-family: 'data-document' !important;
  content: "\e9f3";
}
.at-format-file:before {
  font-family: 'data-document' !important;
  content: "\e9f4";
}
.at-graph-document:before {
  font-family: 'data-document' !important;
  content: "\e9f5";
}
.at-graph-file:before {
  font-family: 'data-document' !important;
  content: "\e9f6";
}
.at-graph-lines-clipboard:before {
  font-family: 'data-document' !important;
  content: "\e9f7";
}
.at-graph-lines-folder:before {
  font-family: 'data-document' !important;
  content: "\e9f8";
}
.at-heart-clipboard:before {
  font-family: 'data-document' !important;
  content: "\e9f9";
}
.at-heart-file:before {
  font-family: 'data-document' !important;
  content: "\e9fa";
}
.at-heart-folder:before {
  font-family: 'data-document' !important;
  content: "\e9fb";
}
.at-increase-arrow-up:before {
  font-family: 'data-document' !important;
  content: "\e9fc";
}
.at-lines-chart:before {
  font-family: 'data-document' !important;
  content: "\e9fd";
}
.at-lines-clipboard:before {
  font-family: 'data-document' !important;
  content: "\e9fe";
}
.at-lines-file:before {
  font-family: 'data-document' !important;
  content: "\e9ff";
}
.at-lines-folder:before {
  font-family: 'data-document' !important;
  content: "\ea00";
}
.at-lines-graph-clipboard:before {
  font-family: 'data-document' !important;
  content: "\ea01";
}
.at-lines-graph-file:before {
  font-family: 'data-document' !important;
  content: "\ea02";
}
.at-list-clipboard:before {
  font-family: 'data-document' !important;
  content: "\ea03";
}
.at-list-file:before {
  font-family: 'data-document' !important;
  content: "\ea04";
}
.at-list-folder:before {
  font-family: 'data-document' !important;
  content: "\ea05";
}
.at-lock-clipboard:before {
  font-family: 'data-document' !important;
  content: "\ea06";
}
.at-lock-file:before {
  font-family: 'data-document' !important;
  content: "\ea07";
}
.at-lock-folder:before {
  font-family: 'data-document' !important;
  content: "\ea08";
}
.at-minus-folder:before {
  font-family: 'data-document' !important;
  content: "\ea09";
}
.at-music-clipboard:before {
  font-family: 'data-document' !important;
  content: "\ea0a";
}
.at-music-file:before {
  font-family: 'data-document' !important;
  content: "\ea0b";
}
.at-music-folder:before {
  font-family: 'data-document' !important;
  content: "\ea0c";
}
.at-pages:before {
  font-family: 'data-document' !important;
  content: "\ea0d";
}
.at-papers:before {
  font-family: 'data-document' !important;
  content: "\ea0e";
}
.at-pie-chart:before {
  font-family: 'data-document' !important;
  content: "\ea0f";
}
.at-pie-chart-circle:before {
  font-family: 'data-document' !important;
  content: "\ea10";
}
.at-pie-chart-clipboard:before {
  font-family: 'data-document' !important;
  content: "\ea11";
}
.at-pie-chart-file:before {
  font-family: 'data-document' !important;
  content: "\ea12";
}
.at-pie-graph:before {
  font-family: 'data-document' !important;
  content: "\ea13";
}
.at-play-clipboard:before {
  font-family: 'data-document' !important;
  content: "\ea14";
}
.at-play-file:before {
  font-family: 'data-document' !important;
  content: "\ea15";
}
.at-play-folder:before {
  font-family: 'data-document' !important;
  content: "\ea16";
}
.at-plus-clipboard:before {
  font-family: 'data-document' !important;
  content: "\ea17";
}
.at-plus-file:before {
  font-family: 'data-document' !important;
  content: "\ea18";
}
.at-question-clipboard:before {
  font-family: 'data-document' !important;
  content: "\ea19";
}
.at-question-file:before {
  font-family: 'data-document' !important;
  content: "\ea1a";
}
.at-question-folder:before {
  font-family: 'data-document' !important;
  content: "\ea1b";
}
.at-shield-file:before {
  font-family: 'data-document' !important;
  content: "\ea1c";
}
.at-shred-file:before {
  font-family: 'data-document' !important;
  content: "\ea1d";
}
.at-sound-file:before {
  font-family: 'data-document' !important;
  content: "\ea1e";
}
.at-split-file:before {
  font-family: 'data-document' !important;
  content: "\ea1f";
}
.at-star-clipboard:before {
  font-family: 'data-document' !important;
  content: "\ea20";
}
.at-star-file:before {
  font-family: 'data-document' !important;
  content: "\ea21";
}
.at-star-folder:before {
  font-family: 'data-document' !important;
  content: "\ea22";
}
.at-user-clipboard:before {
  font-family: 'data-document' !important;
  content: "\ea23";
}
.at-user-file:before {
  font-family: 'data-document' !important;
  content: "\ea24";
}
.at-user-folder:before {
  font-family: 'data-document' !important;
  content: "\ea25";
}
.at-vertical-line-chart:before {
  font-family: 'data-document' !important;
  content: "\ea26";
}
.at-voice-file:before {
  font-family: 'data-document' !important;
  content: "\ea27";
}
.at-voice-folder:before {
  font-family: 'data-document' !important;
  content: "\ea28";
}
.at-wifi-clipboard:before {
  font-family: 'data-document' !important;
  content: "\ea29";
}
.at-wifi-file:before {
  font-family: 'data-document' !important;
  content: "\ea2a";
}
.at-wifi-folder:before {
  font-family: 'data-document' !important;
  content: "\ea2b";
}
.at-xmark-clipboard:before {
  font-family: 'data-document' !important;
  content: "\ea2c";
}
.at-xmark-file:before {
  font-family: 'data-document' !important;
  content: "\ea2d";
}
.at-xmark-folder:before {
  font-family: 'data-document' !important;
  content: "\ea2e";
}
.at-zip-file:before {
  font-family: 'data-document' !important;
  content: "\ea2f";
}
.at-add-folder-bold:before {
  font-family: 'data-document' !important;
  content: "\ea30";
}
.at-alert-folder-bold:before {
  font-family: 'data-document' !important;
  content: "\ea31";
}
.at-arrow-down-chart-bold:before {
  font-family: 'data-document' !important;
  content: "\ea32";
}
.at-arrow-down-folder-bold:before {
  font-family: 'data-document' !important;
  content: "\ea33";
}
.at-arrow-down-page-bold:before {
  font-family: 'data-document' !important;
  content: "\ea34";
}
.at-arrow-up-graph-bold:before {
  font-family: 'data-document' !important;
  content: "\ea35";
}
.at-blank-folder-bold:before {
  font-family: 'data-document' !important;
  content: "\ea36";
}
.at-block-clipboard-bold:before {
  font-family: 'data-document' !important;
  content: "\ea37";
}
.at-block-file-bold:before {
  font-family: 'data-document' !important;
  content: "\ea38";
}
.at-block-folder-bold:before {
  font-family: 'data-document' !important;
  content: "\ea39";
}
.at-broken-file-bold:before {
  font-family: 'data-document' !important;
  content: "\ea3a";
}
.at-broken-folder-bold:before {
  font-family: 'data-document' !important;
  content: "\ea3b";
}
.at-bug-clipboard-bold:before {
  font-family: 'data-document' !important;
  content: "\ea3c";
}
.at-bug-file-bold:before {
  font-family: 'data-document' !important;
  content: "\ea3d";
}
.at-chart-pie-graph-bold:before {
  font-family: 'data-document' !important;
  content: "\ea3e";
}
.at-chart-pie-graph-circle-bold:before {
  font-family: 'data-document' !important;
  content: "\ea3f";
}
.at-check-clipboard-bold:before {
  font-family: 'data-document' !important;
  content: "\ea40";
}
.at-check-file-bold:before {
  font-family: 'data-document' !important;
  content: "\ea41";
}
.at-check-folder-bold:before {
  font-family: 'data-document' !important;
  content: "\ea42";
}
.at-check-list-file-bold:before {
  font-family: 'data-document' !important;
  content: "\ea43";
}
.at-circle-pie-chart-bold:before {
  font-family: 'data-document' !important;
  content: "\ea44";
}
.at-clipboard-bold:before {
  font-family: 'data-document' !important;
  content: "\ea45";
}
.at-clipboard-image-bold:before {
  font-family: 'data-document' !important;
  content: "\ea46";
}
.at-clipboard-info-bold:before {
  font-family: 'data-document' !important;
  content: "\ea47";
}
.at-clipboard-line-chart-bold:before {
  font-family: 'data-document' !important;
  content: "\ea48";
}
.at-clipboard-refresh-bold:before {
  font-family: 'data-document' !important;
  content: "\ea49";
}
.at-clipboard-search-bold:before {
  font-family: 'data-document' !important;
  content: "\ea4a";
}
.at-clipboard-settings-bold:before {
  font-family: 'data-document' !important;
  content: "\ea4b";
}
.at-clipboard-share-bold:before {
  font-family: 'data-document' !important;
  content: "\ea4c";
}
.at-clipboard-shield-bold:before {
  font-family: 'data-document' !important;
  content: "\ea4d";
}
.at-clipboard-sound-bold:before {
  font-family: 'data-document' !important;
  content: "\ea4e";
}
.at-clipboard-video-bold:before {
  font-family: 'data-document' !important;
  content: "\ea4f";
}
.at-clipchart-bold:before {
  font-family: 'data-document' !important;
  content: "\ea50";
}
.at-coding-file-bold:before {
  font-family: 'data-document' !important;
  content: "\ea51";
}
.at-decrease-arrow-down-bold:before {
  font-family: 'data-document' !important;
  content: "\ea52";
}
.at-document-bold:before {
  font-family: 'data-document' !important;
  content: "\ea53";
}
.at-documents-bold:before {
  font-family: 'data-document' !important;
  content: "\ea54";
}
.at-dollar-clipboard-bold:before {
  font-family: 'data-document' !important;
  content: "\ea55";
}
.at-dollar-file-bold:before {
  font-family: 'data-document' !important;
  content: "\ea56";
}
.at-dollar-folder-bold:before {
  font-family: 'data-document' !important;
  content: "\ea57";
}
.at-dots-clipboard-bold:before {
  font-family: 'data-document' !important;
  content: "\ea58";
}
.at-dots-file-bold:before {
  font-family: 'data-document' !important;
  content: "\ea59";
}
.at-dots-folder-bold:before {
  font-family: 'data-document' !important;
  content: "\ea5a";
}
.at-exclamation-clipboard-bold:before {
  font-family: 'data-document' !important;
  content: "\ea5b";
}
.at-exclamation-file-bold:before {
  font-family: 'data-document' !important;
  content: "\ea5c";
}
.at-exclamation-folder-bold:before {
  font-family: 'data-document' !important;
  content: "\ea5d";
}
.at-file-arrow-up-bold:before {
  font-family: 'data-document' !important;
  content: "\ea5e";
}
.at-file-bold:before {
  font-family: 'data-document' !important;
  content: "\ea5f";
}
.at-file-image-bold:before {
  font-family: 'data-document' !important;
  content: "\ea60";
}
.at-file-info-bold:before {
  font-family: 'data-document' !important;
  content: "\ea61";
}
.at-file-line-bold:before {
  font-family: 'data-document' !important;
  content: "\ea62";
}
.at-file-refresh-bold:before {
  font-family: 'data-document' !important;
  content: "\ea63";
}
.at-file-search-bold:before {
  font-family: 'data-document' !important;
  content: "\ea64";
}
.at-file-settings-bold:before {
  font-family: 'data-document' !important;
  content: "\ea65";
}
.at-file-share-bold:before {
  font-family: 'data-document' !important;
  content: "\ea66";
}
.at-file-shield-bold:before {
  font-family: 'data-document' !important;
  content: "\ea67";
}
.at-file-sound-bold:before {
  font-family: 'data-document' !important;
  content: "\ea68";
}
.at-file-video-bold:before {
  font-family: 'data-document' !important;
  content: "\ea69";
}
.at-folder-arrow-down-bold:before {
  font-family: 'data-document' !important;
  content: "\ea6a";
}
.at-folder-arrow-up-bold:before {
  font-family: 'data-document' !important;
  content: "\ea6b";
}
.at-folder-block-bold:before {
  font-family: 'data-document' !important;
  content: "\ea6c";
}
.at-folder-bold:before {
  font-family: 'data-document' !important;
  content: "\ea6d";
}
.at-folder-broken-bold:before {
  font-family: 'data-document' !important;
  content: "\ea6e";
}
.at-folder-check-bold:before {
  font-family: 'data-document' !important;
  content: "\ea6f";
}
.at-folder-dollar-bold:before {
  font-family: 'data-document' !important;
  content: "\ea70";
}
.at-folder-dots-bold:before {
  font-family: 'data-document' !important;
  content: "\ea71";
}
.at-folder-graph-bold:before {
  font-family: 'data-document' !important;
  content: "\ea72";
}
.at-folder-heart-bold:before {
  font-family: 'data-document' !important;
  content: "\ea73";
}
.at-folder-image-bold:before {
  font-family: 'data-document' !important;
  content: "\ea74";
}
.at-folder-info-bold:before {
  font-family: 'data-document' !important;
  content: "\ea75";
}
.at-folder-line-bold:before {
  font-family: 'data-document' !important;
  content: "\ea76";
}
.at-folder-list-bold:before {
  font-family: 'data-document' !important;
  content: "\ea77";
}
.at-folder-lock-bold:before {
  font-family: 'data-document' !important;
  content: "\ea78";
}
.at-folder-minus-bold:before {
  font-family: 'data-document' !important;
  content: "\ea79";
}
.at-folder-music-bold:before {
  font-family: 'data-document' !important;
  content: "\ea7a";
}
.at-folder-play-bold:before {
  font-family: 'data-document' !important;
  content: "\ea7b";
}
.at-folder-plus-bold:before {
  font-family: 'data-document' !important;
  content: "\ea7c";
}
.at-folder-question-bold:before {
  font-family: 'data-document' !important;
  content: "\ea7d";
}
.at-folder-search-bold:before {
  font-family: 'data-document' !important;
  content: "\ea7e";
}
.at-folder-settings-bold:before {
  font-family: 'data-document' !important;
  content: "\ea7f";
}
.at-folder-sharing-bold:before {
  font-family: 'data-document' !important;
  content: "\ea80";
}
.at-folder-shield-bold:before {
  font-family: 'data-document' !important;
  content: "\ea81";
}
.at-folder-sound-bold:before {
  font-family: 'data-document' !important;
  content: "\ea82";
}
.at-folder-star-bold:before {
  font-family: 'data-document' !important;
  content: "\ea83";
}
.at-folder-text-bold:before {
  font-family: 'data-document' !important;
  content: "\ea84";
}
.at-folder-transfer-bold:before {
  font-family: 'data-document' !important;
  content: "\ea85";
}
.at-folder-up-bold:before {
  font-family: 'data-document' !important;
  content: "\ea86";
}
.at-folder-user-bold:before {
  font-family: 'data-document' !important;
  content: "\ea87";
}
.at-folder-video-bold:before {
  font-family: 'data-document' !important;
  content: "\ea88";
}
.at-folder-voice-bold:before {
  font-family: 'data-document' !important;
  content: "\ea89";
}
.at-folder-wifi-bold:before {
  font-family: 'data-document' !important;
  content: "\ea8a";
}
.at-folder-xmark-bold:before {
  font-family: 'data-document' !important;
  content: "\ea8b";
}
.at-format-file-bold:before {
  font-family: 'data-document' !important;
  content: "\ea8c";
}
.at-graph-document-bold:before {
  font-family: 'data-document' !important;
  content: "\ea8d";
}
.at-graph-file-bold:before {
  font-family: 'data-document' !important;
  content: "\ea8e";
}
.at-graph-lines-clipboard-bold:before {
  font-family: 'data-document' !important;
  content: "\ea8f";
}
.at-graph-lines-folder-bold:before {
  font-family: 'data-document' !important;
  content: "\ea90";
}
.at-heart-clipboard-bold:before {
  font-family: 'data-document' !important;
  content: "\ea91";
}
.at-heart-file-bold:before {
  font-family: 'data-document' !important;
  content: "\ea92";
}
.at-heart-folder-bold:before {
  font-family: 'data-document' !important;
  content: "\ea93";
}
.at-increase-arrow-up-bold:before {
  font-family: 'data-document' !important;
  content: "\ea94";
}
.at-lines-chart-bold:before {
  font-family: 'data-document' !important;
  content: "\ea95";
}
.at-lines-clipboard-bold:before {
  font-family: 'data-document' !important;
  content: "\ea96";
}
.at-lines-file-bold:before {
  font-family: 'data-document' !important;
  content: "\ea97";
}
.at-lines-folder-bold:before {
  font-family: 'data-document' !important;
  content: "\ea98";
}
.at-lines-graph-clipboard-bold:before {
  font-family: 'data-document' !important;
  content: "\ea99";
}
.at-lines-graph-file-bold:before {
  font-family: 'data-document' !important;
  content: "\ea9a";
}
.at-list-clipboard-bold:before {
  font-family: 'data-document' !important;
  content: "\ea9b";
}
.at-list-file-bold:before {
  font-family: 'data-document' !important;
  content: "\ea9c";
}
.at-list-folder-bold:before {
  font-family: 'data-document' !important;
  content: "\ea9d";
}
.at-lock-clipboard-bold:before {
  font-family: 'data-document' !important;
  content: "\ea9e";
}
.at-lock-file-bold:before {
  font-family: 'data-document' !important;
  content: "\ea9f";
}
.at-lock-folder-bold:before {
  font-family: 'data-document' !important;
  content: "\eaa0";
}
.at-minus-folder-bold:before {
  font-family: 'data-document' !important;
  content: "\eaa1";
}
.at-music-clipboard-bold:before {
  font-family: 'data-document' !important;
  content: "\eaa2";
}
.at-music-file-bold:before {
  font-family: 'data-document' !important;
  content: "\eaa3";
}
.at-music-folder-bold:before {
  font-family: 'data-document' !important;
  content: "\eaa4";
}
.at-pages-bold:before {
  font-family: 'data-document' !important;
  content: "\eaa5";
}
.at-papers-bold:before {
  font-family: 'data-document' !important;
  content: "\eaa6";
}
.at-pie-chart-bold:before {
  font-family: 'data-document' !important;
  content: "\eaa7";
}
.at-pie-chart-circle-bold:before {
  font-family: 'data-document' !important;
  content: "\eaa8";
}
.at-pie-chart-clipboard-bold:before {
  font-family: 'data-document' !important;
  content: "\eaa9";
}
.at-pie-chart-file-bold:before {
  font-family: 'data-document' !important;
  content: "\eaaa";
}
.at-pie-graph-bold:before {
  font-family: 'data-document' !important;
  content: "\eaab";
}
.at-play-clipboard-bold:before {
  font-family: 'data-document' !important;
  content: "\eaac";
}
.at-play-file-bold:before {
  font-family: 'data-document' !important;
  content: "\eaad";
}
.at-play-folder-bold:before {
  font-family: 'data-document' !important;
  content: "\eaae";
}
.at-plus-clipboard-bold:before {
  font-family: 'data-document' !important;
  content: "\eaaf";
}
.at-plus-file-bold:before {
  font-family: 'data-document' !important;
  content: "\eab0";
}
.at-question-clipboard-bold:before {
  font-family: 'data-document' !important;
  content: "\eab1";
}
.at-question-file-bold:before {
  font-family: 'data-document' !important;
  content: "\eab2";
}
.at-question-folder-bold:before {
  font-family: 'data-document' !important;
  content: "\eab3";
}
.at-shield-file-bold:before {
  font-family: 'data-document' !important;
  content: "\eab4";
}
.at-shred-file-bold:before {
  font-family: 'data-document' !important;
  content: "\eab5";
}
.at-sound-file-bold:before {
  font-family: 'data-document' !important;
  content: "\eab6";
}
.at-split-file-bold:before {
  font-family: 'data-document' !important;
  content: "\eab7";
}
.at-star-clipboard-bold:before {
  font-family: 'data-document' !important;
  content: "\eab8";
}
.at-star-file-bold:before {
  font-family: 'data-document' !important;
  content: "\eab9";
}
.at-star-folder-bold:before {
  font-family: 'data-document' !important;
  content: "\eaba";
}
.at-user-clipboard-bold:before {
  font-family: 'data-document' !important;
  content: "\eabb";
}
.at-user-file-bold:before {
  font-family: 'data-document' !important;
  content: "\eabc";
}
.at-user-folder-bold:before {
  font-family: 'data-document' !important;
  content: "\eabd";
}
.at-vertical-line-chart-bold:before {
  font-family: 'data-document' !important;
  content: "\eabe";
}
.at-voice-file-bold:before {
  font-family: 'data-document' !important;
  content: "\eabf";
}
.at-voice-folder-bold:before {
  font-family: 'data-document' !important;
  content: "\eac0";
}
.at-wifi-clipboard-bold:before {
  font-family: 'data-document' !important;
  content: "\eac1";
}
.at-wifi-file-bold:before {
  font-family: 'data-document' !important;
  content: "\eac2";
}
.at-wifi-folder-bold:before {
  font-family: 'data-document' !important;
  content: "\eac3";
}
.at-xmark-clipboard-bold:before {
  font-family: 'data-document' !important;
  content: "\eac4";
}
.at-xmark-file-bold:before {
  font-family: 'data-document' !important;
  content: "\eac5";
}
.at-xmark-folder-bold:before {
  font-family: 'data-document' !important;
  content: "\eac6";
}
.at-zip-file-bold:before {
  font-family: 'data-document' !important;
  content: "\eac7";
}
