@font-face {
  font-family: 'cinema';
  src:  url('fonts/cinema.eot?lfkjif');
  src:  url('fonts/cinema.eot?lfkjif#iefix') format('embedded-opentype'),
    url('fonts/cinema.ttf?lfkjif') format('truetype'),
    url('fonts/cinema.woff?lfkjif') format('woff'),
    url('fonts/cinema.svg?lfkjif#cinema') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.at-adult-18-thin:before {
  font-family: 'cinema' !important;
  content: "\e900";
}
.at-camcorder-thin:before {
  font-family: 'cinema' !important;
  content: "\e901";
}
.at-camera-film-thin:before {
  font-family: 'cinema' !important;
  content: "\e902";
}
.at-camera-lens-thin:before {
  font-family: 'cinema' !important;
  content: "\e903";
}
.at-camera-stand-thin:before {
  font-family: 'cinema' !important;
  content: "\e904";
}
.at-camera-wheels-thin:before {
  font-family: 'cinema' !important;
  content: "\e905";
}
.at-cc-comment-thin:before {
  font-family: 'cinema' !important;
  content: "\e906";
}
.at-cc-square-thin:before {
  font-family: 'cinema' !important;
  content: "\e907";
}
.at-check-ticket-thin:before {
  font-family: 'cinema' !important;
  content: "\e908";
}
.at-cinema-chair-thin:before {
  font-family: 'cinema' !important;
  content: "\e909";
}
.at-cinema-thin:before {
  font-family: 'cinema' !important;
  content: "\e90a";
}
.at-comment-captions-thin:before {
  font-family: 'cinema' !important;
  content: "\e90b";
}
.at-count-1-thin:before {
  font-family: 'cinema' !important;
  content: "\e90c";
}
.at-countdown-2-thin:before {
  font-family: 'cinema' !important;
  content: "\e90d";
}
.at-countdown-3-thin:before {
  font-family: 'cinema' !important;
  content: "\e90e";
}
.at-cup-straw-thin:before {
  font-family: 'cinema' !important;
  content: "\e90f";
}
.at-curved-2d-thin:before {
  font-family: 'cinema' !important;
  content: "\e910";
}
.at-curved-3d-thin:before {
  font-family: 'cinema' !important;
  content: "\e911";
}
.at-curved-4d-thin:before {
  font-family: 'cinema' !important;
  content: "\e912";
}
.at-curved-4k-thin:before {
  font-family: 'cinema' !important;
  content: "\e913";
}
.at-curved-hd-thin:before {
  font-family: 'cinema' !important;
  content: "\e914";
}
.at-cut-film-thin:before {
  font-family: 'cinema' !important;
  content: "\e915";
}
.at-desktop-computer-2d-thin:before {
  font-family: 'cinema' !important;
  content: "\e916";
}
.at-desktop-computer-3d-thin:before {
  font-family: 'cinema' !important;
  content: "\e917";
}
.at-desktop-computer-4d-thin:before {
  font-family: 'cinema' !important;
  content: "\e918";
}
.at-desktop-computer-4k-thin:before {
  font-family: 'cinema' !important;
  content: "\e919";
}
.at-drone-tech-thin:before {
  font-family: 'cinema' !important;
  content: "\e91a";
}
.at-exit-sign-thin:before {
  font-family: 'cinema' !important;
  content: "\e91b";
}
.at-film-light-thin:before {
  font-family: 'cinema' !important;
  content: "\e91c";
}
.at-film-music-thin:before {
  font-family: 'cinema' !important;
  content: "\e91d";
}
.at-film-play-thin:before {
  font-family: 'cinema' !important;
  content: "\e91e";
}
.at-fold-chair-thin:before {
  font-family: 'cinema' !important;
  content: "\e91f";
}
.at-glasses-3d-thin:before {
  font-family: 'cinema' !important;
  content: "\e920";
}
.at-glasses-mask-thin:before {
  font-family: 'cinema' !important;
  content: "\e921";
}
.at-hd-desktop-thin:before {
  font-family: 'cinema' !important;
  content: "\e922";
}
.at-movie-camera-thin:before {
  font-family: 'cinema' !important;
  content: "\e923";
}
.at-movie-film-thin:before {
  font-family: 'cinema' !important;
  content: "\e924";
}
.at-movie-ticket-thin:before {
  font-family: 'cinema' !important;
  content: "\e925";
}
.at-movie-trophy-thin:before {
  font-family: 'cinema' !important;
  content: "\e926";
}
.at-music-film-thin:before {
  font-family: 'cinema' !important;
  content: "\e927";
}
.at-pause-circle-thin:before {
  font-family: 'cinema' !important;
  content: "\e928";
}
.at-pen-film-thin:before {
  font-family: 'cinema' !important;
  content: "\e929";
}
.at-play-calendar-thin:before {
  font-family: 'cinema' !important;
  content: "\e92a";
}
.at-play-circle-thin:before {
  font-family: 'cinema' !important;
  content: "\e92b";
}
.at-play-clip-thin:before {
  font-family: 'cinema' !important;
  content: "\e92c";
}
.at-play-film-thin:before {
  font-family: 'cinema' !important;
  content: "\e92d";
}
.at-play-movie-thin:before {
  font-family: 'cinema' !important;
  content: "\e92e";
}
.at-play-projector-thin:before {
  font-family: 'cinema' !important;
  content: "\e92f";
}
.at-play-ticket-thin:before {
  font-family: 'cinema' !important;
  content: "\e930";
}
.at-plus-ticket-thin:before {
  font-family: 'cinema' !important;
  content: "\e931";
}
.at-popcorn-thin:before {
  font-family: 'cinema' !important;
  content: "\e932";
}
.at-projector-thin:before {
  font-family: 'cinema' !important;
  content: "\e933";
}
.at-record-square-thin:before {
  font-family: 'cinema' !important;
  content: "\e934";
}
.at-red-carpet-thin:before {
  font-family: 'cinema' !important;
  content: "\e935";
}
.at-speakers-thin:before {
  font-family: 'cinema' !important;
  content: "\e936";
}
.at-stand-camera-thin:before {
  font-family: 'cinema' !important;
  content: "\e937";
}
.at-star-award-thin:before {
  font-family: 'cinema' !important;
  content: "\e938";
}
.at-star-bookmark-thin:before {
  font-family: 'cinema' !important;
  content: "\e939";
}
.at-star-square-thin:before {
  font-family: 'cinema' !important;
  content: "\e93a";
}
.at-star-ticket-thin:before {
  font-family: 'cinema' !important;
  content: "\e93b";
}
.at-stop-circle-thin:before {
  font-family: 'cinema' !important;
  content: "\e93c";
}
.at-ticket-check-thin:before {
  font-family: 'cinema' !important;
  content: "\e93d";
}
.at-ticket-play-thin:before {
  font-family: 'cinema' !important;
  content: "\e93e";
}
.at-ticket-plus-thin:before {
  font-family: 'cinema' !important;
  content: "\e93f";
}
.at-ticket-star-thin:before {
  font-family: 'cinema' !important;
  content: "\e940";
}
.at-ticket-thin:before {
  font-family: 'cinema' !important;
  content: "\e941";
}
.at-ticket-xmark-thin:before {
  font-family: 'cinema' !important;
  content: "\e942";
}
.at-time-movie-thin:before {
  font-family: 'cinema' !important;
  content: "\e943";
}
.at-timer-movie-thin:before {
  font-family: 'cinema' !important;
  content: "\e944";
}
.at-xmark-ticket-thin:before {
  font-family: 'cinema' !important;
  content: "\e945";
}
.at-adult-18:before {
  font-family: 'cinema' !important;
  content: "\e946";
}
.at-camcorder:before {
  font-family: 'cinema' !important;
  content: "\e947";
}
.at-camera-film:before {
  font-family: 'cinema' !important;
  content: "\e948";
}
.at-camera-lens:before {
  font-family: 'cinema' !important;
  content: "\e949";
}
.at-camera-stand:before {
  font-family: 'cinema' !important;
  content: "\e94a";
}
.at-camera-wheels:before {
  font-family: 'cinema' !important;
  content: "\e94b";
}
.at-cc-comment:before {
  font-family: 'cinema' !important;
  content: "\e94c";
}
.at-cc-square:before {
  font-family: 'cinema' !important;
  content: "\e94d";
}
.at-check-ticket:before {
  font-family: 'cinema' !important;
  content: "\e94e";
}
.at-cinema:before {
  font-family: 'cinema' !important;
  content: "\e94f";
}
.at-cinema-chair:before {
  font-family: 'cinema' !important;
  content: "\e950";
}
.at-comment-captions:before {
  font-family: 'cinema' !important;
  content: "\e951";
}
.at-count-1:before {
  font-family: 'cinema' !important;
  content: "\e952";
}
.at-countdown-2:before {
  font-family: 'cinema' !important;
  content: "\e953";
}
.at-countdown-3:before {
  font-family: 'cinema' !important;
  content: "\e954";
}
.at-cup-straw:before {
  font-family: 'cinema' !important;
  content: "\e955";
}
.at-curved-2d:before {
  font-family: 'cinema' !important;
  content: "\e956";
}
.at-curved-3d:before {
  font-family: 'cinema' !important;
  content: "\e957";
}
.at-curved-4d:before {
  font-family: 'cinema' !important;
  content: "\e958";
}
.at-curved-4k:before {
  font-family: 'cinema' !important;
  content: "\e959";
}
.at-curved-hd:before {
  font-family: 'cinema' !important;
  content: "\e95a";
}
.at-cut-film:before {
  font-family: 'cinema' !important;
  content: "\e95b";
}
.at-desktop-computer-2d:before {
  font-family: 'cinema' !important;
  content: "\e95c";
}
.at-desktop-computer-3d:before {
  font-family: 'cinema' !important;
  content: "\e95d";
}
.at-desktop-computer-4d:before {
  font-family: 'cinema' !important;
  content: "\e95e";
}
.at-desktop-computer-4k:before {
  font-family: 'cinema' !important;
  content: "\e95f";
}
.at-drone-tech:before {
  font-family: 'cinema' !important;
  content: "\e960";
}
.at-exit-sign:before {
  font-family: 'cinema' !important;
  content: "\e961";
}
.at-film-light:before {
  font-family: 'cinema' !important;
  content: "\e962";
}
.at-film-music:before {
  font-family: 'cinema' !important;
  content: "\e963";
}
.at-film-play:before {
  font-family: 'cinema' !important;
  content: "\e964";
}
.at-fold-chair:before {
  font-family: 'cinema' !important;
  content: "\e965";
}
.at-glasses-3d:before {
  font-family: 'cinema' !important;
  content: "\e966";
}
.at-glasses-mask:before {
  font-family: 'cinema' !important;
  content: "\e967";
}
.at-hd-desktop:before {
  font-family: 'cinema' !important;
  content: "\e968";
}
.at-movie-camera:before {
  font-family: 'cinema' !important;
  content: "\e969";
}
.at-movie-film:before {
  font-family: 'cinema' !important;
  content: "\e96a";
}
.at-movie-ticket:before {
  font-family: 'cinema' !important;
  content: "\e96b";
}
.at-movie-trophy:before {
  font-family: 'cinema' !important;
  content: "\e96c";
}
.at-music-film:before {
  font-family: 'cinema' !important;
  content: "\e96d";
}
.at-pause-circle:before {
  font-family: 'cinema' !important;
  content: "\e96e";
}
.at-pen-film:before {
  font-family: 'cinema' !important;
  content: "\e96f";
}
.at-play-calendar:before {
  font-family: 'cinema' !important;
  content: "\e970";
}
.at-play-circle:before {
  font-family: 'cinema' !important;
  content: "\e971";
}
.at-play-clip:before {
  font-family: 'cinema' !important;
  content: "\e972";
}
.at-play-film:before {
  font-family: 'cinema' !important;
  content: "\e973";
}
.at-play-movie:before {
  font-family: 'cinema' !important;
  content: "\e974";
}
.at-play-projector:before {
  font-family: 'cinema' !important;
  content: "\e975";
}
.at-play-ticket:before {
  font-family: 'cinema' !important;
  content: "\e976";
}
.at-plus-ticket:before {
  font-family: 'cinema' !important;
  content: "\e977";
}
.at-popcorn:before {
  font-family: 'cinema' !important;
  content: "\e978";
}
.at-projector:before {
  font-family: 'cinema' !important;
  content: "\e979";
}
.at-record-square:before {
  font-family: 'cinema' !important;
  content: "\e97a";
}
.at-red-carpet:before {
  font-family: 'cinema' !important;
  content: "\e97b";
}
.at-speakers:before {
  font-family: 'cinema' !important;
  content: "\e97c";
}
.at-stand-camera:before {
  font-family: 'cinema' !important;
  content: "\e97d";
}
.at-star-award:before {
  font-family: 'cinema' !important;
  content: "\e97e";
}
.at-star-bookmark:before {
  font-family: 'cinema' !important;
  content: "\e97f";
}
.at-star-square:before {
  font-family: 'cinema' !important;
  content: "\e980";
}
.at-star-ticket:before {
  font-family: 'cinema' !important;
  content: "\e981";
}
.at-stop-circle:before {
  font-family: 'cinema' !important;
  content: "\e982";
}
.at-ticket:before {
  font-family: 'cinema' !important;
  content: "\e983";
}
.at-ticket-check:before {
  font-family: 'cinema' !important;
  content: "\e984";
}
.at-ticket-play:before {
  font-family: 'cinema' !important;
  content: "\e985";
}
.at-ticket-plus:before {
  font-family: 'cinema' !important;
  content: "\e986";
}
.at-ticket-star:before {
  font-family: 'cinema' !important;
  content: "\e987";
}
.at-ticket-xmark:before {
  font-family: 'cinema' !important;
  content: "\e988";
}
.at-time-movie:before {
  font-family: 'cinema' !important;
  content: "\e989";
}
.at-timer-movie:before {
  font-family: 'cinema' !important;
  content: "\e98a";
}
.at-xmark-ticket:before {
  font-family: 'cinema' !important;
  content: "\e98b";
}
.at-adult-18-bold:before {
  font-family: 'cinema' !important;
  content: "\e98c";
}
.at-camcorder-bold:before {
  font-family: 'cinema' !important;
  content: "\e98d";
}
.at-camera-film-bold:before {
  font-family: 'cinema' !important;
  content: "\e98e";
}
.at-camera-lens-bold:before {
  font-family: 'cinema' !important;
  content: "\e98f";
}
.at-camera-stand-bold:before {
  font-family: 'cinema' !important;
  content: "\e990";
}
.at-camera-wheels-bold:before {
  font-family: 'cinema' !important;
  content: "\e991";
}
.at-cc-comment-bold:before {
  font-family: 'cinema' !important;
  content: "\e992";
}
.at-cc-square-bold:before {
  font-family: 'cinema' !important;
  content: "\e993";
}
.at-check-ticket-bold:before {
  font-family: 'cinema' !important;
  content: "\e994";
}
.at-cinema-bold:before {
  font-family: 'cinema' !important;
  content: "\e995";
}
.at-cinema-chair-bold:before {
  font-family: 'cinema' !important;
  content: "\e996";
}
.at-comment-captions-bold:before {
  font-family: 'cinema' !important;
  content: "\e997";
}
.at-count-1-bold:before {
  font-family: 'cinema' !important;
  content: "\e998";
}
.at-countdown-2-bold:before {
  font-family: 'cinema' !important;
  content: "\e999";
}
.at-countdown-3-bold:before {
  font-family: 'cinema' !important;
  content: "\e99a";
}
.at-cup-straw-bold:before {
  font-family: 'cinema' !important;
  content: "\e99b";
}
.at-curved-2d-bold:before {
  font-family: 'cinema' !important;
  content: "\e99c";
}
.at-curved-3d-bold:before {
  font-family: 'cinema' !important;
  content: "\e99d";
}
.at-curved-4d-bold:before {
  font-family: 'cinema' !important;
  content: "\e99e";
}
.at-curved-4k-bold:before {
  font-family: 'cinema' !important;
  content: "\e99f";
}
.at-curved-hd-bold:before {
  font-family: 'cinema' !important;
  content: "\e9a0";
}
.at-cut-film-bold:before {
  font-family: 'cinema' !important;
  content: "\e9a1";
}
.at-desktop-computer-2d-bold:before {
  font-family: 'cinema' !important;
  content: "\e9a2";
}
.at-desktop-computer-3d-bold:before {
  font-family: 'cinema' !important;
  content: "\e9a3";
}
.at-desktop-computer-4d-bold:before {
  font-family: 'cinema' !important;
  content: "\e9a4";
}
.at-desktop-computer-4k-bold:before {
  font-family: 'cinema' !important;
  content: "\e9a5";
}
.at-drone-tech-bold:before {
  font-family: 'cinema' !important;
  content: "\e9a6";
}
.at-exit-sign-bold:before {
  font-family: 'cinema' !important;
  content: "\e9a7";
}
.at-film-light-bold:before {
  font-family: 'cinema' !important;
  content: "\e9a8";
}
.at-film-music-bold:before {
  font-family: 'cinema' !important;
  content: "\e9a9";
}
.at-film-play-bold:before {
  font-family: 'cinema' !important;
  content: "\e9aa";
}
.at-fold-chair-bold:before {
  font-family: 'cinema' !important;
  content: "\e9ab";
}
.at-glasses-3d-bold:before {
  font-family: 'cinema' !important;
  content: "\e9ac";
}
.at-glasses-mask-bold:before {
  font-family: 'cinema' !important;
  content: "\e9ad";
}
.at-hd-desktop-bold:before {
  font-family: 'cinema' !important;
  content: "\e9ae";
}
.at-movie-camera-bold:before {
  font-family: 'cinema' !important;
  content: "\e9af";
}
.at-movie-film-bold:before {
  font-family: 'cinema' !important;
  content: "\e9b0";
}
.at-movie-ticket-bold:before {
  font-family: 'cinema' !important;
  content: "\e9b1";
}
.at-movie-trophy-bold:before {
  font-family: 'cinema' !important;
  content: "\e9b2";
}
.at-music-film-bold:before {
  font-family: 'cinema' !important;
  content: "\e9b3";
}
.at-pause-circle-bold:before {
  font-family: 'cinema' !important;
  content: "\e9b4";
}
.at-pen-film-bold:before {
  font-family: 'cinema' !important;
  content: "\e9b5";
}
.at-play-calendar-bold:before {
  font-family: 'cinema' !important;
  content: "\e9b6";
}
.at-play-circle-bold:before {
  font-family: 'cinema' !important;
  content: "\e9b7";
}
.at-play-clip-bold:before {
  font-family: 'cinema' !important;
  content: "\e9b8";
}
.at-play-film-bold:before {
  font-family: 'cinema' !important;
  content: "\e9b9";
}
.at-play-movie-bold:before {
  font-family: 'cinema' !important;
  content: "\e9ba";
}
.at-play-projector-bold:before {
  font-family: 'cinema' !important;
  content: "\e9bb";
}
.at-play-ticket-bold:before {
  font-family: 'cinema' !important;
  content: "\e9bc";
}
.at-plus-ticket-bold:before {
  font-family: 'cinema' !important;
  content: "\e9bd";
}
.at-popcorn-bold:before {
  font-family: 'cinema' !important;
  content: "\e9be";
}
.at-projector-bold:before {
  font-family: 'cinema' !important;
  content: "\e9bf";
}
.at-record-square-bold:before {
  font-family: 'cinema' !important;
  content: "\e9c0";
}
.at-red-carpet-bold:before {
  font-family: 'cinema' !important;
  content: "\e9c1";
}
.at-speakers-bold:before {
  font-family: 'cinema' !important;
  content: "\e9c2";
}
.at-stand-camera-bold:before {
  font-family: 'cinema' !important;
  content: "\e9c3";
}
.at-star-award-bold:before {
  font-family: 'cinema' !important;
  content: "\e9c4";
}
.at-star-bookmark-bold:before {
  font-family: 'cinema' !important;
  content: "\e9c5";
}
.at-star-square-bold:before {
  font-family: 'cinema' !important;
  content: "\e9c6";
}
.at-star-ticket-bold:before {
  font-family: 'cinema' !important;
  content: "\e9c7";
}
.at-stop-circle-bold:before {
  font-family: 'cinema' !important;
  content: "\e9c8";
}
.at-ticket-bold:before {
  font-family: 'cinema' !important;
  content: "\e9c9";
}
.at-ticket-check-bold:before {
  font-family: 'cinema' !important;
  content: "\e9ca";
}
.at-ticket-play-bold:before {
  font-family: 'cinema' !important;
  content: "\e9cb";
}
.at-ticket-plus-bold:before {
  font-family: 'cinema' !important;
  content: "\e9cc";
}
.at-ticket-star-bold:before {
  font-family: 'cinema' !important;
  content: "\e9cd";
}
.at-ticket-xmark-bold:before {
  font-family: 'cinema' !important;
  content: "\e9ce";
}
.at-time-movie-bold:before {
  font-family: 'cinema' !important;
  content: "\e9cf";
}
.at-timer-movie-bold:before {
  font-family: 'cinema' !important;
  content: "\e9d0";
}
.at-xmark-ticket-bold:before {
  font-family: 'cinema' !important;
  content: "\e9d1";
}
