@font-face {
  font-family: 'hand-gesture';
  src:  url('fonts/hand-gesture.eot?w2ich6');
  src:  url('fonts/hand-gesture.eot?w2ich6#iefix') format('embedded-opentype'),
    url('fonts/hand-gesture.ttf?w2ich6') format('truetype'),
    url('fonts/hand-gesture.woff?w2ich6') format('woff'),
    url('fonts/hand-gesture.svg?w2ich6#hand-gesture') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.at-click-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e900";
}
.at-count-finger-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e901";
}
.at-double-click-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e902";
}
.at-double-finger-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e903";
}
.at-double-press-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e904";
}
.at-double-touch-finger-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e905";
}
.at-double-touch-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e906";
}
.at-down-move-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e907";
}
.at-drag-down-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e908";
}
.at-drag-left-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e909";
}
.at-drag-right-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e90a";
}
.at-drag-up-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e90b";
}
.at-draw-line-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e90c";
}
.at-draw-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e90d";
}
.at-fist-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e90e";
}
.at-four-finger-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e90f";
}
.at-high-five-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e910";
}
.at-hold-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e911";
}
.at-left-right-move-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e912";
}
.at-middle-finger-gesture-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e913";
}
.at-middle-finger-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e914";
}
.at-move-down-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e915";
}
.at-move-left-right-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e916";
}
.at-move-left-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e917";
}
.at-move-right-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e918";
}
.at-move-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e919";
}
.at-move-up-down-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e91a";
}
.at-move-up-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e91b";
}
.at-one-finger-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e91c";
}
.at-peace-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e91d";
}
.at-photographer-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e91e";
}
.at-pointer-down-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e91f";
}
.at-point-left-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e920";
}
.at-point-right-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e921";
}
.at-point-up-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e922";
}
.at-press-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e923";
}
.at-rocker-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e924";
}
.at-rock-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e925";
}
.at-rotate-left-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e926";
}
.at-rotate-right-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e927";
}
.at-three-finger-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e928";
}
.at-thumbs-down-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e929";
}
.at-thumbs-up-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e92a";
}
.at-touch-gesture-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e92b";
}
.at-two-finger-point-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e92c";
}
.at-two-finger-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e92d";
}
.at-up-down-move-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e92e";
}
.at-up-move-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e92f";
}
.at-zoom-in-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e930";
}
.at-zoom-out-thin:before {
  font-family: 'hand-gesture' !important;
  content: "\e931";
}
.at-click:before {
  font-family: 'hand-gesture' !important;
  content: "\e932";
}
.at-count-finger:before {
  font-family: 'hand-gesture' !important;
  content: "\e933";
}
.at-double-click:before {
  font-family: 'hand-gesture' !important;
  content: "\e934";
}
.at-double-finger:before {
  font-family: 'hand-gesture' !important;
  content: "\e935";
}
.at-double-press:before {
  font-family: 'hand-gesture' !important;
  content: "\e936";
}
.at-double-touch:before {
  font-family: 'hand-gesture' !important;
  content: "\e937";
}
.at-double-touch-finger:before {
  font-family: 'hand-gesture' !important;
  content: "\e938";
}
.at-down-move:before {
  font-family: 'hand-gesture' !important;
  content: "\e939";
}
.at-drag-down:before {
  font-family: 'hand-gesture' !important;
  content: "\e93a";
}
.at-drag-left:before {
  font-family: 'hand-gesture' !important;
  content: "\e93b";
}
.at-drag-right:before {
  font-family: 'hand-gesture' !important;
  content: "\e93c";
}
.at-drag-up:before {
  font-family: 'hand-gesture' !important;
  content: "\e93d";
}
.at-draw:before {
  font-family: 'hand-gesture' !important;
  content: "\e93e";
}
.at-draw-line:before {
  font-family: 'hand-gesture' !important;
  content: "\e93f";
}
.at-fist:before {
  font-family: 'hand-gesture' !important;
  content: "\e940";
}
.at-four-finger:before {
  font-family: 'hand-gesture' !important;
  content: "\e941";
}
.at-high-five:before {
  font-family: 'hand-gesture' !important;
  content: "\e942";
}
.at-hold:before {
  font-family: 'hand-gesture' !important;
  content: "\e943";
}
.at-left-right-move:before {
  font-family: 'hand-gesture' !important;
  content: "\e944";
}
.at-middle-finger:before {
  font-family: 'hand-gesture' !important;
  content: "\e945";
}
.at-middle-finger-gesture:before {
  font-family: 'hand-gesture' !important;
  content: "\e946";
}
.at-move:before {
  font-family: 'hand-gesture' !important;
  content: "\e947";
}
.at-move-down:before {
  font-family: 'hand-gesture' !important;
  content: "\e948";
}
.at-move-left:before {
  font-family: 'hand-gesture' !important;
  content: "\e949";
}
.at-move-left-right:before {
  font-family: 'hand-gesture' !important;
  content: "\e94a";
}
.at-move-right:before {
  font-family: 'hand-gesture' !important;
  content: "\e94b";
}
.at-move-up:before {
  font-family: 'hand-gesture' !important;
  content: "\e94c";
}
.at-move-up-down:before {
  font-family: 'hand-gesture' !important;
  content: "\e94d";
}
.at-one-finger:before {
  font-family: 'hand-gesture' !important;
  content: "\e94e";
}
.at-peace:before {
  font-family: 'hand-gesture' !important;
  content: "\e94f";
}
.at-photographer:before {
  font-family: 'hand-gesture' !important;
  content: "\e950";
}
.at-pointer-down:before {
  font-family: 'hand-gesture' !important;
  content: "\e951";
}
.at-point-left:before {
  font-family: 'hand-gesture' !important;
  content: "\e952";
}
.at-point-right:before {
  font-family: 'hand-gesture' !important;
  content: "\e953";
}
.at-point-up:before {
  font-family: 'hand-gesture' !important;
  content: "\e954";
}
.at-press:before {
  font-family: 'hand-gesture' !important;
  content: "\e955";
}
.at-rock:before {
  font-family: 'hand-gesture' !important;
  content: "\e956";
}
.at-rocker:before {
  font-family: 'hand-gesture' !important;
  content: "\e957";
}
.at-rotate-left:before {
  font-family: 'hand-gesture' !important;
  content: "\e958";
}
.at-rotate-right:before {
  font-family: 'hand-gesture' !important;
  content: "\e959";
}
.at-three-finger:before {
  font-family: 'hand-gesture' !important;
  content: "\e95a";
}
.at-thumbs-down:before {
  font-family: 'hand-gesture' !important;
  content: "\e95b";
}
.at-thumbs-up:before {
  font-family: 'hand-gesture' !important;
  content: "\e95c";
}
.at-touch-gesture:before {
  font-family: 'hand-gesture' !important;
  content: "\e95d";
}
.at-two-finger:before {
  font-family: 'hand-gesture' !important;
  content: "\e95e";
}
.at-two-finger-point:before {
  font-family: 'hand-gesture' !important;
  content: "\e95f";
}
.at-up-down-move:before {
  font-family: 'hand-gesture' !important;
  content: "\e960";
}
.at-up-move:before {
  font-family: 'hand-gesture' !important;
  content: "\e961";
}
.at-zoom-in:before {
  font-family: 'hand-gesture' !important;
  content: "\e962";
}
.at-zoom-out:before {
  font-family: 'hand-gesture' !important;
  content: "\e963";
}
.at-click-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e964";
}
.at-count-finger-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e965";
}
.at-double-click-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e966";
}
.at-double-finger-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e967";
}
.at-double-press-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e968";
}
.at-double-touch-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e969";
}
.at-double-touch-finger-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e96a";
}
.at-down-move-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e96b";
}
.at-drag-down-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e96c";
}
.at-drag-left-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e96d";
}
.at-drag-right-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e96e";
}
.at-drag-up-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e96f";
}
.at-draw-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e970";
}
.at-draw-line-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e971";
}
.at-fist-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e972";
}
.at-four-finger-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e973";
}
.at-high-five-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e974";
}
.at-hold-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e975";
}
.at-left-right-move-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e976";
}
.at-middle-finger-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e977";
}
.at-middle-finger-gesture-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e978";
}
.at-move-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e979";
}
.at-move-down-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e97a";
}
.at-move-left-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e97b";
}
.at-move-left-right-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e97c";
}
.at-move-right-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e97d";
}
.at-move-up-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e97e";
}
.at-move-up-down-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e97f";
}
.at-one-finger-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e980";
}
.at-peace-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e981";
}
.at-photographer-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e982";
}
.at-pointer-down-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e983";
}
.at-point-left-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e984";
}
.at-point-right-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e985";
}
.at-point-up-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e986";
}
.at-press-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e987";
}
.at-rock-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e988";
}
.at-rocker-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e989";
}
.at-rotate-left-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e98a";
}
.at-rotate-right-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e98b";
}
.at-three-finger-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e98c";
}
.at-thumbs-down-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e98d";
}
.at-thumbs-up-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e98e";
}
.at-touch-gesture-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e98f";
}
.at-two-finger-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e990";
}
.at-two-finger-point-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e991";
}
.at-up-down-move-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e992";
}
.at-up-move-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e993";
}
.at-zoom-in-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e994";
}
.at-zoom-out-bold:before {
  font-family: 'hand-gesture' !important;
  content: "\e995";
}
