@font-face {
  font-family: 'furniture';
  src:  url('fonts/furniture.eot?y6vgg3');
  src:  url('fonts/furniture.eot?y6vgg3#iefix') format('embedded-opentype'),
    url('fonts/furniture.ttf?y6vgg3') format('truetype'),
    url('fonts/furniture.woff?y6vgg3') format('woff'),
    url('fonts/furniture.svg?y6vgg3#furniture') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.at-armchair-thin:before {
  font-family: 'furniture' !important;
  content: "\e900";
}
.at-bar-stools-thin:before {
  font-family: 'furniture' !important;
  content: "\e901";
}
.at-bed-sleep-thin:before {
  font-family: 'furniture' !important;
  content: "\e902";
}
.at-bookshelf-thin:before {
  font-family: 'furniture' !important;
  content: "\e903";
}
.at-bunkbeds-thin:before {
  font-family: 'furniture' !important;
  content: "\e904";
}
.at-candle-stick-thin:before {
  font-family: 'furniture' !important;
  content: "\e905";
}
.at-ceiling-lamp-thin:before {
  font-family: 'furniture' !important;
  content: "\e906";
}
.at-ceiling-lighting-thin:before {
  font-family: 'furniture' !important;
  content: "\e907";
}
.at-ceiling-light-thin:before {
  font-family: 'furniture' !important;
  content: "\e908";
}
.at-chair-dining-thin:before {
  font-family: 'furniture' !important;
  content: "\e909";
}
.at-clock-thin:before {
  font-family: 'furniture' !important;
  content: "\e90a";
}
.at-closets-thin:before {
  font-family: 'furniture' !important;
  content: "\e90b";
}
.at-closet-thin:before {
  font-family: 'furniture' !important;
  content: "\e90c";
}
.at-couch-furniture-thin:before {
  font-family: 'furniture' !important;
  content: "\e90d";
}
.at-couch-thin:before {
  font-family: 'furniture' !important;
  content: "\e90e";
}
.at-cupboard-drawers-thin:before {
  font-family: 'furniture' !important;
  content: "\e90f";
}
.at-cupboard-thin:before {
  font-family: 'furniture' !important;
  content: "\e910";
}
.at-desk-lamp-thin:before {
  font-family: 'furniture' !important;
  content: "\e911";
}
.at-desk-thin:before {
  font-family: 'furniture' !important;
  content: "\e912";
}
.at-dining-chair-thin:before {
  font-family: 'furniture' !important;
  content: "\e913";
}
.at-dining-room-chair-thin:before {
  font-family: 'furniture' !important;
  content: "\e914";
}
.at-dining-room-table-thin:before {
  font-family: 'furniture' !important;
  content: "\e915";
}
.at-dining-room-thin:before {
  font-family: 'furniture' !important;
  content: "\e916";
}
.at-dining-table-thin:before {
  font-family: 'furniture' !important;
  content: "\e917";
}
.at-door-thin:before {
  font-family: 'furniture' !important;
  content: "\e918";
}
.at-double-bed-thin:before {
  font-family: 'furniture' !important;
  content: "\e919";
}
.at-double-doors-thin:before {
  font-family: 'furniture' !important;
  content: "\e91a";
}
.at-downstairs-thin:before {
  font-family: 'furniture' !important;
  content: "\e91b";
}
.at-drawers-cupboard-thin:before {
  font-family: 'furniture' !important;
  content: "\e91c";
}
.at-drawers-end-table-thin:before {
  font-family: 'furniture' !important;
  content: "\e91d";
}
.at-drawers-table-thin:before {
  font-family: 'furniture' !important;
  content: "\e91e";
}
.at-end-table-cupboard-thin:before {
  font-family: 'furniture' !important;
  content: "\e91f";
}
.at-end-table-drawers-thin:before {
  font-family: 'furniture' !important;
  content: "\e920";
}
.at-end-table-drawer-thin:before {
  font-family: 'furniture' !important;
  content: "\e921";
}
.at-end-table-lamp-thin:before {
  font-family: 'furniture' !important;
  content: "\e922";
}
.at-end-table-thin:before {
  font-family: 'furniture' !important;
  content: "\e923";
}
.at-faucet-thin:before {
  font-family: 'furniture' !important;
  content: "\e924";
}
.at-fireplace-thin:before {
  font-family: 'furniture' !important;
  content: "\e925";
}
.at-foldable-chair-thin:before {
  font-family: 'furniture' !important;
  content: "\e926";
}
.at-hanging-frame-thin:before {
  font-family: 'furniture' !important;
  content: "\e927";
}
.at-home-window-thin:before {
  font-family: 'furniture' !important;
  content: "\e928";
}
.at-ladder-tool-thin:before {
  font-family: 'furniture' !important;
  content: "\e929";
}
.at-lamp-thin:before {
  font-family: 'furniture' !important;
  content: "\e92a";
}
.at-light-candle-thin:before {
  font-family: 'furniture' !important;
  content: "\e92b";
}
.at-light-thin:before {
  font-family: 'furniture' !important;
  content: "\e92c";
}
.at-living-room-chair-thin:before {
  font-family: 'furniture' !important;
  content: "\e92d";
}
.at-living-room-couch-thin:before {
  font-family: 'furniture' !important;
  content: "\e92e";
}
.at-mirror-thin:before {
  font-family: 'furniture' !important;
  content: "\e92f";
}
.at-potted-plant-thin:before {
  font-family: 'furniture' !important;
  content: "\e930";
}
.at-room-divider-thin:before {
  font-family: 'furniture' !important;
  content: "\e931";
}
.at-rounded-window-thin:before {
  font-family: 'furniture' !important;
  content: "\e932";
}
.at-seat-chair-thin:before {
  font-family: 'furniture' !important;
  content: "\e933";
}
.at-shelf-thin:before {
  font-family: 'furniture' !important;
  content: "\e934";
}
.at-shower-bath-thin:before {
  font-family: 'furniture' !important;
  content: "\e935";
}
.at-shower-curtain-thin:before {
  font-family: 'furniture' !important;
  content: "\e936";
}
.at-showerhead-thin:before {
  font-family: 'furniture' !important;
  content: "\e937";
}
.at-single-bed-thin:before {
  font-family: 'furniture' !important;
  content: "\e938";
}
.at-sink-thin:before {
  font-family: 'furniture' !important;
  content: "\e939";
}
.at-square-mirror-thin:before {
  font-family: 'furniture' !important;
  content: "\e93a";
}
.at-standing-clock-thin:before {
  font-family: 'furniture' !important;
  content: "\e93b";
}
.at-stool-thin:before {
  font-family: 'furniture' !important;
  content: "\e93c";
}
.at-table-dining-thin:before {
  font-family: 'furniture' !important;
  content: "\e93d";
}
.at-table-drawers-thin:before {
  font-family: 'furniture' !important;
  content: "\e93e";
}
.at-toilet-thin:before {
  font-family: 'furniture' !important;
  content: "\e93f";
}
.at-trash-can-thin:before {
  font-family: 'furniture' !important;
  content: "\e940";
}
.at-upstairs-thin:before {
  font-family: 'furniture' !important;
  content: "\e941";
}
.at-urinal-thin:before {
  font-family: 'furniture' !important;
  content: "\e942";
}
.at-wardrobe-mirror-thin:before {
  font-family: 'furniture' !important;
  content: "\e943";
}
.at-window-curtains-thin:before {
  font-family: 'furniture' !important;
  content: "\e944";
}
.at-armchair:before {
  font-family: 'furniture' !important;
  content: "\e945";
}
.at-bar-stools:before {
  font-family: 'furniture' !important;
  content: "\e946";
}
.at-bed-sleep:before {
  font-family: 'furniture' !important;
  content: "\e947";
}
.at-bookshelf:before {
  font-family: 'furniture' !important;
  content: "\e948";
}
.at-bunkbeds:before {
  font-family: 'furniture' !important;
  content: "\e949";
}
.at-candle-stick:before {
  font-family: 'furniture' !important;
  content: "\e94a";
}
.at-ceiling-lamp:before {
  font-family: 'furniture' !important;
  content: "\e94b";
}
.at-ceiling-light:before {
  font-family: 'furniture' !important;
  content: "\e94c";
}
.at-ceiling-lighting:before {
  font-family: 'furniture' !important;
  content: "\e94d";
}
.at-chair-dining:before {
  font-family: 'furniture' !important;
  content: "\e94e";
}
.at-clock:before {
  font-family: 'furniture' !important;
  content: "\e94f";
}
.at-closet:before {
  font-family: 'furniture' !important;
  content: "\e950";
}
.at-closets:before {
  font-family: 'furniture' !important;
  content: "\e951";
}
.at-couch:before {
  font-family: 'furniture' !important;
  content: "\e952";
}
.at-couch-furniture:before {
  font-family: 'furniture' !important;
  content: "\e953";
}
.at-cupboard:before {
  font-family: 'furniture' !important;
  content: "\e954";
}
.at-cupboard-drawers:before {
  font-family: 'furniture' !important;
  content: "\e955";
}
.at-desk:before {
  font-family: 'furniture' !important;
  content: "\e956";
}
.at-desk-lamp:before {
  font-family: 'furniture' !important;
  content: "\e957";
}
.at-dining-chair:before {
  font-family: 'furniture' !important;
  content: "\e958";
}
.at-dining-room:before {
  font-family: 'furniture' !important;
  content: "\e959";
}
.at-dining-room-chair:before {
  font-family: 'furniture' !important;
  content: "\e95a";
}
.at-dining-room-table:before {
  font-family: 'furniture' !important;
  content: "\e95b";
}
.at-dining-table:before {
  font-family: 'furniture' !important;
  content: "\e95c";
}
.at-door:before {
  font-family: 'furniture' !important;
  content: "\e95d";
}
.at-double-bed:before {
  font-family: 'furniture' !important;
  content: "\e95e";
}
.at-double-doors:before {
  font-family: 'furniture' !important;
  content: "\e95f";
}
.at-downstairs:before {
  font-family: 'furniture' !important;
  content: "\e960";
}
.at-drawers-cupboard:before {
  font-family: 'furniture' !important;
  content: "\e961";
}
.at-drawers-end-table:before {
  font-family: 'furniture' !important;
  content: "\e962";
}
.at-drawers-table:before {
  font-family: 'furniture' !important;
  content: "\e963";
}
.at-end-table:before {
  font-family: 'furniture' !important;
  content: "\e964";
}
.at-end-table-cupboard:before {
  font-family: 'furniture' !important;
  content: "\e965";
}
.at-end-table-drawer:before {
  font-family: 'furniture' !important;
  content: "\e966";
}
.at-end-table-drawers:before {
  font-family: 'furniture' !important;
  content: "\e967";
}
.at-end-table-lamp:before {
  font-family: 'furniture' !important;
  content: "\e968";
}
.at-faucet:before {
  font-family: 'furniture' !important;
  content: "\e969";
}
.at-fireplace:before {
  font-family: 'furniture' !important;
  content: "\e96a";
}
.at-foldable-chair:before {
  font-family: 'furniture' !important;
  content: "\e96b";
}
.at-hanging-frame:before {
  font-family: 'furniture' !important;
  content: "\e96c";
}
.at-home-window:before {
  font-family: 'furniture' !important;
  content: "\e96d";
}
.at-ladder-tool:before {
  font-family: 'furniture' !important;
  content: "\e96e";
}
.at-lamp:before {
  font-family: 'furniture' !important;
  content: "\e96f";
}
.at-light:before {
  font-family: 'furniture' !important;
  content: "\e970";
}
.at-light-candle:before {
  font-family: 'furniture' !important;
  content: "\e971";
}
.at-living-room-chair:before {
  font-family: 'furniture' !important;
  content: "\e972";
}
.at-living-room-couch:before {
  font-family: 'furniture' !important;
  content: "\e973";
}
.at-mirror:before {
  font-family: 'furniture' !important;
  content: "\e974";
}
.at-potted-plant:before {
  font-family: 'furniture' !important;
  content: "\e975";
}
.at-room-divider:before {
  font-family: 'furniture' !important;
  content: "\e976";
}
.at-rounded-window:before {
  font-family: 'furniture' !important;
  content: "\e977";
}
.at-seat-chair:before {
  font-family: 'furniture' !important;
  content: "\e978";
}
.at-shelf:before {
  font-family: 'furniture' !important;
  content: "\e979";
}
.at-shower-bath:before {
  font-family: 'furniture' !important;
  content: "\e97a";
}
.at-shower-curtain:before {
  font-family: 'furniture' !important;
  content: "\e97b";
}
.at-showerhead:before {
  font-family: 'furniture' !important;
  content: "\e97c";
}
.at-single-bed:before {
  font-family: 'furniture' !important;
  content: "\e97d";
}
.at-sink:before {
  font-family: 'furniture' !important;
  content: "\e97e";
}
.at-square-mirror:before {
  font-family: 'furniture' !important;
  content: "\e97f";
}
.at-standing-clock:before {
  font-family: 'furniture' !important;
  content: "\e980";
}
.at-stool:before {
  font-family: 'furniture' !important;
  content: "\e981";
}
.at-table-dining:before {
  font-family: 'furniture' !important;
  content: "\e982";
}
.at-table-drawers:before {
  font-family: 'furniture' !important;
  content: "\e983";
}
.at-toilet:before {
  font-family: 'furniture' !important;
  content: "\e984";
}
.at-trash-can:before {
  font-family: 'furniture' !important;
  content: "\e985";
}
.at-upstairs:before {
  font-family: 'furniture' !important;
  content: "\e986";
}
.at-urinal:before {
  font-family: 'furniture' !important;
  content: "\e987";
}
.at-wardrobe-mirror:before {
  font-family: 'furniture' !important;
  content: "\e988";
}
.at-window-curtains:before {
  font-family: 'furniture' !important;
  content: "\e989";
}
.at-armchair-bold:before {
  font-family: 'furniture' !important;
  content: "\e98a";
}
.at-bar-stools-bold:before {
  font-family: 'furniture' !important;
  content: "\e98b";
}
.at-bed-sleep-bold:before {
  font-family: 'furniture' !important;
  content: "\e98c";
}
.at-bookshelf-bold:before {
  font-family: 'furniture' !important;
  content: "\e98d";
}
.at-bunkbeds-bold:before {
  font-family: 'furniture' !important;
  content: "\e98e";
}
.at-candle-stick-bold:before {
  font-family: 'furniture' !important;
  content: "\e98f";
}
.at-ceiling-lamp-bold:before {
  font-family: 'furniture' !important;
  content: "\e990";
}
.at-ceiling-light-bold:before {
  font-family: 'furniture' !important;
  content: "\e991";
}
.at-ceiling-lighting-bold:before {
  font-family: 'furniture' !important;
  content: "\e992";
}
.at-chair-dining-bold:before {
  font-family: 'furniture' !important;
  content: "\e993";
}
.at-clock-bold:before {
  font-family: 'furniture' !important;
  content: "\e994";
}
.at-closet-bold:before {
  font-family: 'furniture' !important;
  content: "\e995";
}
.at-closets-bold:before {
  font-family: 'furniture' !important;
  content: "\e996";
}
.at-couch-bold:before {
  font-family: 'furniture' !important;
  content: "\e997";
}
.at-couch-furniture-bold:before {
  font-family: 'furniture' !important;
  content: "\e998";
}
.at-cupboard-bold:before {
  font-family: 'furniture' !important;
  content: "\e999";
}
.at-cupboard-drawers-bold:before {
  font-family: 'furniture' !important;
  content: "\e99a";
}
.at-desk-bold:before {
  font-family: 'furniture' !important;
  content: "\e99b";
}
.at-desk-lamp-bold:before {
  font-family: 'furniture' !important;
  content: "\e99c";
}
.at-dining-chair-bold:before {
  font-family: 'furniture' !important;
  content: "\e99d";
}
.at-dining-room-bold:before {
  font-family: 'furniture' !important;
  content: "\e99e";
}
.at-dining-room-chair-bold:before {
  font-family: 'furniture' !important;
  content: "\e99f";
}
.at-dining-room-table-bold:before {
  font-family: 'furniture' !important;
  content: "\e9a0";
}
.at-dining-table-bold:before {
  font-family: 'furniture' !important;
  content: "\e9a1";
}
.at-door-bold:before {
  font-family: 'furniture' !important;
  content: "\e9a2";
}
.at-double-bed-bold:before {
  font-family: 'furniture' !important;
  content: "\e9a3";
}
.at-double-doors-bold:before {
  font-family: 'furniture' !important;
  content: "\e9a4";
}
.at-downstairs-bold:before {
  font-family: 'furniture' !important;
  content: "\e9a5";
}
.at-drawers-cupboard-bold:before {
  font-family: 'furniture' !important;
  content: "\e9a6";
}
.at-drawers-end-table-bold:before {
  font-family: 'furniture' !important;
  content: "\e9a7";
}
.at-drawers-table-bold:before {
  font-family: 'furniture' !important;
  content: "\e9a8";
}
.at-end-table-bold:before {
  font-family: 'furniture' !important;
  content: "\e9a9";
}
.at-end-table-cupboard-bold:before {
  font-family: 'furniture' !important;
  content: "\e9aa";
}
.at-end-table-drawer-bold:before {
  font-family: 'furniture' !important;
  content: "\e9ab";
}
.at-end-table-drawers-bold:before {
  font-family: 'furniture' !important;
  content: "\e9ac";
}
.at-end-table-lamp-bold:before {
  font-family: 'furniture' !important;
  content: "\e9ad";
}
.at-faucet-bold:before {
  font-family: 'furniture' !important;
  content: "\e9ae";
}
.at-fireplace-bold:before {
  font-family: 'furniture' !important;
  content: "\e9af";
}
.at-foldable-chair-bold:before {
  font-family: 'furniture' !important;
  content: "\e9b0";
}
.at-hanging-frame-bold:before {
  font-family: 'furniture' !important;
  content: "\e9b1";
}
.at-home-window-bold:before {
  font-family: 'furniture' !important;
  content: "\e9b2";
}
.at-ladder-tool-bold:before {
  font-family: 'furniture' !important;
  content: "\e9b3";
}
.at-lamp-bold:before {
  font-family: 'furniture' !important;
  content: "\e9b4";
}
.at-light-bold:before {
  font-family: 'furniture' !important;
  content: "\e9b5";
}
.at-light-candle-bold:before {
  font-family: 'furniture' !important;
  content: "\e9b6";
}
.at-living-room-chair-bold:before {
  font-family: 'furniture' !important;
  content: "\e9b7";
}
.at-living-room-couch-bold:before {
  font-family: 'furniture' !important;
  content: "\e9b8";
}
.at-mirror-bold:before {
  font-family: 'furniture' !important;
  content: "\e9b9";
}
.at-potted-plant-bold:before {
  font-family: 'furniture' !important;
  content: "\e9ba";
}
.at-room-divider-bold:before {
  font-family: 'furniture' !important;
  content: "\e9bb";
}
.at-rounded-window-bold:before {
  font-family: 'furniture' !important;
  content: "\e9bc";
}
.at-seat-chair-bold:before {
  font-family: 'furniture' !important;
  content: "\e9bd";
}
.at-shelf-bold:before {
  font-family: 'furniture' !important;
  content: "\e9be";
}
.at-shower-bath-bold:before {
  font-family: 'furniture' !important;
  content: "\e9bf";
}
.at-shower-curtain-bold:before {
  font-family: 'furniture' !important;
  content: "\e9c0";
}
.at-showerhead-bold:before {
  font-family: 'furniture' !important;
  content: "\e9c1";
}
.at-single-bed-bold:before {
  font-family: 'furniture' !important;
  content: "\e9c2";
}
.at-sink-bold:before {
  font-family: 'furniture' !important;
  content: "\e9c3";
}
.at-square-mirror-bold:before {
  font-family: 'furniture' !important;
  content: "\e9c4";
}
.at-standing-clock-bold:before {
  font-family: 'furniture' !important;
  content: "\e9c5";
}
.at-stool-bold:before {
  font-family: 'furniture' !important;
  content: "\e9c6";
}
.at-table-dining-bold:before {
  font-family: 'furniture' !important;
  content: "\e9c7";
}
.at-table-drawers-bold:before {
  font-family: 'furniture' !important;
  content: "\e9c8";
}
.at-toilet-bold:before {
  font-family: 'furniture' !important;
  content: "\e9c9";
}
.at-trash-can-bold:before {
  font-family: 'furniture' !important;
  content: "\e9ca";
}
.at-upstairs-bold:before {
  font-family: 'furniture' !important;
  content: "\e9cb";
}
.at-urinal-bold:before {
  font-family: 'furniture' !important;
  content: "\e9cc";
}
.at-wardrobe-mirror-bold:before {
  font-family: 'furniture' !important;
  content: "\e9cd";
}
.at-window-curtains-bold:before {
  font-family: 'furniture' !important;
  content: "\e9ce";
}
