@font-face {
  font-family: 'working-together';
  src:  url('fonts/working-together.eot?4lcfs3');
  src:  url('fonts/working-together.eot?4lcfs3#iefix') format('embedded-opentype'),
    url('fonts/working-together.ttf?4lcfs3') format('truetype'),
    url('fonts/working-together.woff?4lcfs3') format('woff'),
    url('fonts/working-together.svg?4lcfs3#working-together') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.at-agreement-arrow-increase-thin:before {
  font-family: 'working-together' !important;
  content: "\e900";
}
.at-cogwheel-settings-people-thin:before {
  font-family: 'working-together' !important;
  content: "\e901";
}
.at-friendship-thin:before {
  font-family: 'working-together' !important;
  content: "\e902";
}
.at-front-desk-table-meeting-thin:before {
  font-family: 'working-together' !important;
  content: "\e903";
}
.at-greeting-two-people-thin:before {
  font-family: 'working-together' !important;
  content: "\e904";
}
.at-group-triple-arrows-thin:before {
  font-family: 'working-together' !important;
  content: "\e905";
}
.at-handshake-agreement-deal-thin:before {
  font-family: 'working-together' !important;
  content: "\e906";
}
.at-manager-meeting-thin:before {
  font-family: 'working-together' !important;
  content: "\e907";
}
.at-presentation-podium-conference-thin:before {
  font-family: 'working-together' !important;
  content: "\e908";
}
.at-raise-hands-people-thin:before {
  font-family: 'working-together' !important;
  content: "\e909";
}
.at-remote-home-working-thin:before {
  font-family: 'working-together' !important;
  content: "\e90a";
}
.at-remote-working-thin:before {
  font-family: 'working-together' !important;
  content: "\e90b";
}
.at-round-table-meeting-thin:before {
  font-family: 'working-together' !important;
  content: "\e90c";
}
.at-table-meet-thin:before {
  font-family: 'working-together' !important;
  content: "\e90d";
}
.at-team-laptop-remote-working-thin:before {
  font-family: 'working-together' !important;
  content: "\e90e";
}
.at-team-meeting-thin:before {
  font-family: 'working-together' !important;
  content: "\e90f";
}
.at-thumbs-up-likes-thin:before {
  font-family: 'working-together' !important;
  content: "\e910";
}
.at-transfer-arrows-left-right-group-thin:before {
  font-family: 'working-together' !important;
  content: "\e911";
}
.at-two-people-arrow-up-thin:before {
  font-family: 'working-together' !important;
  content: "\e912";
}
.at-two-people-star-thin:before {
  font-family: 'working-together' !important;
  content: "\e913";
}
.at-two-person-meeting-thin:before {
  font-family: 'working-together' !important;
  content: "\e914";
}
.at-agreement-arrow-increase:before {
  font-family: 'working-together' !important;
  content: "\e915";
}
.at-cogwheel-settings-people:before {
  font-family: 'working-together' !important;
  content: "\e916";
}
.at-friendship:before {
  font-family: 'working-together' !important;
  content: "\e917";
}
.at-front-desk-table-meeting:before {
  font-family: 'working-together' !important;
  content: "\e918";
}
.at-greeting-two-people:before {
  font-family: 'working-together' !important;
  content: "\e919";
}
.at-group-triple-arrows:before {
  font-family: 'working-together' !important;
  content: "\e91a";
}
.at-handshake-agreement-deal:before {
  font-family: 'working-together' !important;
  content: "\e91b";
}
.at-manager-meeting:before {
  font-family: 'working-together' !important;
  content: "\e91c";
}
.at-presentation-podium-conference:before {
  font-family: 'working-together' !important;
  content: "\e91d";
}
.at-raise-hands-people:before {
  font-family: 'working-together' !important;
  content: "\e91e";
}
.at-remote-home-working:before {
  font-family: 'working-together' !important;
  content: "\e91f";
}
.at-remote-working:before {
  font-family: 'working-together' !important;
  content: "\e920";
}
.at-round-table-meeting:before {
  font-family: 'working-together' !important;
  content: "\e921";
}
.at-table-meet:before {
  font-family: 'working-together' !important;
  content: "\e922";
}
.at-team-laptop-remote-working:before {
  font-family: 'working-together' !important;
  content: "\e923";
}
.at-team-meeting:before {
  font-family: 'working-together' !important;
  content: "\e924";
}
.at-thumbs-up-likes:before {
  font-family: 'working-together' !important;
  content: "\e925";
}
.at-transfer-arrows-left-right-group:before {
  font-family: 'working-together' !important;
  content: "\e926";
}
.at-two-people-arrow-up:before {
  font-family: 'working-together' !important;
  content: "\e927";
}
.at-two-people-star:before {
  font-family: 'working-together' !important;
  content: "\e928";
}
.at-two-person-meeting:before {
  font-family: 'working-together' !important;
  content: "\e929";
}
.at-agreement-arrow-increase-bold:before {
  font-family: 'working-together' !important;
  content: "\e92a";
}
.at-cogwheel-settings-people-bold:before {
  font-family: 'working-together' !important;
  content: "\e92b";
}
.at-friendship-bold:before {
  font-family: 'working-together' !important;
  content: "\e92c";
}
.at-front-desk-table-meeting-bold:before {
  font-family: 'working-together' !important;
  content: "\e92d";
}
.at-greeting-two-people-bold:before {
  font-family: 'working-together' !important;
  content: "\e92e";
}
.at-group-triple-arrows-bold:before {
  font-family: 'working-together' !important;
  content: "\e92f";
}
.at-handshake-agreement-deal-bold:before {
  font-family: 'working-together' !important;
  content: "\e930";
}
.at-manager-meeting-bold:before {
  font-family: 'working-together' !important;
  content: "\e931";
}
.at-presentation-podium-conference-bold:before {
  font-family: 'working-together' !important;
  content: "\e932";
}
.at-raise-hands-people-bold:before {
  font-family: 'working-together' !important;
  content: "\e933";
}
.at-remote-home-working-bold:before {
  font-family: 'working-together' !important;
  content: "\e934";
}
.at-remote-working-bold:before {
  font-family: 'working-together' !important;
  content: "\e935";
}
.at-round-table-meeting-bold:before {
  font-family: 'working-together' !important;
  content: "\e936";
}
.at-table-meet-bold:before {
  font-family: 'working-together' !important;
  content: "\e937";
}
.at-team-laptop-remote-working-bold:before {
  font-family: 'working-together' !important;
  content: "\e938";
}
.at-team-meeting-bold:before {
  font-family: 'working-together' !important;
  content: "\e939";
}
.at-thumbs-up-likes-bold:before {
  font-family: 'working-together' !important;
  content: "\e93a";
}
.at-transfer-arrows-left-right-group-bold:before {
  font-family: 'working-together' !important;
  content: "\e93b";
}
.at-two-people-arrow-up-bold:before {
  font-family: 'working-together' !important;
  content: "\e93c";
}
.at-two-people-star-bold:before {
  font-family: 'working-together' !important;
  content: "\e93d";
}
.at-two-person-meeting-bold:before {
  font-family: 'working-together' !important;
  content: "\e93e";
}
