@font-face {
  font-family: 'ecology';
  src:  url('fonts/ecology.eot?4hvxzh');
  src:  url('fonts/ecology.eot?4hvxzh#iefix') format('embedded-opentype'),
    url('fonts/ecology.ttf?4hvxzh') format('truetype'),
    url('fonts/ecology.woff?4hvxzh') format('woff'),
    url('fonts/ecology.svg?4hvxzh#ecology') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.at-arrows-recycle-thin:before {
  font-family: 'ecology' !important;
  content: "\e900";
}
.at-electric-battery-charge-thin:before {
  font-family: 'ecology' !important;
  content: "\e901";
}
.at-electric-car-thin:before {
  font-family: 'ecology' !important;
  content: "\e902";
}
.at-electric-charge-thin:before {
  font-family: 'ecology' !important;
  content: "\e903";
}
.at-electricity-magnifying-glass-thin:before {
  font-family: 'ecology' !important;
  content: "\e904";
}
.at-electric-lightbulb-thin:before {
  font-family: 'ecology' !important;
  content: "\e905";
}
.at-electric-thought-thin:before {
  font-family: 'ecology' !important;
  content: "\e906";
}
.at-floral-thin:before {
  font-family: 'ecology' !important;
  content: "\e907";
}
.at-flower-thin:before {
  font-family: 'ecology' !important;
  content: "\e908";
}
.at-gasoline-thin:before {
  font-family: 'ecology' !important;
  content: "\e909";
}
.at-global-warming-thin:before {
  font-family: 'ecology' !important;
  content: "\e90a";
}
.at-globe-plant-thin:before {
  font-family: 'ecology' !important;
  content: "\e90b";
}
.at-globe-warming-thin:before {
  font-family: 'ecology' !important;
  content: "\e90c";
}
.at-green-battery-thin:before {
  font-family: 'ecology' !important;
  content: "\e90d";
}
.at-green-book-thin:before {
  font-family: 'ecology' !important;
  content: "\e90e";
}
.at-green-can-thin:before {
  font-family: 'ecology' !important;
  content: "\e90f";
}
.at-green-car-thin:before {
  font-family: 'ecology' !important;
  content: "\e910";
}
.at-green-charge-thin:before {
  font-family: 'ecology' !important;
  content: "\e911";
}
.at-green-container-thin:before {
  font-family: 'ecology' !important;
  content: "\e912";
}
.at-green-factory-thin:before {
  font-family: 'ecology' !important;
  content: "\e913";
}
.at-green-gas-thin:before {
  font-family: 'ecology' !important;
  content: "\e914";
}
.at-green-house-thin:before {
  font-family: 'ecology' !important;
  content: "\e915";
}
.at-green-lightbulb-thin:before {
  font-family: 'ecology' !important;
  content: "\e916";
}
.at-green-test-tube-thin:before {
  font-family: 'ecology' !important;
  content: "\e917";
}
.at-green-thought-thin:before {
  font-family: 'ecology' !important;
  content: "\e918";
}
.at-green-water-thin:before {
  font-family: 'ecology' !important;
  content: "\e919";
}
.at-hand-holding-globe-thin:before {
  font-family: 'ecology' !important;
  content: "\e91a";
}
.at-hand-holding-plant-thin:before {
  font-family: 'ecology' !important;
  content: "\e91b";
}
.at-hand-holding-seedling-thin:before {
  font-family: 'ecology' !important;
  content: "\e91c";
}
.at-hand-holding-water-thin:before {
  font-family: 'ecology' !important;
  content: "\e91d";
}
.at-heart-earth-thin:before {
  font-family: 'ecology' !important;
  content: "\e91e";
}
.at-heart-plant-thin:before {
  font-family: 'ecology' !important;
  content: "\e91f";
}
.at-heart-water-thin:before {
  font-family: 'ecology' !important;
  content: "\e920";
}
.at-leaf-globe-thin:before {
  font-family: 'ecology' !important;
  content: "\e921";
}
.at-leaf-magnifying-glass-thin:before {
  font-family: 'ecology' !important;
  content: "\e922";
}
.at-leaf-shield-thin:before {
  font-family: 'ecology' !important;
  content: "\e923";
}
.at-leaf-tag-thin:before {
  font-family: 'ecology' !important;
  content: "\e924";
}
.at-leaf-thin:before {
  font-family: 'ecology' !important;
  content: "\e925";
}
.at-measure-electricity-thin:before {
  font-family: 'ecology' !important;
  content: "\e926";
}
.at-plant-charge-thin:before {
  font-family: 'ecology' !important;
  content: "\e927";
}
.at-plant-cloud-thin:before {
  font-family: 'ecology' !important;
  content: "\e928";
}
.at-plant-house-thin:before {
  font-family: 'ecology' !important;
  content: "\e929";
}
.at-protect-plant-thin:before {
  font-family: 'ecology' !important;
  content: "\e92a";
}
.at-recycle-arrows-thin:before {
  font-family: 'ecology' !important;
  content: "\e92b";
}
.at-recycle-bag-thin:before {
  font-family: 'ecology' !important;
  content: "\e92c";
}
.at-recycle-container-thin:before {
  font-family: 'ecology' !important;
  content: "\e92d";
}
.at-recycle-electricity-thin:before {
  font-family: 'ecology' !important;
  content: "\e92e";
}
.at-recycle-shopping-bag-thin:before {
  font-family: 'ecology' !important;
  content: "\e92f";
}
.at-recycle-tag-thin:before {
  font-family: 'ecology' !important;
  content: "\e930";
}
.at-recycle-trash-thin:before {
  font-family: 'ecology' !important;
  content: "\e931";
}
.at-recycle-water-thin:before {
  font-family: 'ecology' !important;
  content: "\e932";
}
.at-shopping-bag-recycle-thin:before {
  font-family: 'ecology' !important;
  content: "\e933";
}
.at-solar-house-thin:before {
  font-family: 'ecology' !important;
  content: "\e934";
}
.at-solar-panel-charge-thin:before {
  font-family: 'ecology' !important;
  content: "\e935";
}
.at-solar-panel-sun-thin:before {
  font-family: 'ecology' !important;
  content: "\e936";
}
.at-solar-power-thin:before {
  font-family: 'ecology' !important;
  content: "\e937";
}
.at-thermometer-alert-thin:before {
  font-family: 'ecology' !important;
  content: "\e938";
}
.at-water-bottle-thin:before {
  font-family: 'ecology' !important;
  content: "\e939";
}
.at-water-can-thin:before {
  font-family: 'ecology' !important;
  content: "\e93a";
}
.at-water-container-thin:before {
  font-family: 'ecology' !important;
  content: "\e93b";
}
.at-water-drop-thin:before {
  font-family: 'ecology' !important;
  content: "\e93c";
}
.at-water-lightbulb-thin:before {
  font-family: 'ecology' !important;
  content: "\e93d";
}
.at-water-liquid-thin:before {
  font-family: 'ecology' !important;
  content: "\e93e";
}
.at-water-recycle-thin:before {
  font-family: 'ecology' !important;
  content: "\e93f";
}
.at-water-tap-thin:before {
  font-family: 'ecology' !important;
  content: "\e940";
}
.at-wheat-thin:before {
  font-family: 'ecology' !important;
  content: "\e941";
}
.at-windmill-thin:before {
  font-family: 'ecology' !important;
  content: "\e942";
}
.at-arrows-recycle:before {
  font-family: 'ecology' !important;
  content: "\e943";
}
.at-electric-battery-charge:before {
  font-family: 'ecology' !important;
  content: "\e944";
}
.at-electric-car:before {
  font-family: 'ecology' !important;
  content: "\e945";
}
.at-electric-charge:before {
  font-family: 'ecology' !important;
  content: "\e946";
}
.at-electricity-magnifying-glass:before {
  font-family: 'ecology' !important;
  content: "\e947";
}
.at-electric-lightbulb:before {
  font-family: 'ecology' !important;
  content: "\e948";
}
.at-electric-thought:before {
  font-family: 'ecology' !important;
  content: "\e949";
}
.at-floral:before {
  font-family: 'ecology' !important;
  content: "\e94a";
}
.at-flower:before {
  font-family: 'ecology' !important;
  content: "\e94b";
}
.at-gasoline:before {
  font-family: 'ecology' !important;
  content: "\e94c";
}
.at-global-warming:before {
  font-family: 'ecology' !important;
  content: "\e94d";
}
.at-globe-plant:before {
  font-family: 'ecology' !important;
  content: "\e94e";
}
.at-globe-warming:before {
  font-family: 'ecology' !important;
  content: "\e94f";
}
.at-green-battery:before {
  font-family: 'ecology' !important;
  content: "\e950";
}
.at-green-book:before {
  font-family: 'ecology' !important;
  content: "\e951";
}
.at-green-can:before {
  font-family: 'ecology' !important;
  content: "\e952";
}
.at-green-car:before {
  font-family: 'ecology' !important;
  content: "\e953";
}
.at-green-charge:before {
  font-family: 'ecology' !important;
  content: "\e954";
}
.at-green-container:before {
  font-family: 'ecology' !important;
  content: "\e955";
}
.at-green-factory:before {
  font-family: 'ecology' !important;
  content: "\e956";
}
.at-green-gas:before {
  font-family: 'ecology' !important;
  content: "\e957";
}
.at-green-house:before {
  font-family: 'ecology' !important;
  content: "\e958";
}
.at-green-lightbulb:before {
  font-family: 'ecology' !important;
  content: "\e959";
}
.at-green-test-tube:before {
  font-family: 'ecology' !important;
  content: "\e95a";
}
.at-green-thought:before {
  font-family: 'ecology' !important;
  content: "\e95b";
}
.at-green-water:before {
  font-family: 'ecology' !important;
  content: "\e95c";
}
.at-hand-holding-globe:before {
  font-family: 'ecology' !important;
  content: "\e95d";
}
.at-hand-holding-plant:before {
  font-family: 'ecology' !important;
  content: "\e95e";
}
.at-hand-holding-seedling:before {
  font-family: 'ecology' !important;
  content: "\e95f";
}
.at-hand-holding-water:before {
  font-family: 'ecology' !important;
  content: "\e960";
}
.at-heart-earth:before {
  font-family: 'ecology' !important;
  content: "\e961";
}
.at-heart-plant:before {
  font-family: 'ecology' !important;
  content: "\e962";
}
.at-heart-water:before {
  font-family: 'ecology' !important;
  content: "\e963";
}
.at-leaf:before {
  font-family: 'ecology' !important;
  content: "\e964";
}
.at-leaf-globe:before {
  font-family: 'ecology' !important;
  content: "\e965";
}
.at-leaf-magnifying-glass:before {
  font-family: 'ecology' !important;
  content: "\e966";
}
.at-leaf-shield:before {
  font-family: 'ecology' !important;
  content: "\e967";
}
.at-leaf-tag:before {
  font-family: 'ecology' !important;
  content: "\e968";
}
.at-measure-electricity:before {
  font-family: 'ecology' !important;
  content: "\e969";
}
.at-plant-charge:before {
  font-family: 'ecology' !important;
  content: "\e96a";
}
.at-plant-cloud:before {
  font-family: 'ecology' !important;
  content: "\e96b";
}
.at-plant-house:before {
  font-family: 'ecology' !important;
  content: "\e96c";
}
.at-protect-plant:before {
  font-family: 'ecology' !important;
  content: "\e96d";
}
.at-recycle-arrows:before {
  font-family: 'ecology' !important;
  content: "\e96e";
}
.at-recycle-bag:before {
  font-family: 'ecology' !important;
  content: "\e96f";
}
.at-recycle-container:before {
  font-family: 'ecology' !important;
  content: "\e970";
}
.at-recycle-electricity:before {
  font-family: 'ecology' !important;
  content: "\e971";
}
.at-recycle-shopping-bag:before {
  font-family: 'ecology' !important;
  content: "\e972";
}
.at-recycle-tag:before {
  font-family: 'ecology' !important;
  content: "\e973";
}
.at-recycle-trash:before {
  font-family: 'ecology' !important;
  content: "\e974";
}
.at-recycle-water:before {
  font-family: 'ecology' !important;
  content: "\e975";
}
.at-shopping-bag-recycle:before {
  font-family: 'ecology' !important;
  content: "\e976";
}
.at-solar-house:before {
  font-family: 'ecology' !important;
  content: "\e977";
}
.at-solar-panel-charge:before {
  font-family: 'ecology' !important;
  content: "\e978";
}
.at-solar-panel-sun:before {
  font-family: 'ecology' !important;
  content: "\e979";
}
.at-solar-power:before {
  font-family: 'ecology' !important;
  content: "\e97a";
}
.at-thermometer-alert:before {
  font-family: 'ecology' !important;
  content: "\e97b";
}
.at-water-bottle:before {
  font-family: 'ecology' !important;
  content: "\e97c";
}
.at-water-can:before {
  font-family: 'ecology' !important;
  content: "\e97d";
}
.at-water-container:before {
  font-family: 'ecology' !important;
  content: "\e97e";
}
.at-water-drop:before {
  font-family: 'ecology' !important;
  content: "\e97f";
}
.at-water-lightbulb:before {
  font-family: 'ecology' !important;
  content: "\e980";
}
.at-water-liquid:before {
  font-family: 'ecology' !important;
  content: "\e981";
}
.at-water-recycle:before {
  font-family: 'ecology' !important;
  content: "\e982";
}
.at-water-tap:before {
  font-family: 'ecology' !important;
  content: "\e983";
}
.at-wheat:before {
  font-family: 'ecology' !important;
  content: "\e984";
}
.at-windmill:before {
  font-family: 'ecology' !important;
  content: "\e985";
}
.at-arrows-recycle-bold:before {
  font-family: 'ecology' !important;
  content: "\e986";
}
.at-electric-battery-charge-bold:before {
  font-family: 'ecology' !important;
  content: "\e987";
}
.at-electric-car-bold:before {
  font-family: 'ecology' !important;
  content: "\e988";
}
.at-electric-charge-bold:before {
  font-family: 'ecology' !important;
  content: "\e989";
}
.at-electricity-magnifying-glass-bold:before {
  font-family: 'ecology' !important;
  content: "\e98a";
}
.at-electric-lightbulb-bold:before {
  font-family: 'ecology' !important;
  content: "\e98b";
}
.at-electric-thought-bold:before {
  font-family: 'ecology' !important;
  content: "\e98c";
}
.at-floral-bold:before {
  font-family: 'ecology' !important;
  content: "\e98d";
}
.at-flower-bold:before {
  font-family: 'ecology' !important;
  content: "\e98e";
}
.at-gasoline-bold:before {
  font-family: 'ecology' !important;
  content: "\e98f";
}
.at-global-warming-bold:before {
  font-family: 'ecology' !important;
  content: "\e990";
}
.at-globe-plant-bold:before {
  font-family: 'ecology' !important;
  content: "\e991";
}
.at-globe-warming-bold:before {
  font-family: 'ecology' !important;
  content: "\e992";
}
.at-green-battery-bold:before {
  font-family: 'ecology' !important;
  content: "\e993";
}
.at-green-book-bold:before {
  font-family: 'ecology' !important;
  content: "\e994";
}
.at-green-can-bold:before {
  font-family: 'ecology' !important;
  content: "\e995";
}
.at-green-car-bold:before {
  font-family: 'ecology' !important;
  content: "\e996";
}
.at-green-charge-bold:before {
  font-family: 'ecology' !important;
  content: "\e997";
}
.at-green-container-bold:before {
  font-family: 'ecology' !important;
  content: "\e998";
}
.at-green-factory-bold:before {
  font-family: 'ecology' !important;
  content: "\e999";
}
.at-green-gas-bold:before {
  font-family: 'ecology' !important;
  content: "\e99a";
}
.at-green-house-bold:before {
  font-family: 'ecology' !important;
  content: "\e99b";
}
.at-green-lightbulb-bold:before {
  font-family: 'ecology' !important;
  content: "\e99c";
}
.at-green-test-tube-bold:before {
  font-family: 'ecology' !important;
  content: "\e99d";
}
.at-green-thought-bold:before {
  font-family: 'ecology' !important;
  content: "\e99e";
}
.at-green-water-bold:before {
  font-family: 'ecology' !important;
  content: "\e99f";
}
.at-hand-holding-globe-bold:before {
  font-family: 'ecology' !important;
  content: "\e9a0";
}
.at-hand-holding-plant-bold:before {
  font-family: 'ecology' !important;
  content: "\e9a1";
}
.at-hand-holding-seedling-bold:before {
  font-family: 'ecology' !important;
  content: "\e9a2";
}
.at-hand-holding-water-bold:before {
  font-family: 'ecology' !important;
  content: "\e9a3";
}
.at-heart-earth-bold:before {
  font-family: 'ecology' !important;
  content: "\e9a4";
}
.at-heart-plant-bold:before {
  font-family: 'ecology' !important;
  content: "\e9a5";
}
.at-heart-water-bold:before {
  font-family: 'ecology' !important;
  content: "\e9a6";
}
.at-leaf-bold:before {
  font-family: 'ecology' !important;
  content: "\e9a7";
}
.at-leaf-globe-bold:before {
  font-family: 'ecology' !important;
  content: "\e9a8";
}
.at-leaf-magnifying-glass-bold:before {
  font-family: 'ecology' !important;
  content: "\e9a9";
}
.at-leaf-shield-bold:before {
  font-family: 'ecology' !important;
  content: "\e9aa";
}
.at-leaf-tag-bold:before {
  font-family: 'ecology' !important;
  content: "\e9ab";
}
.at-measure-electricity-bold:before {
  font-family: 'ecology' !important;
  content: "\e9ac";
}
.at-plant-charge-bold:before {
  font-family: 'ecology' !important;
  content: "\e9ad";
}
.at-plant-cloud-bold:before {
  font-family: 'ecology' !important;
  content: "\e9ae";
}
.at-plant-house-bold:before {
  font-family: 'ecology' !important;
  content: "\e9af";
}
.at-protect-plant-bold:before {
  font-family: 'ecology' !important;
  content: "\e9b0";
}
.at-recycle-arrows-bold:before {
  font-family: 'ecology' !important;
  content: "\e9b1";
}
.at-recycle-bag-bold:before {
  font-family: 'ecology' !important;
  content: "\e9b2";
}
.at-recycle-container-bold:before {
  font-family: 'ecology' !important;
  content: "\e9b3";
}
.at-recycle-electricity-bold:before {
  font-family: 'ecology' !important;
  content: "\e9b4";
}
.at-recycle-shopping-bag-bold:before {
  font-family: 'ecology' !important;
  content: "\e9b5";
}
.at-recycle-tag-bold:before {
  font-family: 'ecology' !important;
  content: "\e9b6";
}
.at-recycle-trash-bold:before {
  font-family: 'ecology' !important;
  content: "\e9b7";
}
.at-recycle-water-bold:before {
  font-family: 'ecology' !important;
  content: "\e9b8";
}
.at-shopping-bag-recycle-bold:before {
  font-family: 'ecology' !important;
  content: "\e9b9";
}
.at-solar-house-bold:before {
  font-family: 'ecology' !important;
  content: "\e9ba";
}
.at-solar-panel-charge-bold:before {
  font-family: 'ecology' !important;
  content: "\e9bb";
}
.at-solar-panel-sun-bold:before {
  font-family: 'ecology' !important;
  content: "\e9bc";
}
.at-solar-power-bold:before {
  font-family: 'ecology' !important;
  content: "\e9bd";
}
.at-thermometer-alert-bold:before {
  font-family: 'ecology' !important;
  content: "\e9be";
}
.at-water-bottle-bold:before {
  font-family: 'ecology' !important;
  content: "\e9bf";
}
.at-water-can-bold:before {
  font-family: 'ecology' !important;
  content: "\e9c0";
}
.at-water-container-bold:before {
  font-family: 'ecology' !important;
  content: "\e9c1";
}
.at-water-drop-bold:before {
  font-family: 'ecology' !important;
  content: "\e9c2";
}
.at-water-lightbulb-bold:before {
  font-family: 'ecology' !important;
  content: "\e9c3";
}
.at-water-liquid-bold:before {
  font-family: 'ecology' !important;
  content: "\e9c4";
}
.at-water-recycle-bold:before {
  font-family: 'ecology' !important;
  content: "\e9c5";
}
.at-water-tap-bold:before {
  font-family: 'ecology' !important;
  content: "\e9c6";
}
.at-wheat-bold:before {
  font-family: 'ecology' !important;
  content: "\e9c7";
}
.at-windmill-bold:before {
  font-family: 'ecology' !important;
  content: "\e9c8";
}
