@font-face {
  font-family: 'world-monuments';
  src:  url('fonts/world-monuments.eot?hgqglg');
  src:  url('fonts/world-monuments.eot?hgqglg#iefix') format('embedded-opentype'),
    url('fonts/world-monuments.ttf?hgqglg') format('truetype'),
    url('fonts/world-monuments.woff?hgqglg') format('woff'),
    url('fonts/world-monuments.svg?hgqglg#world-monuments') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'world-monuments' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.at-arc-triomph-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e900";
}
.at-asia-gate-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e901";
}
.at-asian-building-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e902";
}
.at-asian-gate-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e903";
}
.at-asian-pagoda-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e904";
}
.at-big-ben-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e905";
}
.at-brandenburg-gate-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e906";
}
.at-bridge-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e907";
}
.at-bridge-tower-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e908";
}
.at-building-asian-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e909";
}
.at-building-church-religion-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e90a";
}
.at-burj-el-arab-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e90b";
}
.at-church-landmark-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e90c";
}
.at-cn-tower-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e90d";
}
.at-colosseum-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e90e";
}
.at-earth-statue-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e90f";
}
.at-easter-island-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e910";
}
.at-eiffel-tower-paris-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e911";
}
.at-fire-tower-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e912";
}
.at-forbidden-city-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e913";
}
.at-gate-landmark-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e914";
}
.at-golden-gate-bridge-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e915";
}
.at-government-building-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e916";
}
.at-great-buddha-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e917";
}
.at-great-wall-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e918";
}
.at-greek-church-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e919";
}
.at-indonesia-building-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e91a";
}
.at-indonesia-tower-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e91b";
}
.at-jesus-brazil-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e91c";
}
.at-lady-liberty-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e91d";
}
.at-landmark-church-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e91e";
}
.at-leaning-tower-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e91f";
}
.at-london-eye-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e920";
}
.at-louvre-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e921";
}
.at-mekka-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e922";
}
.at-mountain-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e923";
}
.at-mount-fuji-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e924";
}
.at-notre-dame-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e925";
}
.at-opera-house-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e926";
}
.at-pearl-tower-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e927";
}
.at-petronas-towers-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e928";
}
.at-pyramid-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e929";
}
.at-real-estate-building-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e92a";
}
.at-sagrada-familia-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e92b";
}
.at-space-needle-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e92c";
}
.at-sphinx-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e92d";
}
.at-st-basi-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e92e";
}
.at-stonehedge-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e92f";
}
.at-taj-mahal-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e930";
}
.at-thai-landmark-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e931";
}
.at-top-tower-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e932";
}
.at-tower-bridge-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e933";
}
.at-tower-eiffel-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e934";
}
.at-tower-landmark-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e935";
}
.at-towers-landmark-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e936";
}
.at-washington-building-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e937";
}
.at-washington-monument-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e938";
}
.at-white-house-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e939";
}
.at-windmil-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e93a";
}
.at-world-landmark-thin:before {
  font-family: 'world-monuments' !important;
  content: "\e93b";
}
.at-arc-triomph:before {
  font-family: 'world-monuments' !important;
  content: "\e93c";
}
.at-asia-gate:before {
  font-family: 'world-monuments' !important;
  content: "\e93d";
}
.at-asian-building:before {
  font-family: 'world-monuments' !important;
  content: "\e93e";
}
.at-asian-gate:before {
  font-family: 'world-monuments' !important;
  content: "\e93f";
}
.at-asian-pagoda:before {
  font-family: 'world-monuments' !important;
  content: "\e940";
}
.at-big-ben:before {
  font-family: 'world-monuments' !important;
  content: "\e941";
}
.at-brandenburg-gate:before {
  font-family: 'world-monuments' !important;
  content: "\e942";
}
.at-bridge:before {
  font-family: 'world-monuments' !important;
  content: "\e943";
}
.at-bridge-tower:before {
  font-family: 'world-monuments' !important;
  content: "\e944";
}
.at-building-asian:before {
  font-family: 'world-monuments' !important;
  content: "\e945";
}
.at-building-church-religion:before {
  font-family: 'world-monuments' !important;
  content: "\e946";
}
.at-burj-el-arab:before {
  font-family: 'world-monuments' !important;
  content: "\e947";
}
.at-church-landmark:before {
  font-family: 'world-monuments' !important;
  content: "\e948";
}
.at-cn-tower:before {
  font-family: 'world-monuments' !important;
  content: "\e949";
}
.at-colosseum:before {
  font-family: 'world-monuments' !important;
  content: "\e94a";
}
.at-earth-statue:before {
  font-family: 'world-monuments' !important;
  content: "\e94b";
}
.at-easter-island:before {
  font-family: 'world-monuments' !important;
  content: "\e94c";
}
.at-eiffel-tower-paris:before {
  font-family: 'world-monuments' !important;
  content: "\e94d";
}
.at-fire-tower:before {
  font-family: 'world-monuments' !important;
  content: "\e94e";
}
.at-forbidden-city:before {
  font-family: 'world-monuments' !important;
  content: "\e94f";
}
.at-gate-landmark:before {
  font-family: 'world-monuments' !important;
  content: "\e950";
}
.at-golden-gate-bridge:before {
  font-family: 'world-monuments' !important;
  content: "\e951";
}
.at-government-building:before {
  font-family: 'world-monuments' !important;
  content: "\e952";
}
.at-great-buddha:before {
  font-family: 'world-monuments' !important;
  content: "\e953";
}
.at-great-wall:before {
  font-family: 'world-monuments' !important;
  content: "\e954";
}
.at-greek-church:before {
  font-family: 'world-monuments' !important;
  content: "\e955";
}
.at-indonesia-building:before {
  font-family: 'world-monuments' !important;
  content: "\e956";
}
.at-indonesia-tower:before {
  font-family: 'world-monuments' !important;
  content: "\e957";
}
.at-jesus-brazil:before {
  font-family: 'world-monuments' !important;
  content: "\e958";
}
.at-lady-liberty:before {
  font-family: 'world-monuments' !important;
  content: "\e959";
}
.at-landmark-church:before {
  font-family: 'world-monuments' !important;
  content: "\e95a";
}
.at-leaning-tower:before {
  font-family: 'world-monuments' !important;
  content: "\e95b";
}
.at-london-eye:before {
  font-family: 'world-monuments' !important;
  content: "\e95c";
}
.at-louvre:before {
  font-family: 'world-monuments' !important;
  content: "\e95d";
}
.at-mekka:before {
  font-family: 'world-monuments' !important;
  content: "\e95e";
}
.at-mountain:before {
  font-family: 'world-monuments' !important;
  content: "\e95f";
}
.at-mount-fuji:before {
  font-family: 'world-monuments' !important;
  content: "\e960";
}
.at-notre-dame:before {
  font-family: 'world-monuments' !important;
  content: "\e961";
}
.at-opera-house:before {
  font-family: 'world-monuments' !important;
  content: "\e962";
}
.at-pearl-tower:before {
  font-family: 'world-monuments' !important;
  content: "\e963";
}
.at-petronas-towers:before {
  font-family: 'world-monuments' !important;
  content: "\e964";
}
.at-pyramid:before {
  font-family: 'world-monuments' !important;
  content: "\e965";
}
.at-real-estate-building:before {
  font-family: 'world-monuments' !important;
  content: "\e966";
}
.at-sagrada-familia:before {
  font-family: 'world-monuments' !important;
  content: "\e967";
}
.at-space-needle:before {
  font-family: 'world-monuments' !important;
  content: "\e968";
}
.at-sphinx:before {
  font-family: 'world-monuments' !important;
  content: "\e969";
}
.at-st-basi:before {
  font-family: 'world-monuments' !important;
  content: "\e96a";
}
.at-stonehedge:before {
  font-family: 'world-monuments' !important;
  content: "\e96b";
}
.at-taj-mahal:before {
  font-family: 'world-monuments' !important;
  content: "\e96c";
}
.at-thai-landmark:before {
  font-family: 'world-monuments' !important;
  content: "\e96d";
}
.at-top-tower:before {
  font-family: 'world-monuments' !important;
  content: "\e96e";
}
.at-tower-bridge:before {
  font-family: 'world-monuments' !important;
  content: "\e96f";
}
.at-tower-eiffel:before {
  font-family: 'world-monuments' !important;
  content: "\e970";
}
.at-tower-landmark:before {
  font-family: 'world-monuments' !important;
  content: "\e971";
}
.at-towers-landmark:before {
  font-family: 'world-monuments' !important;
  content: "\e972";
}
.at-washington-building:before {
  font-family: 'world-monuments' !important;
  content: "\e973";
}
.at-washington-monument:before {
  font-family: 'world-monuments' !important;
  content: "\e974";
}
.at-white-house:before {
  font-family: 'world-monuments' !important;
  content: "\e975";
}
.at-windmil:before {
  font-family: 'world-monuments' !important;
  content: "\e976";
}
.at-world-landmark:before {
  font-family: 'world-monuments' !important;
  content: "\e977";
}
.at-arc-triomph-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e978";
}
.at-asia-gate-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e979";
}
.at-asian-building-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e97a";
}
.at-asian-gate-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e97b";
}
.at-asian-pagoda-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e97c";
}
.at-big-ben-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e97d";
}
.at-brandenburg-gate-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e97e";
}
.at-bridge-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e97f";
}
.at-bridge-tower-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e980";
}
.at-building-asian-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e981";
}
.at-building-church-religion-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e982";
}
.at-burj-el-arab-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e983";
}
.at-church-landmark-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e984";
}
.at-cn-tower-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e985";
}
.at-colosseum-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e986";
}
.at-earth-statue-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e987";
}
.at-easter-island-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e988";
}
.at-eiffel-tower-paris-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e989";
}
.at-fire-tower-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e98a";
}
.at-forbidden-city-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e98b";
}
.at-gate-landmark-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e98c";
}
.at-golden-gate-bridge-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e98d";
}
.at-government-building-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e98e";
}
.at-great-buddha-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e98f";
}
.at-great-wall-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e990";
}
.at-greek-church-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e991";
}
.at-indonesia-building-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e992";
}
.at-indonesia-tower-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e993";
}
.at-jesus-brazil-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e994";
}
.at-lady-liberty-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e995";
}
.at-landmark-church-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e996";
}
.at-leaning-tower-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e997";
}
.at-london-eye-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e998";
}
.at-louvre-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e999";
}
.at-mekka-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e99a";
}
.at-mountain-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e99b";
}
.at-mount-fuji-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e99c";
}
.at-notre-dame-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e99d";
}
.at-opera-house-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e99e";
}
.at-pearl-tower-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e99f";
}
.at-petronas-towers-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e9a0";
}
.at-pyramid-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e9a1";
}
.at-real-estate-building-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e9a2";
}
.at-sagrada-familia-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e9a3";
}
.at-space-needle-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e9a4";
}
.at-sphinx-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e9a5";
}
.at-st-basi-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e9a6";
}
.at-stonehedge-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e9a7";
}
.at-taj-mahal-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e9a8";
}
.at-thai-landmark-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e9a9";
}
.at-top-tower-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e9aa";
}
.at-tower-bridge-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e9ab";
}
.at-tower-eiffel-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e9ac";
}
.at-tower-landmark-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e9ad";
}
.at-towers-landmark-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e9ae";
}
.at-washington-building-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e9af";
}
.at-washington-monument-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e9b0";
}
.at-white-house-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e9b1";
}
.at-windmil-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e9b2";
}
.at-world-landmark-bold:before {
  font-family: 'world-monuments' !important;
  content: "\e9b3";
}
