@font-face {
  font-family: 'goals';
  src:  url('fonts/goals.eot?q1i9w9');
  src:  url('fonts/goals.eot?q1i9w9#iefix') format('embedded-opentype'),
    url('fonts/goals.ttf?q1i9w9') format('truetype'),
    url('fonts/goals.woff?q1i9w9') format('woff'),
    url('fonts/goals.svg?q1i9w9#goals') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.at-arrow-up-stairs-star-thin:before {
  font-family: 'goals' !important;
  content: "\e900";
}
.at-crosshairs-target-dollar-thin:before {
  font-family: 'goals' !important;
  content: "\e901";
}
.at-crosshairs-target-star-thin:before {
  font-family: 'goals' !important;
  content: "\e902";
}
.at-diamond-banner-thin:before {
  font-family: 'goals' !important;
  content: "\e903";
}
.at-flag-achievement-thin:before {
  font-family: 'goals' !important;
  content: "\e904";
}
.at-flag-mountain-top-thin:before {
  font-family: 'goals' !important;
  content: "\e905";
}
.at-flag-stairs-people-thin:before {
  font-family: 'goals' !important;
  content: "\e906";
}
.at-group-people-star-thin:before {
  font-family: 'goals' !important;
  content: "\e907";
}
.at-hand-gesture-flag-thin:before {
  font-family: 'goals' !important;
  content: "\e908";
}
.at-hands-gesture-diamond-thin:before {
  font-family: 'goals' !important;
  content: "\e909";
}
.at-hands-gesture-star-thin:before {
  font-family: 'goals' !important;
  content: "\e90a";
}
.at-ladder-star-thin:before {
  font-family: 'goals' !important;
  content: "\e90b";
}
.at-stairs-flag-thin:before {
  font-family: 'goals' !important;
  content: "\e90c";
}
.at-star-rating-banner-thin:before {
  font-family: 'goals' !important;
  content: "\e90d";
}
.at-star-rating-suitcase-thin:before {
  font-family: 'goals' !important;
  content: "\e90e";
}
.at-target-arrow-bullseye-thin:before {
  font-family: 'goals' !important;
  content: "\e90f";
}
.at-thumbs-up-like-star-thin:before {
  font-family: 'goals' !important;
  content: "\e910";
}
.at-thumbs-up-like-thin:before {
  font-family: 'goals' !important;
  content: "\e911";
}
.at-winner-place-thin:before {
  font-family: 'goals' !important;
  content: "\e912";
}
.at-winning-arrow-up-thin:before {
  font-family: 'goals' !important;
  content: "\e913";
}
.at-winning-places-people-thin:before {
  font-family: 'goals' !important;
  content: "\e914";
}
.at-winning-star-place-thin:before {
  font-family: 'goals' !important;
  content: "\e915";
}
.at-arrow-up-stairs-star:before {
  font-family: 'goals' !important;
  content: "\e916";
}
.at-crosshairs-target-dollar:before {
  font-family: 'goals' !important;
  content: "\e917";
}
.at-crosshairs-target-star:before {
  font-family: 'goals' !important;
  content: "\e918";
}
.at-diamond-banner:before {
  font-family: 'goals' !important;
  content: "\e919";
}
.at-flag-achievement:before {
  font-family: 'goals' !important;
  content: "\e91a";
}
.at-flag-mountain-top:before {
  font-family: 'goals' !important;
  content: "\e91b";
}
.at-flag-stairs-people:before {
  font-family: 'goals' !important;
  content: "\e91c";
}
.at-group-people-star:before {
  font-family: 'goals' !important;
  content: "\e91d";
}
.at-hand-gesture-flag:before {
  font-family: 'goals' !important;
  content: "\e91e";
}
.at-hands-gesture-diamond:before {
  font-family: 'goals' !important;
  content: "\e91f";
}
.at-hands-gesture-star:before {
  font-family: 'goals' !important;
  content: "\e920";
}
.at-ladder-star:before {
  font-family: 'goals' !important;
  content: "\e921";
}
.at-stairs-flag:before {
  font-family: 'goals' !important;
  content: "\e922";
}
.at-star-rating-banner:before {
  font-family: 'goals' !important;
  content: "\e923";
}
.at-star-rating-suitcase:before {
  font-family: 'goals' !important;
  content: "\e924";
}
.at-target-arrow-bullseye:before {
  font-family: 'goals' !important;
  content: "\e925";
}
.at-thumbs-up-like:before {
  font-family: 'goals' !important;
  content: "\e926";
}
.at-thumbs-up-like-star:before {
  font-family: 'goals' !important;
  content: "\e927";
}
.at-winner-place:before {
  font-family: 'goals' !important;
  content: "\e928";
}
.at-winning-arrow-up:before {
  font-family: 'goals' !important;
  content: "\e929";
}
.at-winning-places-people:before {
  font-family: 'goals' !important;
  content: "\e92a";
}
.at-winning-star-place:before {
  font-family: 'goals' !important;
  content: "\e92b";
}
.at-arrow-up-stairs-star-bold:before {
  font-family: 'goals' !important;
  content: "\e92c";
}
.at-crosshairs-target-dollar-bold:before {
  font-family: 'goals' !important;
  content: "\e92d";
}
.at-crosshairs-target-star-bold:before {
  font-family: 'goals' !important;
  content: "\e92e";
}
.at-diamond-banner-bold:before {
  font-family: 'goals' !important;
  content: "\e92f";
}
.at-flag-achievement-bold:before {
  font-family: 'goals' !important;
  content: "\e930";
}
.at-flag-mountain-top-bold:before {
  font-family: 'goals' !important;
  content: "\e931";
}
.at-flag-stairs-people-bold:before {
  font-family: 'goals' !important;
  content: "\e932";
}
.at-group-people-star-bold:before {
  font-family: 'goals' !important;
  content: "\e933";
}
.at-hand-gesture-flag-bold:before {
  font-family: 'goals' !important;
  content: "\e934";
}
.at-hands-gesture-diamond-bold:before {
  font-family: 'goals' !important;
  content: "\e935";
}
.at-hands-gesture-star-bold:before {
  font-family: 'goals' !important;
  content: "\e936";
}
.at-ladder-star-bold:before {
  font-family: 'goals' !important;
  content: "\e937";
}
.at-stairs-flag-bold:before {
  font-family: 'goals' !important;
  content: "\e938";
}
.at-star-rating-banner-bold:before {
  font-family: 'goals' !important;
  content: "\e939";
}
.at-star-rating-suitcase-bold:before {
  font-family: 'goals' !important;
  content: "\e93a";
}
.at-target-arrow-bullseye-bold:before {
  font-family: 'goals' !important;
  content: "\e93b";
}
.at-thumbs-up-like-bold:before {
  font-family: 'goals' !important;
  content: "\e93c";
}
.at-thumbs-up-like-star-bold:before {
  font-family: 'goals' !important;
  content: "\e93d";
}
.at-winner-place-bold:before {
  font-family: 'goals' !important;
  content: "\e93e";
}
.at-winning-arrow-up-bold:before {
  font-family: 'goals' !important;
  content: "\e93f";
}
.at-winning-places-people-bold:before {
  font-family: 'goals' !important;
  content: "\e940";
}
.at-winning-star-place-bold:before {
  font-family: 'goals' !important;
  content: "\e941";
}
