@font-face {
  font-family: 'content-box';
  src:  url('fonts/content-box.eot?a7dlhd');
  src:  url('fonts/content-box.eot?a7dlhd#iefix') format('embedded-opentype'),
    url('fonts/content-box.ttf?a7dlhd') format('truetype'),
    url('fonts/content-box.woff?a7dlhd') format('woff'),
    url('fonts/content-box.svg?a7dlhd#content-box') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.at-add-chats-thin:before {
  font-family: 'content-box' !important;
  content: "\e900";
}
.at-add-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e901";
}
.at-add-comments-thin:before {
  font-family: 'content-box' !important;
  content: "\e902";
}
.at-add-comment-thin:before {
  font-family: 'content-box' !important;
  content: "\e903";
}
.at-add-messages-thin:before {
  font-family: 'content-box' !important;
  content: "\e904";
}
.at-add-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e905";
}
.at-arrow-down-line-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e906";
}
.at-arrow-down-line-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e907";
}
.at-arrow-left-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e908";
}
.at-arrow-left-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e909";
}
.at-arrow-right-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e90a";
}
.at-arrow-right-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e90b";
}
.at-arrow-up-line-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e90c";
}
.at-arrow-up-line-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e90d";
}
.at-audio-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e90e";
}
.at-audio-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e90f";
}
.at-block-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e910";
}
.at-block-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e911";
}
.at-chat-lines-thin:before {
  font-family: 'content-box' !important;
  content: "\e912";
}
.at-chats-dots-thin:before {
  font-family: 'content-box' !important;
  content: "\e913";
}
.at-chats-lines-thin:before {
  font-family: 'content-box' !important;
  content: "\e914";
}
.at-chats-thin:before {
  font-family: 'content-box' !important;
  content: "\e915";
}
.at-check-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e916";
}
.at-check-comment-thin:before {
  font-family: 'content-box' !important;
  content: "\e917";
}
.at-check-messages-thin:before {
  font-family: 'content-box' !important;
  content: "\e918";
}
.at-check-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e919";
}
.at-comment-blank-thin:before {
  font-family: 'content-box' !important;
  content: "\e91a";
}
.at-comment-dots-thin:before {
  font-family: 'content-box' !important;
  content: "\e91b";
}
.at-comment-thin:before {
  font-family: 'content-box' !important;
  content: "\e91c";
}
.at-dollar-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e91d";
}
.at-dollar-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e91e";
}
.at-dots-comment-thin:before {
  font-family: 'content-box' !important;
  content: "\e91f";
}
.at-exclamation-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e920";
}
.at-exclamation-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e921";
}
.at-graph-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e922";
}
.at-graph-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e923";
}
.at-heart-chats-thin:before {
  font-family: 'content-box' !important;
  content: "\e924";
}
.at-heart-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e925";
}
.at-heart-comment-thin:before {
  font-family: 'content-box' !important;
  content: "\e926";
}
.at-heart-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e927";
}
.at-image-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e928";
}
.at-image-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e929";
}
.at-info-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e92a";
}
.at-info-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e92b";
}
.at-list-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e92c";
}
.at-list-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e92d";
}
.at-lock-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e92e";
}
.at-lock-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e92f";
}
.at-message-lines-thin:before {
  font-family: 'content-box' !important;
  content: "\e930";
}
.at-messages-blank-thin:before {
  font-family: 'content-box' !important;
  content: "\e931";
}
.at-messages-dots-thin:before {
  font-family: 'content-box' !important;
  content: "\e932";
}
.at-messages-text-thin:before {
  font-family: 'content-box' !important;
  content: "\e933";
}
.at-messages-thin:before {
  font-family: 'content-box' !important;
  content: "\e934";
}
.at-message-text-thin:before {
  font-family: 'content-box' !important;
  content: "\e935";
}
.at-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e936";
}
.at-messaging-lines-thin:before {
  font-family: 'content-box' !important;
  content: "\e937";
}
.at-minus-chats-thin:before {
  font-family: 'content-box' !important;
  content: "\e938";
}
.at-minus-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e939";
}
.at-minus-comment-thin:before {
  font-family: 'content-box' !important;
  content: "\e93a";
}
.at-minus-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e93b";
}
.at-music-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e93c";
}
.at-music-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e93d";
}
.at-pencil-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e93e";
}
.at-pencil-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e93f";
}
.at-play-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e940";
}
.at-play-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e941";
}
.at-question-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e942";
}
.at-question-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e943";
}
.at-record-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e944";
}
.at-record-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e945";
}
.at-refresh-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e946";
}
.at-refresh-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e947";
}
.at-search-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e948";
}
.at-search-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e949";
}
.at-settings-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e94a";
}
.at-settings-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e94b";
}
.at-share-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e94c";
}
.at-share-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e94d";
}
.at-shield-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e94e";
}
.at-shield-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e94f";
}
.at-signal-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e950";
}
.at-signal-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e951";
}
.at-star-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e952";
}
.at-star-comment-thin:before {
  font-family: 'content-box' !important;
  content: "\e953";
}
.at-star-messages-thin:before {
  font-family: 'content-box' !important;
  content: "\e954";
}
.at-star-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e955";
}
.at-user-chats-thin:before {
  font-family: 'content-box' !important;
  content: "\e956";
}
.at-user-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e957";
}
.at-user-comment-thin:before {
  font-family: 'content-box' !important;
  content: "\e958";
}
.at-user-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e959";
}
.at-video-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e95a";
}
.at-video-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e95b";
}
.at-wifi-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e95c";
}
.at-wifi-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e95d";
}
.at-xmark-chats-thin:before {
  font-family: 'content-box' !important;
  content: "\e95e";
}
.at-xmark-chat-thin:before {
  font-family: 'content-box' !important;
  content: "\e95f";
}
.at-xmark-comment-thin:before {
  font-family: 'content-box' !important;
  content: "\e960";
}
.at-xmark-message-thin:before {
  font-family: 'content-box' !important;
  content: "\e961";
}
.at-add-chat:before {
  font-family: 'content-box' !important;
  content: "\e962";
}
.at-add-chats:before {
  font-family: 'content-box' !important;
  content: "\e963";
}
.at-add-comment:before {
  font-family: 'content-box' !important;
  content: "\e964";
}
.at-add-comments:before {
  font-family: 'content-box' !important;
  content: "\e965";
}
.at-add-message:before {
  font-family: 'content-box' !important;
  content: "\e966";
}
.at-add-messages:before {
  font-family: 'content-box' !important;
  content: "\e967";
}
.at-arrow-down-line-chat:before {
  font-family: 'content-box' !important;
  content: "\e968";
}
.at-arrow-down-line-message:before {
  font-family: 'content-box' !important;
  content: "\e969";
}
.at-arrow-left-chat:before {
  font-family: 'content-box' !important;
  content: "\e96a";
}
.at-arrow-left-message:before {
  font-family: 'content-box' !important;
  content: "\e96b";
}
.at-arrow-right-chat:before {
  font-family: 'content-box' !important;
  content: "\e96c";
}
.at-arrow-right-message:before {
  font-family: 'content-box' !important;
  content: "\e96d";
}
.at-arrow-up-line-chat:before {
  font-family: 'content-box' !important;
  content: "\e96e";
}
.at-arrow-up-line-message:before {
  font-family: 'content-box' !important;
  content: "\e96f";
}
.at-audio-chat:before {
  font-family: 'content-box' !important;
  content: "\e970";
}
.at-audio-message:before {
  font-family: 'content-box' !important;
  content: "\e971";
}
.at-block-chat:before {
  font-family: 'content-box' !important;
  content: "\e972";
}
.at-block-message:before {
  font-family: 'content-box' !important;
  content: "\e973";
}
.at-chat-lines:before {
  font-family: 'content-box' !important;
  content: "\e974";
}
.at-chats:before {
  font-family: 'content-box' !important;
  content: "\e975";
}
.at-chats-dots:before {
  font-family: 'content-box' !important;
  content: "\e976";
}
.at-chats-lines:before {
  font-family: 'content-box' !important;
  content: "\e977";
}
.at-check-chat:before {
  font-family: 'content-box' !important;
  content: "\e978";
}
.at-check-comment:before {
  font-family: 'content-box' !important;
  content: "\e979";
}
.at-check-message:before {
  font-family: 'content-box' !important;
  content: "\e97a";
}
.at-check-messages:before {
  font-family: 'content-box' !important;
  content: "\e97b";
}
.at-comment:before {
  font-family: 'content-box' !important;
  content: "\e97c";
}
.at-comment-blank:before {
  font-family: 'content-box' !important;
  content: "\e97d";
}
.at-comment-dots:before {
  font-family: 'content-box' !important;
  content: "\e97e";
}
.at-dollar-chat:before {
  font-family: 'content-box' !important;
  content: "\e97f";
}
.at-dollar-message:before {
  font-family: 'content-box' !important;
  content: "\e980";
}
.at-dots-comment:before {
  font-family: 'content-box' !important;
  content: "\e981";
}
.at-exclamation-chat:before {
  font-family: 'content-box' !important;
  content: "\e982";
}
.at-exclamation-message:before {
  font-family: 'content-box' !important;
  content: "\e983";
}
.at-graph-chat:before {
  font-family: 'content-box' !important;
  content: "\e984";
}
.at-graph-message:before {
  font-family: 'content-box' !important;
  content: "\e985";
}
.at-heart-chat:before {
  font-family: 'content-box' !important;
  content: "\e986";
}
.at-heart-chats:before {
  font-family: 'content-box' !important;
  content: "\e987";
}
.at-heart-comment:before {
  font-family: 'content-box' !important;
  content: "\e988";
}
.at-heart-message:before {
  font-family: 'content-box' !important;
  content: "\e989";
}
.at-image-chat:before {
  font-family: 'content-box' !important;
  content: "\e98a";
}
.at-image-message:before {
  font-family: 'content-box' !important;
  content: "\e98b";
}
.at-info-chat:before {
  font-family: 'content-box' !important;
  content: "\e98c";
}
.at-info-message:before {
  font-family: 'content-box' !important;
  content: "\e98d";
}
.at-list-chat:before {
  font-family: 'content-box' !important;
  content: "\e98e";
}
.at-list-message:before {
  font-family: 'content-box' !important;
  content: "\e98f";
}
.at-lock-chat:before {
  font-family: 'content-box' !important;
  content: "\e990";
}
.at-lock-message:before {
  font-family: 'content-box' !important;
  content: "\e991";
}
.at-message:before {
  font-family: 'content-box' !important;
  content: "\e992";
}
.at-message-lines:before {
  font-family: 'content-box' !important;
  content: "\e993";
}
.at-messages:before {
  font-family: 'content-box' !important;
  content: "\e994";
}
.at-messages-blank:before {
  font-family: 'content-box' !important;
  content: "\e995";
}
.at-messages-dots:before {
  font-family: 'content-box' !important;
  content: "\e996";
}
.at-messages-text:before {
  font-family: 'content-box' !important;
  content: "\e997";
}
.at-message-text:before {
  font-family: 'content-box' !important;
  content: "\e998";
}
.at-messaging-lines:before {
  font-family: 'content-box' !important;
  content: "\e999";
}
.at-minus-chat:before {
  font-family: 'content-box' !important;
  content: "\e99a";
}
.at-minus-chats:before {
  font-family: 'content-box' !important;
  content: "\e99b";
}
.at-minus-comment:before {
  font-family: 'content-box' !important;
  content: "\e99c";
}
.at-minus-message:before {
  font-family: 'content-box' !important;
  content: "\e99d";
}
.at-music-chat:before {
  font-family: 'content-box' !important;
  content: "\e99e";
}
.at-music-message:before {
  font-family: 'content-box' !important;
  content: "\e99f";
}
.at-pencil-chat:before {
  font-family: 'content-box' !important;
  content: "\e9a0";
}
.at-pencil-message:before {
  font-family: 'content-box' !important;
  content: "\e9a1";
}
.at-play-chat:before {
  font-family: 'content-box' !important;
  content: "\e9a2";
}
.at-play-message:before {
  font-family: 'content-box' !important;
  content: "\e9a3";
}
.at-question-chat:before {
  font-family: 'content-box' !important;
  content: "\e9a4";
}
.at-question-message:before {
  font-family: 'content-box' !important;
  content: "\e9a5";
}
.at-record-chat:before {
  font-family: 'content-box' !important;
  content: "\e9a6";
}
.at-record-message:before {
  font-family: 'content-box' !important;
  content: "\e9a7";
}
.at-refresh-chat:before {
  font-family: 'content-box' !important;
  content: "\e9a8";
}
.at-refresh-message:before {
  font-family: 'content-box' !important;
  content: "\e9a9";
}
.at-search-chat:before {
  font-family: 'content-box' !important;
  content: "\e9aa";
}
.at-search-message:before {
  font-family: 'content-box' !important;
  content: "\e9ab";
}
.at-settings-chat:before {
  font-family: 'content-box' !important;
  content: "\e9ac";
}
.at-settings-message:before {
  font-family: 'content-box' !important;
  content: "\e9ad";
}
.at-share-chat:before {
  font-family: 'content-box' !important;
  content: "\e9ae";
}
.at-share-message:before {
  font-family: 'content-box' !important;
  content: "\e9af";
}
.at-shield-chat:before {
  font-family: 'content-box' !important;
  content: "\e9b0";
}
.at-shield-message:before {
  font-family: 'content-box' !important;
  content: "\e9b1";
}
.at-signal-chat:before {
  font-family: 'content-box' !important;
  content: "\e9b2";
}
.at-signal-message:before {
  font-family: 'content-box' !important;
  content: "\e9b3";
}
.at-star-chat:before {
  font-family: 'content-box' !important;
  content: "\e9b4";
}
.at-star-comment:before {
  font-family: 'content-box' !important;
  content: "\e9b5";
}
.at-star-message:before {
  font-family: 'content-box' !important;
  content: "\e9b6";
}
.at-star-messages:before {
  font-family: 'content-box' !important;
  content: "\e9b7";
}
.at-user-chat:before {
  font-family: 'content-box' !important;
  content: "\e9b8";
}
.at-user-chats:before {
  font-family: 'content-box' !important;
  content: "\e9b9";
}
.at-user-comment:before {
  font-family: 'content-box' !important;
  content: "\e9ba";
}
.at-user-message:before {
  font-family: 'content-box' !important;
  content: "\e9bb";
}
.at-video-chat:before {
  font-family: 'content-box' !important;
  content: "\e9bc";
}
.at-video-message:before {
  font-family: 'content-box' !important;
  content: "\e9bd";
}
.at-wifi-chat:before {
  font-family: 'content-box' !important;
  content: "\e9be";
}
.at-wifi-message:before {
  font-family: 'content-box' !important;
  content: "\e9bf";
}
.at-xmark-chat:before {
  font-family: 'content-box' !important;
  content: "\e9c0";
}
.at-xmark-chats:before {
  font-family: 'content-box' !important;
  content: "\e9c1";
}
.at-xmark-comment:before {
  font-family: 'content-box' !important;
  content: "\e9c2";
}
.at-xmark-message:before {
  font-family: 'content-box' !important;
  content: "\e9c3";
}
.at-add-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\e9c4";
}
.at-add-chats-bold:before {
  font-family: 'content-box' !important;
  content: "\e9c5";
}
.at-add-comment-bold:before {
  font-family: 'content-box' !important;
  content: "\e9c6";
}
.at-add-comments-bold:before {
  font-family: 'content-box' !important;
  content: "\e9c7";
}
.at-add-message-bold:before {
  font-family: 'content-box' !important;
  content: "\e9c8";
}
.at-add-messages-bold:before {
  font-family: 'content-box' !important;
  content: "\e9c9";
}
.at-arrow-down-line-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\e9ca";
}
.at-arrow-down-line-message-bold:before {
  font-family: 'content-box' !important;
  content: "\e9cb";
}
.at-arrow-left-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\e9cc";
}
.at-arrow-left-message-bold:before {
  font-family: 'content-box' !important;
  content: "\e9cd";
}
.at-arrow-right-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\e9ce";
}
.at-arrow-right-message-bold:before {
  font-family: 'content-box' !important;
  content: "\e9cf";
}
.at-arrow-up-line-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\e9d0";
}
.at-arrow-up-line-message-bold:before {
  font-family: 'content-box' !important;
  content: "\e9d1";
}
.at-audio-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\e9d2";
}
.at-audio-message-bold:before {
  font-family: 'content-box' !important;
  content: "\e9d3";
}
.at-block-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\e9d4";
}
.at-block-message-bold:before {
  font-family: 'content-box' !important;
  content: "\e9d5";
}
.at-chat-lines-bold:before {
  font-family: 'content-box' !important;
  content: "\e9d6";
}
.at-chats-bold:before {
  font-family: 'content-box' !important;
  content: "\e9d7";
}
.at-chats-dots-bold:before {
  font-family: 'content-box' !important;
  content: "\e9d8";
}
.at-chats-lines-bold:before {
  font-family: 'content-box' !important;
  content: "\e9d9";
}
.at-check-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\e9da";
}
.at-check-comment-bold:before {
  font-family: 'content-box' !important;
  content: "\e9db";
}
.at-check-message-bold:before {
  font-family: 'content-box' !important;
  content: "\e9dc";
}
.at-check-messages-bold:before {
  font-family: 'content-box' !important;
  content: "\e9dd";
}
.at-comment-blank-bold:before {
  font-family: 'content-box' !important;
  content: "\e9de";
}
.at-comment-bold:before {
  font-family: 'content-box' !important;
  content: "\e9df";
}
.at-comment-dots-bold:before {
  font-family: 'content-box' !important;
  content: "\e9e0";
}
.at-dollar-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\e9e1";
}
.at-dollar-message-bold:before {
  font-family: 'content-box' !important;
  content: "\e9e2";
}
.at-dots-comment-bold:before {
  font-family: 'content-box' !important;
  content: "\e9e3";
}
.at-exclamation-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\e9e4";
}
.at-exclamation-message-bold:before {
  font-family: 'content-box' !important;
  content: "\e9e5";
}
.at-graph-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\e9e6";
}
.at-graph-message-bold:before {
  font-family: 'content-box' !important;
  content: "\e9e7";
}
.at-heart-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\e9e8";
}
.at-heart-chats-bold:before {
  font-family: 'content-box' !important;
  content: "\e9e9";
}
.at-heart-comment-bold:before {
  font-family: 'content-box' !important;
  content: "\e9ea";
}
.at-heart-message-bold:before {
  font-family: 'content-box' !important;
  content: "\e9eb";
}
.at-image-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\e9ec";
}
.at-image-message-bold:before {
  font-family: 'content-box' !important;
  content: "\e9ed";
}
.at-info-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\e9ee";
}
.at-info-message-bold:before {
  font-family: 'content-box' !important;
  content: "\e9ef";
}
.at-list-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\e9f0";
}
.at-list-message-bold:before {
  font-family: 'content-box' !important;
  content: "\e9f1";
}
.at-lock-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\e9f2";
}
.at-lock-message-bold:before {
  font-family: 'content-box' !important;
  content: "\e9f3";
}
.at-message-bold:before {
  font-family: 'content-box' !important;
  content: "\e9f4";
}
.at-message-lines-bold:before {
  font-family: 'content-box' !important;
  content: "\e9f5";
}
.at-messages-blank-bold:before {
  font-family: 'content-box' !important;
  content: "\e9f6";
}
.at-messages-bold:before {
  font-family: 'content-box' !important;
  content: "\e9f7";
}
.at-messages-dots-bold:before {
  font-family: 'content-box' !important;
  content: "\e9f8";
}
.at-messages-text-bold:before {
  font-family: 'content-box' !important;
  content: "\e9f9";
}
.at-message-text-bold:before {
  font-family: 'content-box' !important;
  content: "\e9fa";
}
.at-messaging-lines-bold:before {
  font-family: 'content-box' !important;
  content: "\e9fb";
}
.at-minus-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\e9fc";
}
.at-minus-chats-bold:before {
  font-family: 'content-box' !important;
  content: "\e9fd";
}
.at-minus-comment-bold:before {
  font-family: 'content-box' !important;
  content: "\e9fe";
}
.at-minus-message-bold:before {
  font-family: 'content-box' !important;
  content: "\e9ff";
}
.at-music-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\ea00";
}
.at-music-message-bold:before {
  font-family: 'content-box' !important;
  content: "\ea01";
}
.at-pencil-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\ea02";
}
.at-pencil-message-bold:before {
  font-family: 'content-box' !important;
  content: "\ea03";
}
.at-play-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\ea04";
}
.at-play-message-bold:before {
  font-family: 'content-box' !important;
  content: "\ea05";
}
.at-question-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\ea06";
}
.at-question-message-bold:before {
  font-family: 'content-box' !important;
  content: "\ea07";
}
.at-record-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\ea08";
}
.at-record-message-bold:before {
  font-family: 'content-box' !important;
  content: "\ea09";
}
.at-refresh-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\ea0a";
}
.at-refresh-message-bold:before {
  font-family: 'content-box' !important;
  content: "\ea0b";
}
.at-search-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\ea0c";
}
.at-search-message-bold:before {
  font-family: 'content-box' !important;
  content: "\ea0d";
}
.at-settings-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\ea0e";
}
.at-settings-message-bold:before {
  font-family: 'content-box' !important;
  content: "\ea0f";
}
.at-share-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\ea10";
}
.at-share-message-bold:before {
  font-family: 'content-box' !important;
  content: "\ea11";
}
.at-shield-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\ea12";
}
.at-shield-message-bold:before {
  font-family: 'content-box' !important;
  content: "\ea13";
}
.at-signal-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\ea14";
}
.at-signal-message-bold:before {
  font-family: 'content-box' !important;
  content: "\ea15";
}
.at-star-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\ea16";
}
.at-star-comment-bold:before {
  font-family: 'content-box' !important;
  content: "\ea17";
}
.at-star-message-bold:before {
  font-family: 'content-box' !important;
  content: "\ea18";
}
.at-star-messages-bold:before {
  font-family: 'content-box' !important;
  content: "\ea19";
}
.at-user-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\ea1a";
}
.at-user-chats-bold:before {
  font-family: 'content-box' !important;
  content: "\ea1b";
}
.at-user-comment-bold:before {
  font-family: 'content-box' !important;
  content: "\ea1c";
}
.at-user-message-bold:before {
  font-family: 'content-box' !important;
  content: "\ea1d";
}
.at-video-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\ea1e";
}
.at-video-message-bold:before {
  font-family: 'content-box' !important;
  content: "\ea1f";
}
.at-wifi-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\ea20";
}
.at-wifi-message-bold:before {
  font-family: 'content-box' !important;
  content: "\ea21";
}
.at-xmark-chat-bold:before {
  font-family: 'content-box' !important;
  content: "\ea22";
}
.at-xmark-chats-bold:before {
  font-family: 'content-box' !important;
  content: "\ea23";
}
.at-xmark-comment-bold:before {
  font-family: 'content-box' !important;
  content: "\ea24";
}
.at-xmark-message-bold:before {
  font-family: 'content-box' !important;
  content: "\ea25";
}
