@font-face {
  font-family: 'electronic-gadget';
  src:  url('fonts/electronic-gadget.eot?vkio5i');
  src:  url('fonts/electronic-gadget.eot?vkio5i#iefix') format('embedded-opentype'),
    url('fonts/electronic-gadget.ttf?vkio5i') format('truetype'),
    url('fonts/electronic-gadget.woff?vkio5i') format('woff'),
    url('fonts/electronic-gadget.svg?vkio5i#electronic-gadget') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.at-airpods-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e900";
}
.at-audio-player-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e901";
}
.at-cable-charge-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e902";
}
.at-cable-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e903";
}
.at-cable-usb-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e904";
}
.at-camcorder-back-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e905";
}
.at-camera-device-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e906";
}
.at-camera-photography-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e907";
}
.at-charging-cable-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e908";
}
.at-chip-computer-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e909";
}
.at-chip-memory-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e90a";
}
.at-computer-chip-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e90b";
}
.at-computer-memory-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e90c";
}
.at-computer-monitor-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e90d";
}
.at-computer-screen-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e90e";
}
.at-cpu-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e90f";
}
.at-curved-tv-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e910";
}
.at-disk-reader-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e911";
}
.at-drawing-tablet-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e912";
}
.at-drone-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e913";
}
.at-dvd-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e914";
}
.at-earphones-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e915";
}
.at-electricity-cable-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e916";
}
.at-electricity-socket-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e917";
}
.at-ethernet-port-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e918";
}
.at-european-plug-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e919";
}
.at-european-socket-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e91a";
}
.at-flashlight-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e91b";
}
.at-floppy-disk-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e91c";
}
.at-hard-disk-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e91d";
}
.at-hardware-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e91e";
}
.at-headphones-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e91f";
}
.at-keyboard-pointer-up-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e920";
}
.at-keyboard-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e921";
}
.at-keyboard-typing-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e922";
}
.at-laptop-screen-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e923";
}
.at-laptop-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e924";
}
.at-memory-card-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e925";
}
.at-memory-computer-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e926";
}
.at-memory-ram-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e927";
}
.at-memory-stick-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e928";
}
.at-microchip-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e929";
}
.at-micro-usb-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e92a";
}
.at-mobile-pen-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e92b";
}
.at-mouse-pointer-up-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e92c";
}
.at-mouse-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e92d";
}
.at-mp3-player-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e92e";
}
.at-music-player-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e92f";
}
.at-pc-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e930";
}
.at-phone-socket-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e931";
}
.at-photo-camera-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e932";
}
.at-photography-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e933";
}
.at-port-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e934";
}
.at-power-chip-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e935";
}
.at-print-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e936";
}
.at-ram-memory-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e937";
}
.at-ram-storage-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e938";
}
.at-remote-control-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e939";
}
.at-smartwatch-wireless-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e93a";
}
.at-socket-electricity-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e93b";
}
.at-sound-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e93c";
}
.at-speaker-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e93d";
}
.at-storage-card-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e93e";
}
.at-storage-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e93f";
}
.at-tablet-pen-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e940";
}
.at-tablet-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e941";
}
.at-tv-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e942";
}
.at-usb-cable-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e943";
}
.at-usb-plug-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e944";
}
.at-usb-port-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e945";
}
.at-usb-stick-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e946";
}
.at-vr-goggles-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e947";
}
.at-webcam-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e948";
}
.at-wifi-drawing-tablet-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e949";
}
.at-wifi-monitor-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e94a";
}
.at-wireless-keyboard-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e94b";
}
.at-wireless-mouse-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e94c";
}
.at-wireless-router-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e94d";
}
.at-wireless-smartwatch-thin:before {
  font-family: 'electronic-gadget' !important;
  content: "\e94e";
}
.at-airpods:before {
  font-family: 'electronic-gadget' !important;
  content: "\e94f";
}
.at-audio-player:before {
  font-family: 'electronic-gadget' !important;
  content: "\e950";
}
.at-cable:before {
  font-family: 'electronic-gadget' !important;
  content: "\e951";
}
.at-cable-charge:before {
  font-family: 'electronic-gadget' !important;
  content: "\e952";
}
.at-cable-usb:before {
  font-family: 'electronic-gadget' !important;
  content: "\e953";
}
.at-camcorder-back:before {
  font-family: 'electronic-gadget' !important;
  content: "\e954";
}
.at-camera-device:before {
  font-family: 'electronic-gadget' !important;
  content: "\e955";
}
.at-camera-photography:before {
  font-family: 'electronic-gadget' !important;
  content: "\e956";
}
.at-charging-cable:before {
  font-family: 'electronic-gadget' !important;
  content: "\e957";
}
.at-chip-computer:before {
  font-family: 'electronic-gadget' !important;
  content: "\e958";
}
.at-chip-memory:before {
  font-family: 'electronic-gadget' !important;
  content: "\e959";
}
.at-computer-chip:before {
  font-family: 'electronic-gadget' !important;
  content: "\e95a";
}
.at-computer-memory:before {
  font-family: 'electronic-gadget' !important;
  content: "\e95b";
}
.at-computer-monitor:before {
  font-family: 'electronic-gadget' !important;
  content: "\e95c";
}
.at-computer-screen:before {
  font-family: 'electronic-gadget' !important;
  content: "\e95d";
}
.at-cpu:before {
  font-family: 'electronic-gadget' !important;
  content: "\e95e";
}
.at-curved-tv:before {
  font-family: 'electronic-gadget' !important;
  content: "\e95f";
}
.at-disk-reader:before {
  font-family: 'electronic-gadget' !important;
  content: "\e960";
}
.at-drawing-tablet:before {
  font-family: 'electronic-gadget' !important;
  content: "\e961";
}
.at-drone:before {
  font-family: 'electronic-gadget' !important;
  content: "\e962";
}
.at-dvd:before {
  font-family: 'electronic-gadget' !important;
  content: "\e963";
}
.at-earphones:before {
  font-family: 'electronic-gadget' !important;
  content: "\e964";
}
.at-electricity-cable:before {
  font-family: 'electronic-gadget' !important;
  content: "\e965";
}
.at-electricity-socket:before {
  font-family: 'electronic-gadget' !important;
  content: "\e966";
}
.at-ethernet-port:before {
  font-family: 'electronic-gadget' !important;
  content: "\e967";
}
.at-european-plug:before {
  font-family: 'electronic-gadget' !important;
  content: "\e968";
}
.at-european-socket:before {
  font-family: 'electronic-gadget' !important;
  content: "\e969";
}
.at-flashlight:before {
  font-family: 'electronic-gadget' !important;
  content: "\e96a";
}
.at-floppy-disk:before {
  font-family: 'electronic-gadget' !important;
  content: "\e96b";
}
.at-hard-disk:before {
  font-family: 'electronic-gadget' !important;
  content: "\e96c";
}
.at-hardware:before {
  font-family: 'electronic-gadget' !important;
  content: "\e96d";
}
.at-headphones:before {
  font-family: 'electronic-gadget' !important;
  content: "\e96e";
}
.at-keyboard:before {
  font-family: 'electronic-gadget' !important;
  content: "\e96f";
}
.at-keyboard-pointer-up:before {
  font-family: 'electronic-gadget' !important;
  content: "\e970";
}
.at-keyboard-typing:before {
  font-family: 'electronic-gadget' !important;
  content: "\e971";
}
.at-laptop:before {
  font-family: 'electronic-gadget' !important;
  content: "\e972";
}
.at-laptop-screen:before {
  font-family: 'electronic-gadget' !important;
  content: "\e973";
}
.at-memory-card:before {
  font-family: 'electronic-gadget' !important;
  content: "\e974";
}
.at-memory-computer:before {
  font-family: 'electronic-gadget' !important;
  content: "\e975";
}
.at-memory-ram:before {
  font-family: 'electronic-gadget' !important;
  content: "\e976";
}
.at-memory-stick:before {
  font-family: 'electronic-gadget' !important;
  content: "\e977";
}
.at-microchip:before {
  font-family: 'electronic-gadget' !important;
  content: "\e978";
}
.at-micro-usb:before {
  font-family: 'electronic-gadget' !important;
  content: "\e979";
}
.at-mobile-pen:before {
  font-family: 'electronic-gadget' !important;
  content: "\e97a";
}
.at-mouse:before {
  font-family: 'electronic-gadget' !important;
  content: "\e97b";
}
.at-mouse-pointer-up:before {
  font-family: 'electronic-gadget' !important;
  content: "\e97c";
}
.at-mp3-player:before {
  font-family: 'electronic-gadget' !important;
  content: "\e97d";
}
.at-music-player:before {
  font-family: 'electronic-gadget' !important;
  content: "\e97e";
}
.at-pc:before {
  font-family: 'electronic-gadget' !important;
  content: "\e97f";
}
.at-phone-socket:before {
  font-family: 'electronic-gadget' !important;
  content: "\e980";
}
.at-photo-camera:before {
  font-family: 'electronic-gadget' !important;
  content: "\e981";
}
.at-photography:before {
  font-family: 'electronic-gadget' !important;
  content: "\e982";
}
.at-port:before {
  font-family: 'electronic-gadget' !important;
  content: "\e983";
}
.at-power-chip:before {
  font-family: 'electronic-gadget' !important;
  content: "\e984";
}
.at-print:before {
  font-family: 'electronic-gadget' !important;
  content: "\e985";
}
.at-ram-memory:before {
  font-family: 'electronic-gadget' !important;
  content: "\e986";
}
.at-ram-storage:before {
  font-family: 'electronic-gadget' !important;
  content: "\e987";
}
.at-remote-control:before {
  font-family: 'electronic-gadget' !important;
  content: "\e988";
}
.at-smartwatch-wireless:before {
  font-family: 'electronic-gadget' !important;
  content: "\e989";
}
.at-socket-electricity:before {
  font-family: 'electronic-gadget' !important;
  content: "\e98a";
}
.at-sound:before {
  font-family: 'electronic-gadget' !important;
  content: "\e98b";
}
.at-speaker:before {
  font-family: 'electronic-gadget' !important;
  content: "\e98c";
}
.at-storage:before {
  font-family: 'electronic-gadget' !important;
  content: "\e98d";
}
.at-storage-card:before {
  font-family: 'electronic-gadget' !important;
  content: "\e98e";
}
.at-tablet:before {
  font-family: 'electronic-gadget' !important;
  content: "\e98f";
}
.at-tablet-pen:before {
  font-family: 'electronic-gadget' !important;
  content: "\e990";
}
.at-tv:before {
  font-family: 'electronic-gadget' !important;
  content: "\e991";
}
.at-usb-cable:before {
  font-family: 'electronic-gadget' !important;
  content: "\e992";
}
.at-usb-plug:before {
  font-family: 'electronic-gadget' !important;
  content: "\e993";
}
.at-usb-port:before {
  font-family: 'electronic-gadget' !important;
  content: "\e994";
}
.at-usb-stick:before {
  font-family: 'electronic-gadget' !important;
  content: "\e995";
}
.at-vr-goggles:before {
  font-family: 'electronic-gadget' !important;
  content: "\e996";
}
.at-webcam:before {
  font-family: 'electronic-gadget' !important;
  content: "\e997";
}
.at-wifi-drawing-tablet:before {
  font-family: 'electronic-gadget' !important;
  content: "\e998";
}
.at-wifi-monitor:before {
  font-family: 'electronic-gadget' !important;
  content: "\e999";
}
.at-wireless-keyboard:before {
  font-family: 'electronic-gadget' !important;
  content: "\e99a";
}
.at-wireless-mouse:before {
  font-family: 'electronic-gadget' !important;
  content: "\e99b";
}
.at-wireless-router:before {
  font-family: 'electronic-gadget' !important;
  content: "\e99c";
}
.at-wireless-smartwatch:before {
  font-family: 'electronic-gadget' !important;
  content: "\e99d";
}
.at-airpods-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e99e";
}
.at-audio-player-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e99f";
}
.at-cable-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9a0";
}
.at-cable-charge-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9a1";
}
.at-cable-usb-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9a2";
}
.at-camcorder-back-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9a3";
}
.at-camera-device-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9a4";
}
.at-camera-photography-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9a5";
}
.at-charging-cable-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9a6";
}
.at-chip-computer-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9a7";
}
.at-chip-memory-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9a8";
}
.at-computer-chip-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9a9";
}
.at-computer-memory-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9aa";
}
.at-computer-monitor-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9ab";
}
.at-computer-screen-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9ac";
}
.at-cpu-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9ad";
}
.at-curved-tv-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9ae";
}
.at-disk-reader-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9af";
}
.at-drawing-tablet-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9b0";
}
.at-drone-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9b1";
}
.at-dvd-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9b2";
}
.at-earphones-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9b3";
}
.at-electricity-cable-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9b4";
}
.at-electricity-socket-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9b5";
}
.at-ethernet-port-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9b6";
}
.at-european-plug-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9b7";
}
.at-european-socket-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9b8";
}
.at-flashlight-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9b9";
}
.at-floppy-disk-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9ba";
}
.at-hard-disk-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9bb";
}
.at-hardware-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9bc";
}
.at-headphones-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9bd";
}
.at-keyboard-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9be";
}
.at-keyboard-pointer-up-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9bf";
}
.at-keyboard-typing-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9c0";
}
.at-laptop-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9c1";
}
.at-laptop-screen-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9c2";
}
.at-memory-card-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9c3";
}
.at-memory-computer-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9c4";
}
.at-memory-ram-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9c5";
}
.at-memory-stick-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9c6";
}
.at-microchip-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9c7";
}
.at-micro-usb-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9c8";
}
.at-mobile-pen-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9c9";
}
.at-mouse-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9ca";
}
.at-mouse-pointer-up-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9cb";
}
.at-mp3-player-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9cc";
}
.at-music-player-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9cd";
}
.at-pc-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9ce";
}
.at-phone-socket-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9cf";
}
.at-photo-camera-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9d0";
}
.at-photography-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9d1";
}
.at-port-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9d2";
}
.at-power-chip-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9d3";
}
.at-print-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9d4";
}
.at-ram-memory-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9d5";
}
.at-ram-storage-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9d6";
}
.at-remote-control-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9d7";
}
.at-smartwatch-wireless-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9d8";
}
.at-socket-electricity-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9d9";
}
.at-sound-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9da";
}
.at-speaker-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9db";
}
.at-storage-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9dc";
}
.at-storage-card-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9dd";
}
.at-tablet-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9de";
}
.at-tablet-pen-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9df";
}
.at-tv-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9e0";
}
.at-usb-cable-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9e1";
}
.at-usb-plug-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9e2";
}
.at-usb-port-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9e3";
}
.at-usb-stick-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9e4";
}
.at-vr-goggles-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9e5";
}
.at-webcam-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9e6";
}
.at-wifi-drawing-tablet-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9e7";
}
.at-wifi-monitor-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9e8";
}
.at-wireless-keyboard-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9e9";
}
.at-wireless-mouse-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9ea";
}
.at-wireless-router-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9eb";
}
.at-wireless-smartwatch-bold:before {
  font-family: 'electronic-gadget' !important;
  content: "\e9ec";
}
