@font-face {
  font-family: 'christmas';
  src:  url('fonts/christmas.eot?f8vi2j');
  src:  url('fonts/christmas.eot?f8vi2j#iefix') format('embedded-opentype'),
    url('fonts/christmas.ttf?f8vi2j') format('truetype'),
    url('fonts/christmas.woff?f8vi2j') format('woff'),
    url('fonts/christmas.svg?f8vi2j#christmas') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.at-angel-thin:before {
  font-family: 'christmas' !important;
  content: "\e900";
}
.at-antlers-thin:before {
  font-family: 'christmas' !important;
  content: "\e901";
}
.at-ball-ornament-thin:before {
  font-family: 'christmas' !important;
  content: "\e902";
}
.at-bell-bow-thin:before {
  font-family: 'christmas' !important;
  content: "\e903";
}
.at-berries-thin:before {
  font-family: 'christmas' !important;
  content: "\e904";
}
.at-bible-book-thin:before {
  font-family: 'christmas' !important;
  content: "\e905";
}
.at-bottle-glass-thin:before {
  font-family: 'christmas' !important;
  content: "\e906";
}
.at-building-church-thin:before {
  font-family: 'christmas' !important;
  content: "\e907";
}
.at-calendar-bell-thin:before {
  font-family: 'christmas' !important;
  content: "\e908";
}
.at-calendar-date-thin:before {
  font-family: 'christmas' !important;
  content: "\e909";
}
.at-candle-holder-thin:before {
  font-family: 'christmas' !important;
  content: "\e90a";
}
.at-candle-light-thin:before {
  font-family: 'christmas' !important;
  content: "\e90b";
}
.at-candle-lines-thin:before {
  font-family: 'christmas' !important;
  content: "\e90c";
}
.at-candles-thin:before {
  font-family: 'christmas' !important;
  content: "\e90d";
}
.at-candy-cane-thin:before {
  font-family: 'christmas' !important;
  content: "\e90e";
}
.at-candy-thin:before {
  font-family: 'christmas' !important;
  content: "\e90f";
}
.at-chimney-thin:before {
  font-family: 'christmas' !important;
  content: "\e910";
}
.at-christmas-tree-thin:before {
  font-family: 'christmas' !important;
  content: "\e911";
}
.at-church-building-thin:before {
  font-family: 'christmas' !important;
  content: "\e912";
}
.at-cross-thin:before {
  font-family: 'christmas' !important;
  content: "\e913";
}
.at-deer-thin:before {
  font-family: 'christmas' !important;
  content: "\e914";
}
.at-elf-thin:before {
  font-family: 'christmas' !important;
  content: "\e915";
}
.at-gift-square-thin:before {
  font-family: 'christmas' !important;
  content: "\e916";
}
.at-gifts-thin:before {
  font-family: 'christmas' !important;
  content: "\e917";
}
.at-hat-santa-thin:before {
  font-family: 'christmas' !important;
  content: "\e918";
}
.at-lollipop-thin:before {
  font-family: 'christmas' !important;
  content: "\e919";
}
.at-magic-wand-sparkles-thin:before {
  font-family: 'christmas' !important;
  content: "\e91a";
}
.at-ornament-lines-thin:before {
  font-family: 'christmas' !important;
  content: "\e91b";
}
.at-ornament-star-thin:before {
  font-family: 'christmas' !important;
  content: "\e91c";
}
.at-ornament-thin:before {
  font-family: 'christmas' !important;
  content: "\e91d";
}
.at-present-thin:before {
  font-family: 'christmas' !important;
  content: "\e91e";
}
.at-ribbon-bow-thin:before {
  font-family: 'christmas' !important;
  content: "\e91f";
}
.at-santa-bag-thin:before {
  font-family: 'christmas' !important;
  content: "\e920";
}
.at-santa-claus-thin:before {
  font-family: 'christmas' !important;
  content: "\e921";
}
.at-santa-hat-thin:before {
  font-family: 'christmas' !important;
  content: "\e922";
}
.at-santa-sleigh-thin:before {
  font-family: 'christmas' !important;
  content: "\e923";
}
.at-snowglobe-thin:before {
  font-family: 'christmas' !important;
  content: "\e924";
}
.at-star-decoration-thin:before {
  font-family: 'christmas' !important;
  content: "\e925";
}
.at-star-decor-thin:before {
  font-family: 'christmas' !important;
  content: "\e926";
}
.at-star-ornament-thin:before {
  font-family: 'christmas' !important;
  content: "\e927";
}
.at-star-topper-thin:before {
  font-family: 'christmas' !important;
  content: "\e928";
}
.at-stockings-thin:before {
  font-family: 'christmas' !important;
  content: "\e929";
}
.at-stocking-thin:before {
  font-family: 'christmas' !important;
  content: "\e92a";
}
.at-string-lights-thin:before {
  font-family: 'christmas' !important;
  content: "\e92b";
}
.at-tree-calendar-thin:before {
  font-family: 'christmas' !important;
  content: "\e92c";
}
.at-tree-light-thin:before {
  font-family: 'christmas' !important;
  content: "\e92d";
}
.at-tree-snowglobe-thin:before {
  font-family: 'christmas' !important;
  content: "\e92e";
}
.at-wreath-bell-thin:before {
  font-family: 'christmas' !important;
  content: "\e92f";
}
.at-wreath-bow-thin:before {
  font-family: 'christmas' !important;
  content: "\e930";
}
.at-wreath-thin:before {
  font-family: 'christmas' !important;
  content: "\e931";
}
.at-angel:before {
  font-family: 'christmas' !important;
  content: "\e932";
}
.at-antlers:before {
  font-family: 'christmas' !important;
  content: "\e933";
}
.at-ball-ornament:before {
  font-family: 'christmas' !important;
  content: "\e934";
}
.at-bell-bow:before {
  font-family: 'christmas' !important;
  content: "\e935";
}
.at-berries:before {
  font-family: 'christmas' !important;
  content: "\e936";
}
.at-bible-book:before {
  font-family: 'christmas' !important;
  content: "\e937";
}
.at-bottle-glass:before {
  font-family: 'christmas' !important;
  content: "\e938";
}
.at-building-church:before {
  font-family: 'christmas' !important;
  content: "\e939";
}
.at-calendar-bell:before {
  font-family: 'christmas' !important;
  content: "\e93a";
}
.at-calendar-date:before {
  font-family: 'christmas' !important;
  content: "\e93b";
}
.at-candle-holder:before {
  font-family: 'christmas' !important;
  content: "\e93c";
}
.at-candle-light:before {
  font-family: 'christmas' !important;
  content: "\e93d";
}
.at-candle-lines:before {
  font-family: 'christmas' !important;
  content: "\e93e";
}
.at-candles:before {
  font-family: 'christmas' !important;
  content: "\e93f";
}
.at-candy:before {
  font-family: 'christmas' !important;
  content: "\e940";
}
.at-candy-cane:before {
  font-family: 'christmas' !important;
  content: "\e941";
}
.at-chimney:before {
  font-family: 'christmas' !important;
  content: "\e942";
}
.at-christmas-tree:before {
  font-family: 'christmas' !important;
  content: "\e943";
}
.at-church-building:before {
  font-family: 'christmas' !important;
  content: "\e944";
}
.at-cross:before {
  font-family: 'christmas' !important;
  content: "\e945";
}
.at-deer:before {
  font-family: 'christmas' !important;
  content: "\e946";
}
.at-elf:before {
  font-family: 'christmas' !important;
  content: "\e947";
}
.at-gifts:before {
  font-family: 'christmas' !important;
  content: "\e948";
}
.at-gift-square:before {
  font-family: 'christmas' !important;
  content: "\e949";
}
.at-hat-santa:before {
  font-family: 'christmas' !important;
  content: "\e94a";
}
.at-lollipop:before {
  font-family: 'christmas' !important;
  content: "\e94b";
}
.at-magic-wand-sparkles:before {
  font-family: 'christmas' !important;
  content: "\e94c";
}
.at-ornament:before {
  font-family: 'christmas' !important;
  content: "\e94d";
}
.at-ornament-lines:before {
  font-family: 'christmas' !important;
  content: "\e94e";
}
.at-ornament-star:before {
  font-family: 'christmas' !important;
  content: "\e94f";
}
.at-present:before {
  font-family: 'christmas' !important;
  content: "\e950";
}
.at-ribbon-bow:before {
  font-family: 'christmas' !important;
  content: "\e951";
}
.at-santa-bag:before {
  font-family: 'christmas' !important;
  content: "\e952";
}
.at-santa-claus:before {
  font-family: 'christmas' !important;
  content: "\e953";
}
.at-santa-hat:before {
  font-family: 'christmas' !important;
  content: "\e954";
}
.at-santa-sleigh:before {
  font-family: 'christmas' !important;
  content: "\e955";
}
.at-snowglobe:before {
  font-family: 'christmas' !important;
  content: "\e956";
}
.at-star-decor:before {
  font-family: 'christmas' !important;
  content: "\e957";
}
.at-star-decoration:before {
  font-family: 'christmas' !important;
  content: "\e958";
}
.at-star-ornament:before {
  font-family: 'christmas' !important;
  content: "\e959";
}
.at-star-topper:before {
  font-family: 'christmas' !important;
  content: "\e95a";
}
.at-stocking:before {
  font-family: 'christmas' !important;
  content: "\e95b";
}
.at-stockings:before {
  font-family: 'christmas' !important;
  content: "\e95c";
}
.at-string-lights:before {
  font-family: 'christmas' !important;
  content: "\e95d";
}
.at-tree-calendar:before {
  font-family: 'christmas' !important;
  content: "\e95e";
}
.at-tree-light:before {
  font-family: 'christmas' !important;
  content: "\e95f";
}
.at-tree-snowglobe:before {
  font-family: 'christmas' !important;
  content: "\e960";
}
.at-wreath:before {
  font-family: 'christmas' !important;
  content: "\e961";
}
.at-wreath-bell:before {
  font-family: 'christmas' !important;
  content: "\e962";
}
.at-wreath-bow:before {
  font-family: 'christmas' !important;
  content: "\e963";
}
.at-angel-bold:before {
  font-family: 'christmas' !important;
  content: "\e964";
}
.at-antlers-bold:before {
  font-family: 'christmas' !important;
  content: "\e965";
}
.at-ball-ornament-bold:before {
  font-family: 'christmas' !important;
  content: "\e966";
}
.at-bell-bow-bold:before {
  font-family: 'christmas' !important;
  content: "\e967";
}
.at-berries-bold:before {
  font-family: 'christmas' !important;
  content: "\e968";
}
.at-bible-book-bold:before {
  font-family: 'christmas' !important;
  content: "\e969";
}
.at-bottle-glass-bold:before {
  font-family: 'christmas' !important;
  content: "\e96a";
}
.at-building-church-bold:before {
  font-family: 'christmas' !important;
  content: "\e96b";
}
.at-calendar-bell-bold:before {
  font-family: 'christmas' !important;
  content: "\e96c";
}
.at-calendar-date-bold:before {
  font-family: 'christmas' !important;
  content: "\e96d";
}
.at-candle-holder-bold:before {
  font-family: 'christmas' !important;
  content: "\e96e";
}
.at-candle-light-bold:before {
  font-family: 'christmas' !important;
  content: "\e96f";
}
.at-candle-lines-bold:before {
  font-family: 'christmas' !important;
  content: "\e970";
}
.at-candles-bold:before {
  font-family: 'christmas' !important;
  content: "\e971";
}
.at-candy-bold:before {
  font-family: 'christmas' !important;
  content: "\e972";
}
.at-candy-cane-bold:before {
  font-family: 'christmas' !important;
  content: "\e973";
}
.at-chimney-bold:before {
  font-family: 'christmas' !important;
  content: "\e974";
}
.at-christmas-tree-bold:before {
  font-family: 'christmas' !important;
  content: "\e975";
}
.at-church-building-bold:before {
  font-family: 'christmas' !important;
  content: "\e976";
}
.at-cross-bold:before {
  font-family: 'christmas' !important;
  content: "\e977";
}
.at-deer-bold:before {
  font-family: 'christmas' !important;
  content: "\e978";
}
.at-elf-bold:before {
  font-family: 'christmas' !important;
  content: "\e979";
}
.at-gifts-bold:before {
  font-family: 'christmas' !important;
  content: "\e97a";
}
.at-gift-square-bold:before {
  font-family: 'christmas' !important;
  content: "\e97b";
}
.at-hat-santa-bold:before {
  font-family: 'christmas' !important;
  content: "\e97c";
}
.at-lollipop-bold:before {
  font-family: 'christmas' !important;
  content: "\e97d";
}
.at-magic-wand-sparkles-bold:before {
  font-family: 'christmas' !important;
  content: "\e97e";
}
.at-ornament-bold:before {
  font-family: 'christmas' !important;
  content: "\e97f";
}
.at-ornament-lines-bold:before {
  font-family: 'christmas' !important;
  content: "\e980";
}
.at-ornament-star-bold:before {
  font-family: 'christmas' !important;
  content: "\e981";
}
.at-present-bold:before {
  font-family: 'christmas' !important;
  content: "\e982";
}
.at-ribbon-bow-bold:before {
  font-family: 'christmas' !important;
  content: "\e983";
}
.at-santa-bag-bold:before {
  font-family: 'christmas' !important;
  content: "\e984";
}
.at-santa-claus-bold:before {
  font-family: 'christmas' !important;
  content: "\e985";
}
.at-santa-hat-bold:before {
  font-family: 'christmas' !important;
  content: "\e986";
}
.at-santa-sleigh-bold:before {
  font-family: 'christmas' !important;
  content: "\e987";
}
.at-snowglobe-bold:before {
  font-family: 'christmas' !important;
  content: "\e988";
}
.at-star-decoration-bold:before {
  font-family: 'christmas' !important;
  content: "\e989";
}
.at-star-decor-bold:before {
  font-family: 'christmas' !important;
  content: "\e98a";
}
.at-star-ornament-bold:before {
  font-family: 'christmas' !important;
  content: "\e98b";
}
.at-star-topper-bold:before {
  font-family: 'christmas' !important;
  content: "\e98c";
}
.at-stocking-bold:before {
  font-family: 'christmas' !important;
  content: "\e98d";
}
.at-stockings-bold:before {
  font-family: 'christmas' !important;
  content: "\e98e";
}
.at-string-lights-bold:before {
  font-family: 'christmas' !important;
  content: "\e98f";
}
.at-tree-calendar-bold:before {
  font-family: 'christmas' !important;
  content: "\e990";
}
.at-tree-light-bold:before {
  font-family: 'christmas' !important;
  content: "\e991";
}
.at-tree-snowglobe-bold:before {
  font-family: 'christmas' !important;
  content: "\e992";
}
.at-wreath-bell-bold:before {
  font-family: 'christmas' !important;
  content: "\e993";
}
.at-wreath-bold:before {
  font-family: 'christmas' !important;
  content: "\e994";
}
.at-wreath-bow-bold:before {
  font-family: 'christmas' !important;
  content: "\e995";
}
