@font-face {
  font-family: 'construction';
  src:  url('fonts/construction.eot?6wn7xc');
  src:  url('fonts/construction.eot?6wn7xc#iefix') format('embedded-opentype'),
    url('fonts/construction.ttf?6wn7xc') format('truetype'),
    url('fonts/construction.woff?6wn7xc') format('woff'),
    url('fonts/construction.svg?6wn7xc#construction') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.at-axe-thin:before {
  font-family: 'construction' !important;
  content: "\e900";
}
.at-bolt-thin:before {
  font-family: 'construction' !important;
  content: "\e901";
}
.at-boot-thin:before {
  font-family: 'construction' !important;
  content: "\e902";
}
.at-building-construction-thin:before {
  font-family: 'construction' !important;
  content: "\e903";
}
.at-build-wall-thin:before {
  font-family: 'construction' !important;
  content: "\e904";
}
.at-cement-mixer-thin:before {
  font-family: 'construction' !important;
  content: "\e905";
}
.at-cement-sack-thin:before {
  font-family: 'construction' !important;
  content: "\e906";
}
.at-cement-truck-thin:before {
  font-family: 'construction' !important;
  content: "\e907";
}
.at-chainsaw-thin:before {
  font-family: 'construction' !important;
  content: "\e908";
}
.at-clamp-thin:before {
  font-family: 'construction' !important;
  content: "\e909";
}
.at-compass-thin:before {
  font-family: 'construction' !important;
  content: "\e90a";
}
.at-construction-saw-thin:before {
  font-family: 'construction' !important;
  content: "\e90b";
}
.at-construction-tools-thin:before {
  font-family: 'construction' !important;
  content: "\e90c";
}
.at-construction-tool-thin:before {
  font-family: 'construction' !important;
  content: "\e90d";
}
.at-construction-truck-thin:before {
  font-family: 'construction' !important;
  content: "\e90e";
}
.at-construction-worker-thin:before {
  font-family: 'construction' !important;
  content: "\e90f";
}
.at-crane-pipe-thin:before {
  font-family: 'construction' !important;
  content: "\e910";
}
.at-crank-screwdriver-thin:before {
  font-family: 'construction' !important;
  content: "\e911";
}
.at-drill-electric-thin:before {
  font-family: 'construction' !important;
  content: "\e912";
}
.at-dropper-thin:before {
  font-family: 'construction' !important;
  content: "\e913";
}
.at-electric-drill-thin:before {
  font-family: 'construction' !important;
  content: "\e914";
}
.at-electric-sander-thin:before {
  font-family: 'construction' !important;
  content: "\e915";
}
.at-electric-saw-thin:before {
  font-family: 'construction' !important;
  content: "\e916";
}
.at-flat-screwdriver-thin:before {
  font-family: 'construction' !important;
  content: "\e917";
}
.at-forklift-thin:before {
  font-family: 'construction' !important;
  content: "\e918";
}
.at-glasses-helmet-thin:before {
  font-family: 'construction' !important;
  content: "\e919";
}
.at-hammer-nail-thin:before {
  font-family: 'construction' !important;
  content: "\e91a";
}
.at-hammer-thin:before {
  font-family: 'construction' !important;
  content: "\e91b";
}
.at-hammer-tool-thin:before {
  font-family: 'construction' !important;
  content: "\e91c";
}
.at-helmet-thin:before {
  font-family: 'construction' !important;
  content: "\e91d";
}
.at-ladder-thin:before {
  font-family: 'construction' !important;
  content: "\e91e";
}
.at-level-tool-thin:before {
  font-family: 'construction' !important;
  content: "\e91f";
}
.at-manual-wrench-thin:before {
  font-family: 'construction' !important;
  content: "\e920";
}
.at-measurement-tape-thin:before {
  font-family: 'construction' !important;
  content: "\e921";
}
.at-measure-tool-thin:before {
  font-family: 'construction' !important;
  content: "\e922";
}
.at-nail-thin:before {
  font-family: 'construction' !important;
  content: "\e923";
}
.at-nail-tool-thin:before {
  font-family: 'construction' !important;
  content: "\e924";
}
.at-paintbrush-paint-tool-thin:before {
  font-family: 'construction' !important;
  content: "\e925";
}
.at-paint-bucket-thin:before {
  font-family: 'construction' !important;
  content: "\e926";
}
.at-pencil-paper-thin:before {
  font-family: 'construction' !important;
  content: "\e927";
}
.at-pipes-thin:before {
  font-family: 'construction' !important;
  content: "\e928";
}
.at-pliers-thin:before {
  font-family: 'construction' !important;
  content: "\e929";
}
.at-putty-knife-thin:before {
  font-family: 'construction' !important;
  content: "\e92a";
}
.at-putty-knife-tool-thin:before {
  font-family: 'construction' !important;
  content: "\e92b";
}
.at-road-sign-thin:before {
  font-family: 'construction' !important;
  content: "\e92c";
}
.at-roller-brush-thin:before {
  font-family: 'construction' !important;
  content: "\e92d";
}
.at-ruler-combined-thin:before {
  font-family: 'construction' !important;
  content: "\e92e";
}
.at-ruler-thin:before {
  font-family: 'construction' !important;
  content: "\e92f";
}
.at-safety-glasses-thin:before {
  font-family: 'construction' !important;
  content: "\e930";
}
.at-safety-vest-thin:before {
  font-family: 'construction' !important;
  content: "\e931";
}
.at-sander-thin:before {
  font-family: 'construction' !important;
  content: "\e932";
}
.at-saw-blade-thin:before {
  font-family: 'construction' !important;
  content: "\e933";
}
.at-saw-thin:before {
  font-family: 'construction' !important;
  content: "\e934";
}
.at-scissor-pliers-thin:before {
  font-family: 'construction' !important;
  content: "\e935";
}
.at-screwdriver-thin:before {
  font-family: 'construction' !important;
  content: "\e936";
}
.at-screw-nail-thin:before {
  font-family: 'construction' !important;
  content: "\e937";
}
.at-security-helmet-thin:before {
  font-family: 'construction' !important;
  content: "\e938";
}
.at-shovel-thin:before {
  font-family: 'construction' !important;
  content: "\e939";
}
.at-shovel-tool-thin:before {
  font-family: 'construction' !important;
  content: "\e93a";
}
.at-spatchula-tool-thin:before {
  font-family: 'construction' !important;
  content: "\e93b";
}
.at-street-cone-thin:before {
  font-family: 'construction' !important;
  content: "\e93c";
}
.at-street-drill-thin:before {
  font-family: 'construction' !important;
  content: "\e93d";
}
.at-toolbox-thin:before {
  font-family: 'construction' !important;
  content: "\e93e";
}
.at-tool-nail-thin:before {
  font-family: 'construction' !important;
  content: "\e93f";
}
.at-tree-thin:before {
  font-family: 'construction' !important;
  content: "\e940";
}
.at-triangle-exclamation-thin:before {
  font-family: 'construction' !important;
  content: "\e941";
}
.at-wheelbarrow-thin:before {
  font-family: 'construction' !important;
  content: "\e942";
}
.at-window-thin:before {
  font-family: 'construction' !important;
  content: "\e943";
}
.at-wood-log-thin:before {
  font-family: 'construction' !important;
  content: "\e944";
}
.at-axe:before {
  font-family: 'construction' !important;
  content: "\e945";
}
.at-bolt:before {
  font-family: 'construction' !important;
  content: "\e946";
}
.at-boot:before {
  font-family: 'construction' !important;
  content: "\e947";
}
.at-building-construction:before {
  font-family: 'construction' !important;
  content: "\e948";
}
.at-build-wall:before {
  font-family: 'construction' !important;
  content: "\e949";
}
.at-cement-mixer:before {
  font-family: 'construction' !important;
  content: "\e94a";
}
.at-cement-sack:before {
  font-family: 'construction' !important;
  content: "\e94b";
}
.at-cement-truck:before {
  font-family: 'construction' !important;
  content: "\e94c";
}
.at-chainsaw:before {
  font-family: 'construction' !important;
  content: "\e94d";
}
.at-clamp:before {
  font-family: 'construction' !important;
  content: "\e94e";
}
.at-compass:before {
  font-family: 'construction' !important;
  content: "\e94f";
}
.at-construction-saw:before {
  font-family: 'construction' !important;
  content: "\e950";
}
.at-construction-tool:before {
  font-family: 'construction' !important;
  content: "\e951";
}
.at-construction-tools:before {
  font-family: 'construction' !important;
  content: "\e952";
}
.at-construction-truck:before {
  font-family: 'construction' !important;
  content: "\e953";
}
.at-construction-worker:before {
  font-family: 'construction' !important;
  content: "\e954";
}
.at-crane-pipe:before {
  font-family: 'construction' !important;
  content: "\e955";
}
.at-crank-screwdriver:before {
  font-family: 'construction' !important;
  content: "\e956";
}
.at-drill-electric:before {
  font-family: 'construction' !important;
  content: "\e957";
}
.at-dropper:before {
  font-family: 'construction' !important;
  content: "\e958";
}
.at-electric-drill:before {
  font-family: 'construction' !important;
  content: "\e959";
}
.at-electric-sander:before {
  font-family: 'construction' !important;
  content: "\e95a";
}
.at-electric-saw:before {
  font-family: 'construction' !important;
  content: "\e95b";
}
.at-flat-screwdriver:before {
  font-family: 'construction' !important;
  content: "\e95c";
}
.at-forklift:before {
  font-family: 'construction' !important;
  content: "\e95d";
}
.at-glasses-helmet:before {
  font-family: 'construction' !important;
  content: "\e95e";
}
.at-hammer:before {
  font-family: 'construction' !important;
  content: "\e95f";
}
.at-hammer-nail:before {
  font-family: 'construction' !important;
  content: "\e960";
}
.at-hammer-tool:before {
  font-family: 'construction' !important;
  content: "\e961";
}
.at-helmet:before {
  font-family: 'construction' !important;
  content: "\e962";
}
.at-ladder:before {
  font-family: 'construction' !important;
  content: "\e963";
}
.at-level-tool:before {
  font-family: 'construction' !important;
  content: "\e964";
}
.at-manual-wrench:before {
  font-family: 'construction' !important;
  content: "\e965";
}
.at-measurement-tape:before {
  font-family: 'construction' !important;
  content: "\e966";
}
.at-measure-tool:before {
  font-family: 'construction' !important;
  content: "\e967";
}
.at-nail:before {
  font-family: 'construction' !important;
  content: "\e968";
}
.at-nail-tool:before {
  font-family: 'construction' !important;
  content: "\e969";
}
.at-paintbrush-paint-tool:before {
  font-family: 'construction' !important;
  content: "\e96a";
}
.at-paint-bucket:before {
  font-family: 'construction' !important;
  content: "\e96b";
}
.at-pencil-paper:before {
  font-family: 'construction' !important;
  content: "\e96c";
}
.at-pipes:before {
  font-family: 'construction' !important;
  content: "\e96d";
}
.at-pliers:before {
  font-family: 'construction' !important;
  content: "\e96e";
}
.at-putty-knife:before {
  font-family: 'construction' !important;
  content: "\e96f";
}
.at-putty-knife-tool:before {
  font-family: 'construction' !important;
  content: "\e970";
}
.at-road-sign:before {
  font-family: 'construction' !important;
  content: "\e971";
}
.at-roller-brush:before {
  font-family: 'construction' !important;
  content: "\e972";
}
.at-ruler:before {
  font-family: 'construction' !important;
  content: "\e973";
}
.at-ruler-combined:before {
  font-family: 'construction' !important;
  content: "\e974";
}
.at-safety-glasses:before {
  font-family: 'construction' !important;
  content: "\e975";
}
.at-safety-vest:before {
  font-family: 'construction' !important;
  content: "\e976";
}
.at-sander:before {
  font-family: 'construction' !important;
  content: "\e977";
}
.at-saw:before {
  font-family: 'construction' !important;
  content: "\e978";
}
.at-saw-blade:before {
  font-family: 'construction' !important;
  content: "\e979";
}
.at-scissor-pliers:before {
  font-family: 'construction' !important;
  content: "\e97a";
}
.at-screwdriver:before {
  font-family: 'construction' !important;
  content: "\e97b";
}
.at-screw-nail:before {
  font-family: 'construction' !important;
  content: "\e97c";
}
.at-security-helmet:before {
  font-family: 'construction' !important;
  content: "\e97d";
}
.at-shovel:before {
  font-family: 'construction' !important;
  content: "\e97e";
}
.at-shovel-tool:before {
  font-family: 'construction' !important;
  content: "\e97f";
}
.at-spatchula-tool:before {
  font-family: 'construction' !important;
  content: "\e980";
}
.at-street-cone:before {
  font-family: 'construction' !important;
  content: "\e981";
}
.at-street-drill:before {
  font-family: 'construction' !important;
  content: "\e982";
}
.at-toolbox:before {
  font-family: 'construction' !important;
  content: "\e983";
}
.at-tool-nail:before {
  font-family: 'construction' !important;
  content: "\e984";
}
.at-tree:before {
  font-family: 'construction' !important;
  content: "\e985";
}
.at-triangle-exclamation:before {
  font-family: 'construction' !important;
  content: "\e986";
}
.at-wheelbarrow:before {
  font-family: 'construction' !important;
  content: "\e987";
}
.at-window:before {
  font-family: 'construction' !important;
  content: "\e988";
}
.at-wood-log:before {
  font-family: 'construction' !important;
  content: "\e989";
}
.at-axe-bold:before {
  font-family: 'construction' !important;
  content: "\e98a";
}
.at-bolt-bold:before {
  font-family: 'construction' !important;
  content: "\e98b";
}
.at-boot-bold:before {
  font-family: 'construction' !important;
  content: "\e98c";
}
.at-building-construction-bold:before {
  font-family: 'construction' !important;
  content: "\e98d";
}
.at-build-wall-bold:before {
  font-family: 'construction' !important;
  content: "\e98e";
}
.at-cement-mixer-bold:before {
  font-family: 'construction' !important;
  content: "\e98f";
}
.at-cement-sack-bold:before {
  font-family: 'construction' !important;
  content: "\e990";
}
.at-cement-truck-bold:before {
  font-family: 'construction' !important;
  content: "\e991";
}
.at-chainsaw-bold:before {
  font-family: 'construction' !important;
  content: "\e992";
}
.at-clamp-bold:before {
  font-family: 'construction' !important;
  content: "\e993";
}
.at-compass-bold:before {
  font-family: 'construction' !important;
  content: "\e994";
}
.at-construction-saw-bold:before {
  font-family: 'construction' !important;
  content: "\e995";
}
.at-construction-tool-bold:before {
  font-family: 'construction' !important;
  content: "\e996";
}
.at-construction-tools-bold:before {
  font-family: 'construction' !important;
  content: "\e997";
}
.at-construction-truck-bold:before {
  font-family: 'construction' !important;
  content: "\e998";
}
.at-construction-worker-bold:before {
  font-family: 'construction' !important;
  content: "\e999";
}
.at-crane-pipe-bold:before {
  font-family: 'construction' !important;
  content: "\e99a";
}
.at-crank-screwdriver-bold:before {
  font-family: 'construction' !important;
  content: "\e99b";
}
.at-drill-electric-bold:before {
  font-family: 'construction' !important;
  content: "\e99c";
}
.at-dropper-bold:before {
  font-family: 'construction' !important;
  content: "\e99d";
}
.at-electric-drill-bold:before {
  font-family: 'construction' !important;
  content: "\e99e";
}
.at-electric-sander-bold:before {
  font-family: 'construction' !important;
  content: "\e99f";
}
.at-electric-saw-bold:before {
  font-family: 'construction' !important;
  content: "\e9a0";
}
.at-flat-screwdriver-bold:before {
  font-family: 'construction' !important;
  content: "\e9a1";
}
.at-forklift-bold:before {
  font-family: 'construction' !important;
  content: "\e9a2";
}
.at-glasses-helmet-bold:before {
  font-family: 'construction' !important;
  content: "\e9a3";
}
.at-hammer-bold:before {
  font-family: 'construction' !important;
  content: "\e9a4";
}
.at-hammer-nail-bold:before {
  font-family: 'construction' !important;
  content: "\e9a5";
}
.at-hammer-tool-bold:before {
  font-family: 'construction' !important;
  content: "\e9a6";
}
.at-helmet-bold:before {
  font-family: 'construction' !important;
  content: "\e9a7";
}
.at-ladder-bold:before {
  font-family: 'construction' !important;
  content: "\e9a8";
}
.at-level-tool-bold:before {
  font-family: 'construction' !important;
  content: "\e9a9";
}
.at-manual-wrench-bold:before {
  font-family: 'construction' !important;
  content: "\e9aa";
}
.at-measurement-tape-bold:before {
  font-family: 'construction' !important;
  content: "\e9ab";
}
.at-measure-tool-bold:before {
  font-family: 'construction' !important;
  content: "\e9ac";
}
.at-nail-bold:before {
  font-family: 'construction' !important;
  content: "\e9ad";
}
.at-nail-tool-bold:before {
  font-family: 'construction' !important;
  content: "\e9ae";
}
.at-paintbrush-paint-tool-bold:before {
  font-family: 'construction' !important;
  content: "\e9af";
}
.at-paint-bucket-bold:before {
  font-family: 'construction' !important;
  content: "\e9b0";
}
.at-pencil-paper-bold:before {
  font-family: 'construction' !important;
  content: "\e9b1";
}
.at-pipes-bold:before {
  font-family: 'construction' !important;
  content: "\e9b2";
}
.at-pliers-bold:before {
  font-family: 'construction' !important;
  content: "\e9b3";
}
.at-putty-knife-bold:before {
  font-family: 'construction' !important;
  content: "\e9b4";
}
.at-putty-knife-tool-bold:before {
  font-family: 'construction' !important;
  content: "\e9b5";
}
.at-road-sign-bold:before {
  font-family: 'construction' !important;
  content: "\e9b6";
}
.at-roller-brush-bold:before {
  font-family: 'construction' !important;
  content: "\e9b7";
}
.at-ruler-bold:before {
  font-family: 'construction' !important;
  content: "\e9b8";
}
.at-ruler-combined-bold:before {
  font-family: 'construction' !important;
  content: "\e9b9";
}
.at-safety-glasses-bold:before {
  font-family: 'construction' !important;
  content: "\e9ba";
}
.at-safety-vest-bold:before {
  font-family: 'construction' !important;
  content: "\e9bb";
}
.at-sander-bold:before {
  font-family: 'construction' !important;
  content: "\e9bc";
}
.at-saw-blade-bold:before {
  font-family: 'construction' !important;
  content: "\e9bd";
}
.at-saw-bold:before {
  font-family: 'construction' !important;
  content: "\e9be";
}
.at-scissor-pliers-bold:before {
  font-family: 'construction' !important;
  content: "\e9bf";
}
.at-screwdriver-bold:before {
  font-family: 'construction' !important;
  content: "\e9c0";
}
.at-screw-nail-bold:before {
  font-family: 'construction' !important;
  content: "\e9c1";
}
.at-security-helmet-bold:before {
  font-family: 'construction' !important;
  content: "\e9c2";
}
.at-shovel-bold:before {
  font-family: 'construction' !important;
  content: "\e9c3";
}
.at-shovel-tool-bold:before {
  font-family: 'construction' !important;
  content: "\e9c4";
}
.at-spatchula-tool-bold:before {
  font-family: 'construction' !important;
  content: "\e9c5";
}
.at-street-cone-bold:before {
  font-family: 'construction' !important;
  content: "\e9c6";
}
.at-street-drill-bold:before {
  font-family: 'construction' !important;
  content: "\e9c7";
}
.at-toolbox-bold:before {
  font-family: 'construction' !important;
  content: "\e9c8";
}
.at-tool-nail-bold:before {
  font-family: 'construction' !important;
  content: "\e9c9";
}
.at-tree-bold:before {
  font-family: 'construction' !important;
  content: "\e9ca";
}
.at-triangle-exclamation-bold:before {
  font-family: 'construction' !important;
  content: "\e9cb";
}
.at-wheelbarrow-bold:before {
  font-family: 'construction' !important;
  content: "\e9cc";
}
.at-window-bold:before {
  font-family: 'construction' !important;
  content: "\e9cd";
}
.at-wood-log-bold:before {
  font-family: 'construction' !important;
  content: "\e9ce";
}
