@font-face {
  font-family: "audio";
  src: url("fonts/audio.eot?i3vxn6");
  src: url("fonts/audio.eot?i3vxn6#iefix") format("embedded-opentype"),
    url("fonts/audio.ttf?i3vxn6") format("truetype"),
    url("fonts/audio.woff?i3vxn6") format("woff"),
    url("fonts/audio.svg?i3vxn6#audio") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */

  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.at-archive-music-thin:before {
  font-family: "audio" !important;
  content: "\e900";
}
.at-arrow-return-thin:before {
  font-family: "audio" !important;
  content: "\e901";
}
.at-audio-album-thin:before {
  font-family: "audio" !important;
  content: "\e902";
}
.at-audio-cassette-thin:before {
  font-family: "audio" !important;
  content: "\e903";
}
.at-audio-cd-thin:before {
  font-family: "audio" !important;
  content: "\e904";
}
.at-audio-headphones-thin:before {
  font-family: "audio" !important;
  content: "\e905";
}
.at-audio-microphone-thin:before {
  font-family: "audio" !important;
  content: "\e906";
}
.at-audio-speaker-thin:before {
  font-family: "audio" !important;
  content: "\e907";
}
.at-audio-wave-thin:before {
  font-family: "audio" !important;
  content: "\e908";
}
.at-back-thin:before {
  font-family: "audio" !important;
  content: "\e909";
}
.at-backward-thin:before {
  font-family: "audio" !important;
  content: "\e90a";
}
.at-broadcast-thin:before {
  font-family: "audio" !important;
  content: "\e90b";
}
.at-dial-low-thin:before {
  font-family: "audio" !important;
  content: "\e90c";
}
.at-dial-thin:before {
  font-family: "audio" !important;
  content: "\e90d";
}
.at-fast-forward-thin:before {
  font-family: "audio" !important;
  content: "\e90e";
}
.at-file-audio-thin:before {
  font-family: "audio" !important;
  content: "\e90f";
}
.at-high-volume-thin:before {
  font-family: "audio" !important;
  content: "\e910";
}
.at-increase-volume-thin:before {
  font-family: "audio" !important;
  content: "\e911";
}
.at-lower-volume-thin:before {
  font-family: "audio" !important;
  content: "\e912";
}
.at-low-volume-thin:before {
  font-family: "audio" !important;
  content: "\e913";
}
.at-med-volume-thin:before {
  font-family: "audio" !important;
  content: "\e914";
}
.at-mic-thin:before {
  font-family: "audio" !important;
  content: "\e915";
}
.at-movie-thin:before {
  font-family: "audio" !important;
  content: "\e916";
}
.at-music-album-thin:before {
  font-family: "audio" !important;
  content: "\e917";
}
.at-music-archive-thin:before {
  font-family: "audio" !important;
  content: "\e918";
}
.at-music-note-circle-thin:before {
  font-family: "audio" !important;
  content: "\e919";
}
.at-music-note-file-thin:before {
  font-family: "audio" !important;
  content: "\e91a";
}
.at-music-notes-thin:before {
  font-family: "audio" !important;
  content: "\e91b";
}
.at-music-note-thin:before {
  font-family: "audio" !important;
  content: "\e91c";
}
.at-mute-thin:before {
  font-family: "audio" !important;
  content: "\e91d";
}
.at-mute-volume-thin:before {
  font-family: "audio" !important;
  content: "\e91e";
}
.at-next-thin:before {
  font-family: "audio" !important;
  content: "\e91f";
}
.at-pause-thin:before {
  font-family: "audio" !important;
  content: "\e920";
}
.at-play-thin:before {
  font-family: "audio" !important;
  content: "\e921";
}
.at-record-circle-thin:before {
  font-family: "audio" !important;
  content: "\e922";
}
.at-record-thin:before {
  font-family: "audio" !important;
  content: "\e923";
}
.at-replay-thin:before {
  font-family: "audio" !important;
  content: "\e924";
}
.at-shuffle-thin:before {
  font-family: "audio" !important;
  content: "\e925";
}
.at-sliders-lines-thin:before {
  font-family: "audio" !important;
  content: "\e926";
}
.at-sliders-thin:before {
  font-family: "audio" !important;
  content: "\e927";
}
.at-sliders-up-lines-thin:before {
  font-family: "audio" !important;
  content: "\e928";
}
.at-sliders-up-thin:before {
  font-family: "audio" !important;
  content: "\e929";
}
.at-sound-lines-thin:before {
  font-family: "audio" !important;
  content: "\e92a";
}
.at-stop-thin:before {
  font-family: "audio" !important;
  content: "\e92b";
}
.at-streaming-thin:before {
  font-family: "audio" !important;
  content: "\e92c";
}
.at-video-clip-thin:before {
  font-family: "audio" !important;
  content: "\e92d";
}
.at-video-recorder-thin:before {
  font-family: "audio" !important;
  content: "\e92e";
}
.at-volume-thin:before {
  font-family: "audio" !important;
  content: "\e92f";
}
.at-waveform-thin:before {
  font-family: "audio" !important;
  content: "\e930";
}
.at-archive-music:before {
  font-family: "audio" !important;
  content: "\e931";
}
.at-arrow-return:before {
  font-family: "audio" !important;
  content: "\e932";
}
.at-audio-album:before {
  font-family: "audio" !important;
  content: "\e933";
}
.at-audio-cassette:before {
  font-family: "audio" !important;
  content: "\e934";
}
.at-audio-cd:before {
  font-family: "audio" !important;
  content: "\e935";
}
.at-audio-headphones:before {
  font-family: "audio" !important;
  content: "\e936";
}
.at-audio-microphone:before {
  font-family: "audio" !important;
  content: "\e937";
}
.at-audio-speaker:before {
  font-family: "audio" !important;
  content: "\e938";
}
.at-audio-wave:before {
  font-family: "audio" !important;
  content: "\e939";
}
.at-back:before {
  font-family: "audio" !important;
  content: "\e93a";
}
.at-backward:before {
  font-family: "audio" !important;
  content: "\e93b";
}
.at-broadcast:before {
  font-family: "audio" !important;
  content: "\e93c";
}
.at-dial:before {
  font-family: "audio" !important;
  content: "\e93d";
}
.at-dial-low:before {
  font-family: "audio" !important;
  content: "\e93e";
}
.at-fast-forward:before {
  font-family: "audio" !important;
  content: "\e93f";
}
.at-file-audio:before {
  font-family: "audio" !important;
  content: "\e940";
}
.at-high-volume:before {
  font-family: "audio" !important;
  content: "\e941";
}
.at-increase-volume:before {
  font-family: "audio" !important;
  content: "\e942";
}
.at-lower-volume:before {
  font-family: "audio" !important;
  content: "\e943";
}
.at-low-volume:before {
  font-family: "audio" !important;
  content: "\e944";
}
.at-med-volume:before {
  font-family: "audio" !important;
  content: "\e945";
}
.at-mic:before {
  font-family: "audio" !important;
  content: "\e946";
}
.at-movie:before {
  font-family: "audio" !important;
  content: "\e947";
}
.at-music-album:before {
  font-family: "audio" !important;
  content: "\e948";
}
.at-music-archive:before {
  font-family: "audio" !important;
  content: "\e949";
}
.at-music-note:before {
  font-family: "audio" !important;
  content: "\e94a";
}
.at-music-note-circle:before {
  font-family: "audio" !important;
  content: "\e94b";
}
.at-music-note-file:before {
  font-family: "audio" !important;
  content: "\e94c";
}
.at-music-notes:before {
  font-family: "audio" !important;
  content: "\e94d";
}
.at-mute:before {
  font-family: "audio" !important;
  content: "\e94e";
}
.at-mute-volume:before {
  font-family: "audio" !important;
  content: "\e94f";
}
.at-next:before {
  font-family: "audio" !important;
  content: "\e950";
}
.at-pause:before {
  font-family: "audio" !important;
  content: "\e951";
}
.at-play:before {
  font-family: "audio" !important;
  content: "\e952";
}
.at-record:before {
  font-family: "audio" !important;
  content: "\e953";
}
.at-record-circle:before {
  font-family: "audio" !important;
  content: "\e954";
}
.at-replay:before {
  font-family: "audio" !important;
  content: "\e955";
}
.at-shuffle:before {
  font-family: "audio" !important;
  content: "\e956";
}
.at-sliders:before {
  font-family: "audio" !important;
  content: "\e957";
}
.at-sliders-lines:before {
  font-family: "audio" !important;
  content: "\e958";
}
.at-sliders-up:before {
  font-family: "audio" !important;
  content: "\e959";
}
.at-sliders-up-lines:before {
  font-family: "audio" !important;
  content: "\e95a";
}
.at-sound-lines:before {
  font-family: "audio" !important;
  content: "\e95b";
}
.at-stop:before {
  font-family: "audio" !important;
  content: "\e95c";
}
.at-streaming:before {
  font-family: "audio" !important;
  content: "\e95d";
}
.at-video-clip:before {
  font-family: "audio" !important;
  content: "\e95e";
}
.at-video-recorder:before {
  font-family: "audio" !important;
  content: "\e95f";
}
.at-volume:before {
  font-family: "audio" !important;
  content: "\e960";
}
.at-waveform:before {
  font-family: "audio" !important;
  content: "\e961";
}
.at-archive-music-bold:before {
  font-family: "audio" !important;
  content: "\e962";
}
.at-arrow-return-bold:before {
  font-family: "audio" !important;
  content: "\e963";
}
.at-audio-album-bold:before {
  font-family: "audio" !important;
  content: "\e964";
}
.at-audio-cassette-bold:before {
  font-family: "audio" !important;
  content: "\e965";
}
.at-audio-cd-bold:before {
  font-family: "audio" !important;
  content: "\e966";
}
.at-audio-headphones-bold:before {
  font-family: "audio" !important;
  content: "\e967";
}
.at-audio-microphone-bold:before {
  font-family: "audio" !important;
  content: "\e968";
}
.at-audio-speaker-bold:before {
  font-family: "audio" !important;
  content: "\e969";
}
.at-audio-wave-bold:before {
  font-family: "audio" !important;
  content: "\e96a";
}
.at-back-bold:before {
  font-family: "audio" !important;
  content: "\e96b";
}
.at-backward-bold:before {
  font-family: "audio" !important;
  content: "\e96c";
}
.at-broadcast-bold:before {
  font-family: "audio" !important;
  content: "\e96d";
}
.at-dial-bold:before {
  font-family: "audio" !important;
  content: "\e96e";
}
.at-dial-low-bold:before {
  font-family: "audio" !important;
  content: "\e96f";
}
.at-fast-forward-bold:before {
  font-family: "audio" !important;
  content: "\e970";
}
.at-file-audio-bold:before {
  font-family: "audio" !important;
  content: "\e971";
}
.at-high-volume-bold:before {
  font-family: "audio" !important;
  content: "\e972";
}
.at-increase-volume-bold:before {
  font-family: "audio" !important;
  content: "\e973";
}
.at-lower-volume-bold:before {
  font-family: "audio" !important;
  content: "\e974";
}
.at-low-volume-bold:before {
  font-family: "audio" !important;
  content: "\e975";
}
.at-med-volume-bold:before {
  font-family: "audio" !important;
  content: "\e976";
}
.at-mic-bold:before {
  font-family: "audio" !important;
  content: "\e977";
}
.at-movie-bold:before {
  font-family: "audio" !important;
  content: "\e978";
}
.at-music-album-bold:before {
  font-family: "audio" !important;
  content: "\e979";
}
.at-music-archive-bold:before {
  font-family: "audio" !important;
  content: "\e97a";
}
.at-music-note-bold:before {
  font-family: "audio" !important;
  content: "\e97b";
}
.at-music-note-circle-bold:before {
  font-family: "audio" !important;
  content: "\e97c";
}
.at-music-note-file-bold:before {
  font-family: "audio" !important;
  content: "\e97d";
}
.at-music-notes-bold:before {
  font-family: "audio" !important;
  content: "\e97e";
}
.at-mute-bold:before {
  font-family: "audio" !important;
  content: "\e97f";
}
.at-mute-volume-bold:before {
  font-family: "audio" !important;
  content: "\e980";
}
.at-next-bold:before {
  font-family: "audio" !important;
  content: "\e981";
}
.at-pause-bold:before {
  font-family: "audio" !important;
  content: "\e982";
}
.at-play-bold:before {
  font-family: "audio" !important;
  content: "\e983";
}
.at-record-bold:before {
  font-family: "audio" !important;
  content: "\e984";
}
.at-record-circle-bold:before {
  font-family: "audio" !important;
  content: "\e985";
}
.at-replay-bold:before {
  font-family: "audio" !important;
  content: "\e986";
}
.at-shuffle-bold:before {
  font-family: "audio" !important;
  content: "\e987";
}
.at-sliders-bold:before {
  font-family: "audio" !important;
  content: "\e988";
}
.at-sliders-lines-bold:before {
  font-family: "audio" !important;
  content: "\e989";
}
.at-sliders-up-bold:before {
  font-family: "audio" !important;
  content: "\e98a";
}
.at-sliders-up-lines-bold:before {
  font-family: "audio" !important;
  content: "\e98b";
}
.at-sound-lines-bold:before {
  font-family: "audio" !important;
  content: "\e98c";
}
.at-stop-bold:before {
  font-family: "audio" !important;
  content: "\e98d";
}
.at-streaming-bold:before {
  font-family: "audio" !important;
  content: "\e98e";
}
.at-video-clip-bold:before {
  font-family: "audio" !important;
  content: "\e98f";
}
.at-video-recorder-bold:before {
  font-family: "audio" !important;
  content: "\e990";
}
.at-volume-bold:before {
  font-family: "audio" !important;
  content: "\e991";
}
.at-waveform-bold:before {
  font-family: "audio" !important;
  content: "\e992";
}
