@font-face {
  font-family: 'virtual-reality';
  src:  url('fonts/virtual-reality.eot?kf9r7h');
  src:  url('fonts/virtual-reality.eot?kf9r7h#iefix') format('embedded-opentype'),
    url('fonts/virtual-reality.ttf?kf9r7h') format('truetype'),
    url('fonts/virtual-reality.woff?kf9r7h') format('woff'),
    url('fonts/virtual-reality.svg?kf9r7h#virtual-reality') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'virtual-reality' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.at-arrow-360-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e900";
}
.at-arrows-360-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e901";
}
.at-back-vr-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e902";
}
.at-camera-arrow-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e903";
}
.at-controller-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e904";
}
.at-cube-box-3d-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e905";
}
.at-dimensional-person-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e906";
}
.at-dimensional-view-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e907";
}
.at-dimensional-vr-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e908";
}
.at-dimension-square-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e909";
}
.at-eye-arrows-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e90a";
}
.at-favourite-glasses-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e90b";
}
.at-frame-360-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e90c";
}
.at-front-vr-visual-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e90d";
}
.at-gamepad-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e90e";
}
.at-glasses-virtual-reality-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e90f";
}
.at-left-right-vr-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e910";
}
.at-location-glasses-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e911";
}
.at-move-arrows-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e912";
}
.at-oculus-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e913";
}
.at-package-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e914";
}
.at-person-rotation-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e915";
}
.at-person-skeleton-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e916";
}
.at-person-virtual-reality-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e917";
}
.at-person-vr-glasses-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e918";
}
.at-platform-360-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e919";
}
.at-play-area-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e91a";
}
.at-play-media-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e91b";
}
.at-play-vr-glasses-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e91c";
}
.at-play-vr-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e91d";
}
.at-plus-vr-view-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e91e";
}
.at-refresh-dimension-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e91f";
}
.at-rotation-arrows-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e920";
}
.at-search-vr-glasses-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e921";
}
.at-sensor-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e922";
}
.at-settings-vr-glasses-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e923";
}
.at-side-view-vr-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e924";
}
.at-smartphone-play-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e925";
}
.at-smartphone-rotation-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e926";
}
.at-smartphone-virtual-reality-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e927";
}
.at-view-arrow-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e928";
}
.at-view-vr-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e929";
}
.at-virtual-glasses-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e92a";
}
.at-virtual-reality-dimension-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e92b";
}
.at-virtual-reality-eye-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e92c";
}
.at-virtual-reality-glasses-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e92d";
}
.at-virtual-reality-image-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e92e";
}
.at-virtual-reality-play-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e92f";
}
.at-virtual-reality-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e930";
}
.at-virtual-reality-view-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e931";
}
.at-virtual-vr-glasses-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e932";
}
.at-vr-arrows-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e933";
}
.at-vr-glasses-science-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e934";
}
.at-vr-glasses-settings-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e935";
}
.at-vr-glasses-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e936";
}
.at-vr-glasses-wifi-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e937";
}
.at-vr-split-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e938";
}
.at-wifi-vr-glasses-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e939";
}
.at-woman-vr-glasses-thin:before {
  font-family: 'virtual-reality' !important;
  content: "\e93a";
}
.at-arrow-360:before {
  font-family: 'virtual-reality' !important;
  content: "\e93b";
}
.at-arrows-360:before {
  font-family: 'virtual-reality' !important;
  content: "\e93c";
}
.at-back-vr:before {
  font-family: 'virtual-reality' !important;
  content: "\e93d";
}
.at-camera-arrow:before {
  font-family: 'virtual-reality' !important;
  content: "\e93e";
}
.at-controller:before {
  font-family: 'virtual-reality' !important;
  content: "\e93f";
}
.at-cube-box-3d:before {
  font-family: 'virtual-reality' !important;
  content: "\e940";
}
.at-dimensional-person:before {
  font-family: 'virtual-reality' !important;
  content: "\e941";
}
.at-dimensional-view:before {
  font-family: 'virtual-reality' !important;
  content: "\e942";
}
.at-dimensional-vr:before {
  font-family: 'virtual-reality' !important;
  content: "\e943";
}
.at-dimension-square:before {
  font-family: 'virtual-reality' !important;
  content: "\e944";
}
.at-eye-arrows:before {
  font-family: 'virtual-reality' !important;
  content: "\e945";
}
.at-favourite-glasses:before {
  font-family: 'virtual-reality' !important;
  content: "\e946";
}
.at-frame-360:before {
  font-family: 'virtual-reality' !important;
  content: "\e947";
}
.at-front-vr-visual:before {
  font-family: 'virtual-reality' !important;
  content: "\e948";
}
.at-gamepad:before {
  font-family: 'virtual-reality' !important;
  content: "\e949";
}
.at-glasses-virtual-reality:before {
  font-family: 'virtual-reality' !important;
  content: "\e94a";
}
.at-left-right-vr:before {
  font-family: 'virtual-reality' !important;
  content: "\e94b";
}
.at-location-glasses:before {
  font-family: 'virtual-reality' !important;
  content: "\e94c";
}
.at-move-arrows:before {
  font-family: 'virtual-reality' !important;
  content: "\e94d";
}
.at-oculus:before {
  font-family: 'virtual-reality' !important;
  content: "\e94e";
}
.at-package:before {
  font-family: 'virtual-reality' !important;
  content: "\e94f";
}
.at-person-rotation:before {
  font-family: 'virtual-reality' !important;
  content: "\e950";
}
.at-person-skeleton:before {
  font-family: 'virtual-reality' !important;
  content: "\e951";
}
.at-person-virtual-reality:before {
  font-family: 'virtual-reality' !important;
  content: "\e952";
}
.at-person-vr-glasses:before {
  font-family: 'virtual-reality' !important;
  content: "\e953";
}
.at-platform-360:before {
  font-family: 'virtual-reality' !important;
  content: "\e954";
}
.at-play-area:before {
  font-family: 'virtual-reality' !important;
  content: "\e955";
}
.at-play-media:before {
  font-family: 'virtual-reality' !important;
  content: "\e956";
}
.at-play-vr:before {
  font-family: 'virtual-reality' !important;
  content: "\e957";
}
.at-play-vr-glasses:before {
  font-family: 'virtual-reality' !important;
  content: "\e958";
}
.at-plus-vr-view:before {
  font-family: 'virtual-reality' !important;
  content: "\e959";
}
.at-refresh-dimension:before {
  font-family: 'virtual-reality' !important;
  content: "\e95a";
}
.at-rotation-arrows:before {
  font-family: 'virtual-reality' !important;
  content: "\e95b";
}
.at-search-vr-glasses:before {
  font-family: 'virtual-reality' !important;
  content: "\e95c";
}
.at-sensor:before {
  font-family: 'virtual-reality' !important;
  content: "\e95d";
}
.at-settings-vr-glasses:before {
  font-family: 'virtual-reality' !important;
  content: "\e95e";
}
.at-side-view-vr:before {
  font-family: 'virtual-reality' !important;
  content: "\e95f";
}
.at-smartphone-play:before {
  font-family: 'virtual-reality' !important;
  content: "\e960";
}
.at-smartphone-rotation:before {
  font-family: 'virtual-reality' !important;
  content: "\e961";
}
.at-smartphone-virtual-reality:before {
  font-family: 'virtual-reality' !important;
  content: "\e962";
}
.at-view-arrow:before {
  font-family: 'virtual-reality' !important;
  content: "\e963";
}
.at-view-vr:before {
  font-family: 'virtual-reality' !important;
  content: "\e964";
}
.at-virtual-glasses:before {
  font-family: 'virtual-reality' !important;
  content: "\e965";
}
.at-virtual-reality:before {
  font-family: 'virtual-reality' !important;
  content: "\e966";
}
.at-virtual-reality-dimension:before {
  font-family: 'virtual-reality' !important;
  content: "\e967";
}
.at-virtual-reality-eye:before {
  font-family: 'virtual-reality' !important;
  content: "\e968";
}
.at-virtual-reality-glasses:before {
  font-family: 'virtual-reality' !important;
  content: "\e969";
}
.at-virtual-reality-image:before {
  font-family: 'virtual-reality' !important;
  content: "\e96a";
}
.at-virtual-reality-play:before {
  font-family: 'virtual-reality' !important;
  content: "\e96b";
}
.at-virtual-reality-view:before {
  font-family: 'virtual-reality' !important;
  content: "\e96c";
}
.at-virtual-vr-glasses:before {
  font-family: 'virtual-reality' !important;
  content: "\e96d";
}
.at-vr-arrows:before {
  font-family: 'virtual-reality' !important;
  content: "\e96e";
}
.at-vr-glasses:before {
  font-family: 'virtual-reality' !important;
  content: "\e96f";
}
.at-vr-glasses-science:before {
  font-family: 'virtual-reality' !important;
  content: "\e970";
}
.at-vr-glasses-settings:before {
  font-family: 'virtual-reality' !important;
  content: "\e971";
}
.at-vr-glasses-wifi:before {
  font-family: 'virtual-reality' !important;
  content: "\e972";
}
.at-vr-split:before {
  font-family: 'virtual-reality' !important;
  content: "\e973";
}
.at-wifi-vr-glasses:before {
  font-family: 'virtual-reality' !important;
  content: "\e974";
}
.at-woman-vr-glasses:before {
  font-family: 'virtual-reality' !important;
  content: "\e975";
}
.at-arrow-360-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e976";
}
.at-arrows-360-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e977";
}
.at-back-vr-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e978";
}
.at-camera-arrow-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e979";
}
.at-controller-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e97a";
}
.at-cube-box-3d-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e97b";
}
.at-dimensional-person-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e97c";
}
.at-dimensional-view-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e97d";
}
.at-dimensional-vr-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e97e";
}
.at-dimension-square-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e97f";
}
.at-eye-arrows-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e980";
}
.at-favourite-glasses-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e981";
}
.at-frame-360-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e982";
}
.at-front-vr-visual-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e983";
}
.at-gamepad-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e984";
}
.at-glasses-virtual-reality-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e985";
}
.at-left-right-vr-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e986";
}
.at-location-glasses-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e987";
}
.at-move-arrows-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e988";
}
.at-oculus-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e989";
}
.at-package-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e98a";
}
.at-person-rotation-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e98b";
}
.at-person-skeleton-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e98c";
}
.at-person-virtual-reality-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e98d";
}
.at-person-vr-glasses-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e98e";
}
.at-platform-360-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e98f";
}
.at-play-area-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e990";
}
.at-play-media-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e991";
}
.at-play-vr-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e992";
}
.at-play-vr-glasses-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e993";
}
.at-plus-vr-view-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e994";
}
.at-refresh-dimension-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e995";
}
.at-rotation-arrows-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e996";
}
.at-search-vr-glasses-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e997";
}
.at-sensor-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e998";
}
.at-settings-vr-glasses-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e999";
}
.at-side-view-vr-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e99a";
}
.at-smartphone-play-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e99b";
}
.at-smartphone-rotation-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e99c";
}
.at-smartphone-virtual-reality-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e99d";
}
.at-view-arrow-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e99e";
}
.at-view-vr-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e99f";
}
.at-virtual-glasses-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e9a0";
}
.at-virtual-reality-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e9a1";
}
.at-virtual-reality-dimension-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e9a2";
}
.at-virtual-reality-eye-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e9a3";
}
.at-virtual-reality-glasses-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e9a4";
}
.at-virtual-reality-image-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e9a5";
}
.at-virtual-reality-play-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e9a6";
}
.at-virtual-reality-view-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e9a7";
}
.at-virtual-vr-glasses-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e9a8";
}
.at-vr-arrows-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e9a9";
}
.at-vr-glasses-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e9aa";
}
.at-vr-glasses-science-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e9ab";
}
.at-vr-glasses-settings-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e9ac";
}
.at-vr-glasses-wifi-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e9ad";
}
.at-vr-split-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e9ae";
}
.at-wifi-vr-glasses-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e9af";
}
.at-woman-vr-glasses-bold:before {
  font-family: 'virtual-reality' !important;
  content: "\e9b0";
}
