@font-face {
  font-family: 'thanksgiving';
  src:  url('fonts/thanksgiving.eot?vbqg8d');
  src:  url('fonts/thanksgiving.eot?vbqg8d#iefix') format('embedded-opentype'),
    url('fonts/thanksgiving.ttf?vbqg8d') format('truetype'),
    url('fonts/thanksgiving.woff?vbqg8d') format('woff'),
    url('fonts/thanksgiving.svg?vbqg8d#thanksgiving') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.at-acorn-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e900";
}
.at-barn-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e901";
}
.at-barrel-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e902";
}
.at-basket-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e903";
}
.at-beer-foam-drink-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e904";
}
.at-bell-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e905";
}
.at-berries-organic-leaf-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e906";
}
.at-bible-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e907";
}
.at-boot-shoe-footwear--thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e908";
}
.at-calendar-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e909";
}
.at-candle-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e90a";
}
.at-carrot-turnip-vegetable-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e90b";
}
.at-cart-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e90c";
}
.at-church-religion-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e90d";
}
.at-cloche-food-cover-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e90e";
}
.at-corn-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e90f";
}
.at-cornucopia-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e910";
}
.at-dining-table-plates-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e911";
}
.at-fireplace-heat-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e912";
}
.at-fire-wood-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e913";
}
.at-fresh-bread-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e914";
}
.at-jar-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e915";
}
.at-jug-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e916";
}
.at-lantern-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e917";
}
.at-leaf-maple-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e918";
}
.at-maple-leaf-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e919";
}
.at-mushroom-circles-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e91a";
}
.at-native-american-woman-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e91b";
}
.at-oven-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e91c";
}
.at-owl-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e91d";
}
.at-pear-organic-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e91e";
}
.at-picnic-basket-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e91f";
}
.at-pie-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e920";
}
.at-pilgrims-hat-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e921";
}
.at-prayer-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e922";
}
.at-pumpkin-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e923";
}
.at-rain-umbrella-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e924";
}
.at-restaurant-fork-knife-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e925";
}
.at-sauce-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e926";
}
.at-soup-bowl-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e927";
}
.at-sunflower-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e928";
}
.at-tea-mug-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e929";
}
.at-toast-bread-loaf-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e92a";
}
.at-tree-leaf-nature-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e92b";
}
.at-turkey-dinner-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e92c";
}
.at-turkey-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e92d";
}
.at-turnip-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e92e";
}
.at-wheat-harvest-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e92f";
}
.at-wine-bottle-glass-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e930";
}
.at-wish-bone-thin:before {
  font-family: 'thanksgiving' !important;
  content: "\e931";
}
.at-acorn:before {
  font-family: 'thanksgiving' !important;
  content: "\e932";
}
.at-barn:before {
  font-family: 'thanksgiving' !important;
  content: "\e933";
}
.at-barrel:before {
  font-family: 'thanksgiving' !important;
  content: "\e934";
}
.at-basket:before {
  font-family: 'thanksgiving' !important;
  content: "\e935";
}
.at-beer-foam-drink:before {
  font-family: 'thanksgiving' !important;
  content: "\e936";
}
.at-bell:before {
  font-family: 'thanksgiving' !important;
  content: "\e937";
}
.at-berries-organic-leaf:before {
  font-family: 'thanksgiving' !important;
  content: "\e938";
}
.at-bible:before {
  font-family: 'thanksgiving' !important;
  content: "\e939";
}
.at-boot-shoe-footwear:before {
  font-family: 'thanksgiving' !important;
  content: "\e93a";
}
.at-calendar:before {
  font-family: 'thanksgiving' !important;
  content: "\e93b";
}
.at-candle:before {
  font-family: 'thanksgiving' !important;
  content: "\e93c";
}
.at-carrot-turnip-vegetable:before {
  font-family: 'thanksgiving' !important;
  content: "\e93d";
}
.at-cart:before {
  font-family: 'thanksgiving' !important;
  content: "\e93e";
}
.at-church-religion:before {
  font-family: 'thanksgiving' !important;
  content: "\e93f";
}
.at-cloche-food-cover:before {
  font-family: 'thanksgiving' !important;
  content: "\e940";
}
.at-corn:before {
  font-family: 'thanksgiving' !important;
  content: "\e941";
}
.at-cornucopia:before {
  font-family: 'thanksgiving' !important;
  content: "\e942";
}
.at-dining-table-plates:before {
  font-family: 'thanksgiving' !important;
  content: "\e943";
}
.at-fireplace-heat:before {
  font-family: 'thanksgiving' !important;
  content: "\e944";
}
.at-fire-wood:before {
  font-family: 'thanksgiving' !important;
  content: "\e945";
}
.at-fresh-bread:before {
  font-family: 'thanksgiving' !important;
  content: "\e946";
}
.at-jar:before {
  font-family: 'thanksgiving' !important;
  content: "\e947";
}
.at-jug:before {
  font-family: 'thanksgiving' !important;
  content: "\e948";
}
.at-lantern:before {
  font-family: 'thanksgiving' !important;
  content: "\e949";
}
.at-leaf-maple:before {
  font-family: 'thanksgiving' !important;
  content: "\e94a";
}
.at-maple-leaf:before {
  font-family: 'thanksgiving' !important;
  content: "\e94b";
}
.at-mushroom-circles:before {
  font-family: 'thanksgiving' !important;
  content: "\e94c";
}
.at-native-american-woman:before {
  font-family: 'thanksgiving' !important;
  content: "\e94d";
}
.at-oven:before {
  font-family: 'thanksgiving' !important;
  content: "\e94e";
}
.at-owl:before {
  font-family: 'thanksgiving' !important;
  content: "\e94f";
}
.at-pear-organic:before {
  font-family: 'thanksgiving' !important;
  content: "\e950";
}
.at-picnic-basket:before {
  font-family: 'thanksgiving' !important;
  content: "\e951";
}
.at-pie:before {
  font-family: 'thanksgiving' !important;
  content: "\e952";
}
.at-pilgrims-hat:before {
  font-family: 'thanksgiving' !important;
  content: "\e953";
}
.at-prayer:before {
  font-family: 'thanksgiving' !important;
  content: "\e954";
}
.at-pumpkin:before {
  font-family: 'thanksgiving' !important;
  content: "\e955";
}
.at-rain-umbrella:before {
  font-family: 'thanksgiving' !important;
  content: "\e956";
}
.at-restaurant-fork-knife:before {
  font-family: 'thanksgiving' !important;
  content: "\e957";
}
.at-sauce:before {
  font-family: 'thanksgiving' !important;
  content: "\e958";
}
.at-soup-bowl:before {
  font-family: 'thanksgiving' !important;
  content: "\e959";
}
.at-sunflower:before {
  font-family: 'thanksgiving' !important;
  content: "\e95a";
}
.at-tea-mug:before {
  font-family: 'thanksgiving' !important;
  content: "\e95b";
}
.at-toast-bread-loaf:before {
  font-family: 'thanksgiving' !important;
  content: "\e95c";
}
.at-tree-leaf-nature:before {
  font-family: 'thanksgiving' !important;
  content: "\e95d";
}
.at-turkey:before {
  font-family: 'thanksgiving' !important;
  content: "\e95e";
}
.at-turkey-dinner:before {
  font-family: 'thanksgiving' !important;
  content: "\e95f";
}
.at-turnip:before {
  font-family: 'thanksgiving' !important;
  content: "\e960";
}
.at-wheat-harvest:before {
  font-family: 'thanksgiving' !important;
  content: "\e961";
}
.at-wine-bottle-glass:before {
  font-family: 'thanksgiving' !important;
  content: "\e962";
}
.at-wish-bone:before {
  font-family: 'thanksgiving' !important;
  content: "\e963";
}
.at-acorn-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e964";
}
.at-barn-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e965";
}
.at-barrel-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e966";
}
.at-basket-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e967";
}
.at-beer-foam-drink-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e968";
}
.at-bell-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e969";
}
.at-berries-organic-leaf-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e96a";
}
.at-bible-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e96b";
}
.at-boot-shoe-footwear--bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e96c";
}
.at-calendar-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e96d";
}
.at-candle-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e96e";
}
.at-carrot-turnip-vegetable-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e96f";
}
.at-cart-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e970";
}
.at-church-religion-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e971";
}
.at-cloche-food-cover-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e972";
}
.at-corn-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e973";
}
.at-cornucopia-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e974";
}
.at-dining-table-plates-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e975";
}
.at-fireplace-heat-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e976";
}
.at-fire-wood-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e977";
}
.at-fresh-bread-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e978";
}
.at-jar-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e979";
}
.at-jug-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e97a";
}
.at-lantern-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e97b";
}
.at-leaf-maple-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e97c";
}
.at-maple-leaf-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e97d";
}
.at-mushroom-circles-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e97e";
}
.at-native-american-woman-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e97f";
}
.at-oven-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e980";
}
.at-owl-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e981";
}
.at-pear-organic-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e982";
}
.at-picnic-basket-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e983";
}
.at-pie-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e984";
}
.at-pilgrims-hat-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e985";
}
.at-prayer-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e986";
}
.at-pumpkin-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e987";
}
.at-rain-umbrella-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e988";
}
.at-restaurant-fork-knife-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e989";
}
.at-sauce-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e98a";
}
.at-soup-bowl-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e98b";
}
.at-sunflower-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e98c";
}
.at-tea-mug-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e98d";
}
.at-toast-bread-loaf-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e98e";
}
.at-tree-leaf-nature-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e98f";
}
.at-turkey-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e990";
}
.at-turkey-dinner-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e991";
}
.at-turnip-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e992";
}
.at-wheat-harvest-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e993";
}
.at-wine-bottle-glass-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e994";
}
.at-wish-bone-bold:before {
  font-family: 'thanksgiving' !important;
  content: "\e995";
}
