@font-face {
  font-family: 'love';
  src:  url('fonts/love.eot?224de2');
  src:  url('fonts/love.eot?224de2#iefix') format('embedded-opentype'),
    url('fonts/love.ttf?224de2') format('truetype'),
    url('fonts/love.woff?224de2') format('woff'),
    url('fonts/love.svg?224de2#love') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.at-angel-heart-thin:before {
  font-family: 'love' !important;
  content: "\e900";
}
.at-bow-arrow-heart-thin:before {
  font-family: 'love' !important;
  content: "\e901";
}
.at-broken-heart-thin:before {
  font-family: 'love' !important;
  content: "\e902";
}
.at-chocolate-thin:before {
  font-family: 'love' !important;
  content: "\e903";
}
.at-church-thin:before {
  font-family: 'love' !important;
  content: "\e904";
}
.at-dessert-thin:before {
  font-family: 'love' !important;
  content: "\e905";
}
.at-devil-heart-thin:before {
  font-family: 'love' !important;
  content: "\e906";
}
.at-diamond-ring-thin:before {
  font-family: 'love' !important;
  content: "\e907";
}
.at-dove-thin:before {
  font-family: 'love' !important;
  content: "\e908";
}
.at-eiffel-tower-thin:before {
  font-family: 'love' !important;
  content: "\e909";
}
.at-engagement-ring-thin:before {
  font-family: 'love' !important;
  content: "\e90a";
}
.at-female-gender-thin:before {
  font-family: 'love' !important;
  content: "\e90b";
}
.at-female-relationship-thin:before {
  font-family: 'love' !important;
  content: "\e90c";
}
.at-female-romance-thin:before {
  font-family: 'love' !important;
  content: "\e90d";
}
.at-gift-box-thin:before {
  font-family: 'love' !important;
  content: "\e90e";
}
.at-heart-arrow-thin:before {
  font-family: 'love' !important;
  content: "\e90f";
}
.at-heart-balloon-thin:before {
  font-family: 'love' !important;
  content: "\e910";
}
.at-heart-bed-thin:before {
  font-family: 'love' !important;
  content: "\e911";
}
.at-heart-book-thin:before {
  font-family: 'love' !important;
  content: "\e912";
}
.at-heart-bow-thin:before {
  font-family: 'love' !important;
  content: "\e913";
}
.at-heart-box-thin:before {
  font-family: 'love' !important;
  content: "\e914";
}
.at-heart-calendar-thin:before {
  font-family: 'love' !important;
  content: "\e915";
}
.at-heart-candles-thin:before {
  font-family: 'love' !important;
  content: "\e916";
}
.at-heart-candle-thin:before {
  font-family: 'love' !important;
  content: "\e917";
}
.at-heart-card-thin:before {
  font-family: 'love' !important;
  content: "\e918";
}
.at-heart-chemistry-thin:before {
  font-family: 'love' !important;
  content: "\e919";
}
.at-heart-glasses-thin:before {
  font-family: 'love' !important;
  content: "\e91a";
}
.at-heart-key-thin:before {
  font-family: 'love' !important;
  content: "\e91b";
}
.at-heart-lock-key-thin:before {
  font-family: 'love' !important;
  content: "\e91c";
}
.at-heart-love-you-thin:before {
  font-family: 'love' !important;
  content: "\e91d";
}
.at-heart-mail-thin:before {
  font-family: 'love' !important;
  content: "\e91e";
}
.at-heart-mobile-thin:before {
  font-family: 'love' !important;
  content: "\e91f";
}
.at-heart-mug-thin:before {
  font-family: 'love' !important;
  content: "\e920";
}
.at-heart-music-thin:before {
  font-family: 'love' !important;
  content: "\e921";
}
.at-heart-padlock-thin:before {
  font-family: 'love' !important;
  content: "\e922";
}
.at-heart-paper-thin:before {
  font-family: 'love' !important;
  content: "\e923";
}
.at-heart-pen-thin:before {
  font-family: 'love' !important;
  content: "\e924";
}
.at-heart-perfume-thin:before {
  font-family: 'love' !important;
  content: "\e925";
}
.at-heart-pin-thin:before {
  font-family: 'love' !important;
  content: "\e926";
}
.at-heart-room-service-thin:before {
  font-family: 'love' !important;
  content: "\e927";
}
.at-heart-shirt-thin:before {
  font-family: 'love' !important;
  content: "\e928";
}
.at-hearts-thin:before {
  font-family: 'love' !important;
  content: "\e929";
}
.at-heart-suitcase-thin:before {
  font-family: 'love' !important;
  content: "\e92a";
}
.at-heart-thin:before {
  font-family: 'love' !important;
  content: "\e92b";
}
.at-heart-ticket-thin:before {
  font-family: 'love' !important;
  content: "\e92c";
}
.at-heart-unread-envelope-thin:before {
  font-family: 'love' !important;
  content: "\e92d";
}
.at-heart-video-thin:before {
  font-family: 'love' !important;
  content: "\e92e";
}
.at-jar-heart-thin:before {
  font-family: 'love' !important;
  content: "\e92f";
}
.at-love-envelope-thin:before {
  font-family: 'love' !important;
  content: "\e930";
}
.at-love-message-thin:before {
  font-family: 'love' !important;
  content: "\e931";
}
.at-magnifying-glass-heart-thin:before {
  font-family: 'love' !important;
  content: "\e932";
}
.at-male-female-romance-thin:before {
  font-family: 'love' !important;
  content: "\e933";
}
.at-male-female-thin:before {
  font-family: 'love' !important;
  content: "\e934";
}
.at-male-gender-thin:before {
  font-family: 'love' !important;
  content: "\e935";
}
.at-male-relationship-thin:before {
  font-family: 'love' !important;
  content: "\e936";
}
.at-male-romance-thin:before {
  font-family: 'love' !important;
  content: "\e937";
}
.at-marriage-thin:before {
  font-family: 'love' !important;
  content: "\e938";
}
.at-mobile-heart-thin:before {
  font-family: 'love' !important;
  content: "\e939";
}
.at-plant-heart-thin:before {
  font-family: 'love' !important;
  content: "\e93a";
}
.at-rose-thin:before {
  font-family: 'love' !important;
  content: "\e93b";
}
.at-wedding-cake-thin:before {
  font-family: 'love' !important;
  content: "\e93c";
}
.at-wine-bottle-heart-thin:before {
  font-family: 'love' !important;
  content: "\e93d";
}
.at-wine-glasses-thin:before {
  font-family: 'love' !important;
  content: "\e93e";
}
.at-angel-heart:before {
  font-family: 'love' !important;
  content: "\e93f";
}
.at-bow-arrow-heart:before {
  font-family: 'love' !important;
  content: "\e940";
}
.at-broken-heart:before {
  font-family: 'love' !important;
  content: "\e941";
}
.at-chocolate:before {
  font-family: 'love' !important;
  content: "\e942";
}
.at-church:before {
  font-family: 'love' !important;
  content: "\e943";
}
.at-dessert:before {
  font-family: 'love' !important;
  content: "\e944";
}
.at-devil-heart:before {
  font-family: 'love' !important;
  content: "\e945";
}
.at-diamond-ring:before {
  font-family: 'love' !important;
  content: "\e946";
}
.at-dove:before {
  font-family: 'love' !important;
  content: "\e947";
}
.at-eiffel-tower:before {
  font-family: 'love' !important;
  content: "\e948";
}
.at-engagement-ring:before {
  font-family: 'love' !important;
  content: "\e949";
}
.at-female-gender:before {
  font-family: 'love' !important;
  content: "\e94a";
}
.at-female-relationship:before {
  font-family: 'love' !important;
  content: "\e94b";
}
.at-female-romance:before {
  font-family: 'love' !important;
  content: "\e94c";
}
.at-gift-box:before {
  font-family: 'love' !important;
  content: "\e94d";
}
.at-heart:before {
  font-family: 'love' !important;
  content: "\e94e";
}
.at-heart-arrow:before {
  font-family: 'love' !important;
  content: "\e94f";
}
.at-heart-balloon:before {
  font-family: 'love' !important;
  content: "\e950";
}
.at-heart-bed:before {
  font-family: 'love' !important;
  content: "\e951";
}
.at-heart-book:before {
  font-family: 'love' !important;
  content: "\e952";
}
.at-heart-bow:before {
  font-family: 'love' !important;
  content: "\e953";
}
.at-heart-box:before {
  font-family: 'love' !important;
  content: "\e954";
}
.at-heart-calendar:before {
  font-family: 'love' !important;
  content: "\e955";
}
.at-heart-candle:before {
  font-family: 'love' !important;
  content: "\e956";
}
.at-heart-candles:before {
  font-family: 'love' !important;
  content: "\e957";
}
.at-heart-card:before {
  font-family: 'love' !important;
  content: "\e958";
}
.at-heart-chemistry:before {
  font-family: 'love' !important;
  content: "\e959";
}
.at-heart-glasses:before {
  font-family: 'love' !important;
  content: "\e95a";
}
.at-heart-key:before {
  font-family: 'love' !important;
  content: "\e95b";
}
.at-heart-lock-key:before {
  font-family: 'love' !important;
  content: "\e95c";
}
.at-heart-love-you:before {
  font-family: 'love' !important;
  content: "\e95d";
}
.at-heart-mail:before {
  font-family: 'love' !important;
  content: "\e95e";
}
.at-heart-mobile:before {
  font-family: 'love' !important;
  content: "\e95f";
}
.at-heart-mug:before {
  font-family: 'love' !important;
  content: "\e960";
}
.at-heart-music:before {
  font-family: 'love' !important;
  content: "\e961";
}
.at-heart-padlock:before {
  font-family: 'love' !important;
  content: "\e962";
}
.at-heart-paper:before {
  font-family: 'love' !important;
  content: "\e963";
}
.at-heart-pen:before {
  font-family: 'love' !important;
  content: "\e964";
}
.at-heart-perfume:before {
  font-family: 'love' !important;
  content: "\e965";
}
.at-heart-pin:before {
  font-family: 'love' !important;
  content: "\e966";
}
.at-heart-room-service:before {
  font-family: 'love' !important;
  content: "\e967";
}
.at-hearts:before {
  font-family: 'love' !important;
  content: "\e968";
}
.at-heart-shirt:before {
  font-family: 'love' !important;
  content: "\e969";
}
.at-heart-suitcase:before {
  font-family: 'love' !important;
  content: "\e96a";
}
.at-heart-ticket:before {
  font-family: 'love' !important;
  content: "\e96b";
}
.at-heart-unread-envelope:before {
  font-family: 'love' !important;
  content: "\e96c";
}
.at-heart-video:before {
  font-family: 'love' !important;
  content: "\e96d";
}
.at-jar-heart:before {
  font-family: 'love' !important;
  content: "\e96e";
}
.at-love-envelope:before {
  font-family: 'love' !important;
  content: "\e96f";
}
.at-love-message:before {
  font-family: 'love' !important;
  content: "\e970";
}
.at-magnifying-glass-heart:before {
  font-family: 'love' !important;
  content: "\e971";
}
.at-male-female:before {
  font-family: 'love' !important;
  content: "\e972";
}
.at-male-female-romance:before {
  font-family: 'love' !important;
  content: "\e973";
}
.at-male-gender:before {
  font-family: 'love' !important;
  content: "\e974";
}
.at-male-relationship:before {
  font-family: 'love' !important;
  content: "\e975";
}
.at-male-romance:before {
  font-family: 'love' !important;
  content: "\e976";
}
.at-marriage:before {
  font-family: 'love' !important;
  content: "\e977";
}
.at-mobile-heart:before {
  font-family: 'love' !important;
  content: "\e978";
}
.at-plant-heart:before {
  font-family: 'love' !important;
  content: "\e979";
}
.at-rose:before {
  font-family: 'love' !important;
  content: "\e97a";
}
.at-wedding-cake:before {
  font-family: 'love' !important;
  content: "\e97b";
}
.at-wine-bottle-heart:before {
  font-family: 'love' !important;
  content: "\e97c";
}
.at-wine-glasses:before {
  font-family: 'love' !important;
  content: "\e97d";
}
.at-angel-heart-bold:before {
  font-family: 'love' !important;
  content: "\e97e";
}
.at-bow-arrow-heart-bold:before {
  font-family: 'love' !important;
  content: "\e97f";
}
.at-broken-heart-bold:before {
  font-family: 'love' !important;
  content: "\e980";
}
.at-chocolate-bold:before {
  font-family: 'love' !important;
  content: "\e981";
}
.at-church-bold:before {
  font-family: 'love' !important;
  content: "\e982";
}
.at-dessert-bold:before {
  font-family: 'love' !important;
  content: "\e983";
}
.at-devil-heart-bold:before {
  font-family: 'love' !important;
  content: "\e984";
}
.at-diamond-ring-bold:before {
  font-family: 'love' !important;
  content: "\e985";
}
.at-dove-bold:before {
  font-family: 'love' !important;
  content: "\e986";
}
.at-eiffel-tower-bold:before {
  font-family: 'love' !important;
  content: "\e987";
}
.at-engagement-ring-bold:before {
  font-family: 'love' !important;
  content: "\e988";
}
.at-female-gender-bold:before {
  font-family: 'love' !important;
  content: "\e989";
}
.at-female-relationship-bold:before {
  font-family: 'love' !important;
  content: "\e98a";
}
.at-female-romance-bold:before {
  font-family: 'love' !important;
  content: "\e98b";
}
.at-gift-box-bold:before {
  font-family: 'love' !important;
  content: "\e98c";
}
.at-heart-arrow-bold:before {
  font-family: 'love' !important;
  content: "\e98d";
}
.at-heart-balloon-bold:before {
  font-family: 'love' !important;
  content: "\e98e";
}
.at-heart-bed-bold:before {
  font-family: 'love' !important;
  content: "\e98f";
}
.at-heart-bold:before {
  font-family: 'love' !important;
  content: "\e990";
}
.at-heart-book-bold:before {
  font-family: 'love' !important;
  content: "\e991";
}
.at-heart-bow-bold:before {
  font-family: 'love' !important;
  content: "\e992";
}
.at-heart-box-bold:before {
  font-family: 'love' !important;
  content: "\e993";
}
.at-heart-calendar-bold:before {
  font-family: 'love' !important;
  content: "\e994";
}
.at-heart-candle-bold:before {
  font-family: 'love' !important;
  content: "\e995";
}
.at-heart-candles-bold:before {
  font-family: 'love' !important;
  content: "\e996";
}
.at-heart-card-bold:before {
  font-family: 'love' !important;
  content: "\e997";
}
.at-heart-chemistry-bold:before {
  font-family: 'love' !important;
  content: "\e998";
}
.at-heart-glasses-bold:before {
  font-family: 'love' !important;
  content: "\e999";
}
.at-heart-key-bold:before {
  font-family: 'love' !important;
  content: "\e99a";
}
.at-heart-lock-key-bold:before {
  font-family: 'love' !important;
  content: "\e99b";
}
.at-heart-love-you-bold:before {
  font-family: 'love' !important;
  content: "\e99c";
}
.at-heart-mail-bold:before {
  font-family: 'love' !important;
  content: "\e99d";
}
.at-heart-mobile-bold:before {
  font-family: 'love' !important;
  content: "\e99e";
}
.at-heart-mug-bold:before {
  font-family: 'love' !important;
  content: "\e99f";
}
.at-heart-music-bold:before {
  font-family: 'love' !important;
  content: "\e9a0";
}
.at-heart-padlock-bold:before {
  font-family: 'love' !important;
  content: "\e9a1";
}
.at-heart-paper-bold:before {
  font-family: 'love' !important;
  content: "\e9a2";
}
.at-heart-pen-bold:before {
  font-family: 'love' !important;
  content: "\e9a3";
}
.at-heart-perfume-bold:before {
  font-family: 'love' !important;
  content: "\e9a4";
}
.at-heart-pin-bold:before {
  font-family: 'love' !important;
  content: "\e9a5";
}
.at-heart-room-service-bold:before {
  font-family: 'love' !important;
  content: "\e9a6";
}
.at-hearts-bold:before {
  font-family: 'love' !important;
  content: "\e9a7";
}
.at-heart-shirt-bold:before {
  font-family: 'love' !important;
  content: "\e9a8";
}
.at-heart-suitcase-bold:before {
  font-family: 'love' !important;
  content: "\e9a9";
}
.at-heart-ticket-bold:before {
  font-family: 'love' !important;
  content: "\e9aa";
}
.at-heart-unread-envelope-bold:before {
  font-family: 'love' !important;
  content: "\e9ab";
}
.at-heart-video-bold:before {
  font-family: 'love' !important;
  content: "\e9ac";
}
.at-jar-heart-bold:before {
  font-family: 'love' !important;
  content: "\e9ad";
}
.at-love-envelope-bold:before {
  font-family: 'love' !important;
  content: "\e9ae";
}
.at-love-message-bold:before {
  font-family: 'love' !important;
  content: "\e9af";
}
.at-magnifying-glass-heart-bold:before {
  font-family: 'love' !important;
  content: "\e9b0";
}
.at-male-female-bold:before {
  font-family: 'love' !important;
  content: "\e9b1";
}
.at-male-female-romance-bold:before {
  font-family: 'love' !important;
  content: "\e9b2";
}
.at-male-gender-bold:before {
  font-family: 'love' !important;
  content: "\e9b3";
}
.at-male-relationship-bold:before {
  font-family: 'love' !important;
  content: "\e9b4";
}
.at-male-romance-bold:before {
  font-family: 'love' !important;
  content: "\e9b5";
}
.at-marriage-bold:before {
  font-family: 'love' !important;
  content: "\e9b6";
}
.at-mobile-heart-bold:before {
  font-family: 'love' !important;
  content: "\e9b7";
}
.at-plant-heart-bold:before {
  font-family: 'love' !important;
  content: "\e9b8";
}
.at-rose-bold:before {
  font-family: 'love' !important;
  content: "\e9b9";
}
.at-wedding-cake-bold:before {
  font-family: 'love' !important;
  content: "\e9ba";
}
.at-wine-bottle-heart-bold:before {
  font-family: 'love' !important;
  content: "\e9bb";
}
.at-wine-glasses-bold:before {
  font-family: 'love' !important;
  content: "\e9bc";
}
