@font-face {
  font-family: 'food-beverage';
  src:  url('fonts/food-beverage.eot?jol5ge');
  src:  url('fonts/food-beverage.eot?jol5ge#iefix') format('embedded-opentype'),
    url('fonts/food-beverage.ttf?jol5ge') format('truetype'),
    url('fonts/food-beverage.woff?jol5ge') format('woff'),
    url('fonts/food-beverage.svg?jol5ge#food-beverage') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.at-avocado-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e900";
}
.at-bacon-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e901";
}
.at-banana-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e902";
}
.at-barbeque-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e903";
}
.at-beer-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e904";
}
.at-boiled-egg-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e905";
}
.at-bread-loaf-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e906";
}
.at-cake-slice-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e907";
}
.at-carrot-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e908";
}
.at-cheese-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e909";
}
.at-chicken-leg-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e90a";
}
.at-cloche-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e90b";
}
.at-coffee-drink-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e90c";
}
.at-cookie-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e90d";
}
.at-corn-seeds-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e90e";
}
.at-corn-starch-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e90f";
}
.at-croissant-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e910";
}
.at-cupcake-pastry-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e911";
}
.at-cupcake-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e912";
}
.at-donut-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e913";
}
.at-egg-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e914";
}
.at-flour-bag-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e915";
}
.at-french-fries-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e916";
}
.at-glazed-donut-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e917";
}
.at-grapes-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e918";
}
.at-hamburger-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e919";
}
.at-honey-jar-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e91a";
}
.at-hotdog-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e91b";
}
.at-hot-drink-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e91c";
}
.at-ice-cream-cone-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e91d";
}
.at-ice-creams-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e91e";
}
.at-ice-cream-stick-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e91f";
}
.at-ice-cream-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e920";
}
.at-jam-jar-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e921";
}
.at-kabab-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e922";
}
.at-martini-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e923";
}
.at-mushroom-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e924";
}
.at-noodles-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e925";
}
.at-pancake-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e926";
}
.at-pear-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e927";
}
.at-pie-slice-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e928";
}
.at-pizza-slice-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e929";
}
.at-pizza-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e92a";
}
.at-ribs-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e92b";
}
.at-rice-bowl-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e92c";
}
.at-sandwich-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e92d";
}
.at-sauce-bottle-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e92e";
}
.at-sausage-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e92f";
}
.at-snack-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e930";
}
.at-soda-can-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e931";
}
.at-soda-drink-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e932";
}
.at-sushi-rice-ball-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e933";
}
.at-sushi-roll-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e934";
}
.at-taco-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e935";
}
.at-tin-can-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e936";
}
.at-toast-bread-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e937";
}
.at-turkey-leg-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e938";
}
.at-water-glass-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e939";
}
.at-wine-bottle-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e93a";
}
.at-wine-glass-thin:before {
  font-family: 'food-beverage' !important;
  content: "\e93b";
}
.at-avocado:before {
  font-family: 'food-beverage' !important;
  content: "\e93c";
}
.at-bacon:before {
  font-family: 'food-beverage' !important;
  content: "\e93d";
}
.at-banana:before {
  font-family: 'food-beverage' !important;
  content: "\e93e";
}
.at-barbeque:before {
  font-family: 'food-beverage' !important;
  content: "\e93f";
}
.at-beer:before {
  font-family: 'food-beverage' !important;
  content: "\e940";
}
.at-boiled-egg:before {
  font-family: 'food-beverage' !important;
  content: "\e941";
}
.at-bread-loaf:before {
  font-family: 'food-beverage' !important;
  content: "\e942";
}
.at-cake-slice:before {
  font-family: 'food-beverage' !important;
  content: "\e943";
}
.at-carrot:before {
  font-family: 'food-beverage' !important;
  content: "\e944";
}
.at-cheese:before {
  font-family: 'food-beverage' !important;
  content: "\e945";
}
.at-chicken-leg:before {
  font-family: 'food-beverage' !important;
  content: "\e946";
}
.at-cloche:before {
  font-family: 'food-beverage' !important;
  content: "\e947";
}
.at-coffee-drink:before {
  font-family: 'food-beverage' !important;
  content: "\e948";
}
.at-cookie:before {
  font-family: 'food-beverage' !important;
  content: "\e949";
}
.at-corn-seeds:before {
  font-family: 'food-beverage' !important;
  content: "\e94a";
}
.at-corn-starch:before {
  font-family: 'food-beverage' !important;
  content: "\e94b";
}
.at-croissant:before {
  font-family: 'food-beverage' !important;
  content: "\e94c";
}
.at-cupcake:before {
  font-family: 'food-beverage' !important;
  content: "\e94d";
}
.at-cupcake-pastry:before {
  font-family: 'food-beverage' !important;
  content: "\e94e";
}
.at-donut:before {
  font-family: 'food-beverage' !important;
  content: "\e94f";
}
.at-egg:before {
  font-family: 'food-beverage' !important;
  content: "\e950";
}
.at-flour-bag:before {
  font-family: 'food-beverage' !important;
  content: "\e951";
}
.at-french-fries:before {
  font-family: 'food-beverage' !important;
  content: "\e952";
}
.at-glazed-donut:before {
  font-family: 'food-beverage' !important;
  content: "\e953";
}
.at-grapes:before {
  font-family: 'food-beverage' !important;
  content: "\e954";
}
.at-hamburger:before {
  font-family: 'food-beverage' !important;
  content: "\e955";
}
.at-honey-jar:before {
  font-family: 'food-beverage' !important;
  content: "\e956";
}
.at-hotdog:before {
  font-family: 'food-beverage' !important;
  content: "\e957";
}
.at-hot-drink:before {
  font-family: 'food-beverage' !important;
  content: "\e958";
}
.at-ice-cream:before {
  font-family: 'food-beverage' !important;
  content: "\e959";
}
.at-ice-cream-cone:before {
  font-family: 'food-beverage' !important;
  content: "\e95a";
}
.at-ice-creams:before {
  font-family: 'food-beverage' !important;
  content: "\e95b";
}
.at-ice-cream-stick:before {
  font-family: 'food-beverage' !important;
  content: "\e95c";
}
.at-jam-jar:before {
  font-family: 'food-beverage' !important;
  content: "\e95d";
}
.at-kabab:before {
  font-family: 'food-beverage' !important;
  content: "\e95e";
}
.at-martini:before {
  font-family: 'food-beverage' !important;
  content: "\e95f";
}
.at-mushroom:before {
  font-family: 'food-beverage' !important;
  content: "\e960";
}
.at-noodles:before {
  font-family: 'food-beverage' !important;
  content: "\e961";
}
.at-pancake:before {
  font-family: 'food-beverage' !important;
  content: "\e962";
}
.at-pear:before {
  font-family: 'food-beverage' !important;
  content: "\e963";
}
.at-pie-slice:before {
  font-family: 'food-beverage' !important;
  content: "\e964";
}
.at-pizza:before {
  font-family: 'food-beverage' !important;
  content: "\e965";
}
.at-pizza-slice:before {
  font-family: 'food-beverage' !important;
  content: "\e966";
}
.at-ribs:before {
  font-family: 'food-beverage' !important;
  content: "\e967";
}
.at-rice-bowl:before {
  font-family: 'food-beverage' !important;
  content: "\e968";
}
.at-sandwich:before {
  font-family: 'food-beverage' !important;
  content: "\e969";
}
.at-sauce-bottle:before {
  font-family: 'food-beverage' !important;
  content: "\e96a";
}
.at-sausage:before {
  font-family: 'food-beverage' !important;
  content: "\e96b";
}
.at-snack:before {
  font-family: 'food-beverage' !important;
  content: "\e96c";
}
.at-soda-can:before {
  font-family: 'food-beverage' !important;
  content: "\e96d";
}
.at-soda-drink:before {
  font-family: 'food-beverage' !important;
  content: "\e96e";
}
.at-sushi-rice-ball:before {
  font-family: 'food-beverage' !important;
  content: "\e96f";
}
.at-sushi-roll:before {
  font-family: 'food-beverage' !important;
  content: "\e970";
}
.at-taco:before {
  font-family: 'food-beverage' !important;
  content: "\e971";
}
.at-tin-can:before {
  font-family: 'food-beverage' !important;
  content: "\e972";
}
.at-toast-bread:before {
  font-family: 'food-beverage' !important;
  content: "\e973";
}
.at-turkey-leg:before {
  font-family: 'food-beverage' !important;
  content: "\e974";
}
.at-water-glass:before {
  font-family: 'food-beverage' !important;
  content: "\e975";
}
.at-wine-bottle:before {
  font-family: 'food-beverage' !important;
  content: "\e976";
}
.at-wine-glass:before {
  font-family: 'food-beverage' !important;
  content: "\e977";
}
.at-avocado-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e978";
}
.at-bacon-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e979";
}
.at-banana-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e97a";
}
.at-barbeque-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e97b";
}
.at-beer-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e97c";
}
.at-boiled-egg-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e97d";
}
.at-bread-loaf-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e97e";
}
.at-cake-slice-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e97f";
}
.at-carrot-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e980";
}
.at-cheese-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e981";
}
.at-chicken-leg-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e982";
}
.at-cloche-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e983";
}
.at-coffee-drink-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e984";
}
.at-cookie-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e985";
}
.at-corn-seeds-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e986";
}
.at-corn-starch-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e987";
}
.at-croissant-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e988";
}
.at-cupcake-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e989";
}
.at-cupcake-pastry-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e98a";
}
.at-donut-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e98b";
}
.at-egg-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e98c";
}
.at-flour-bag-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e98d";
}
.at-french-fries-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e98e";
}
.at-glazed-donut-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e98f";
}
.at-grapes-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e990";
}
.at-hamburger-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e991";
}
.at-honey-jar-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e992";
}
.at-hotdog-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e993";
}
.at-hot-drink-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e994";
}
.at-ice-cream-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e995";
}
.at-ice-cream-cone-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e996";
}
.at-ice-creams-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e997";
}
.at-ice-cream-stick-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e998";
}
.at-jam-jar-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e999";
}
.at-kabab-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e99a";
}
.at-martini-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e99b";
}
.at-mushroom-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e99c";
}
.at-noodles-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e99d";
}
.at-pancake-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e99e";
}
.at-pear-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e99f";
}
.at-pie-slice-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e9a0";
}
.at-pizza-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e9a1";
}
.at-pizza-slice-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e9a2";
}
.at-ribs-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e9a3";
}
.at-rice-bowl-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e9a4";
}
.at-sandwich-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e9a5";
}
.at-sauce-bottle-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e9a6";
}
.at-sausage-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e9a7";
}
.at-snack-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e9a8";
}
.at-soda-can-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e9a9";
}
.at-soda-drink-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e9aa";
}
.at-sushi-rice-ball-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e9ab";
}
.at-sushi-roll-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e9ac";
}
.at-taco-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e9ad";
}
.at-tin-can-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e9ae";
}
.at-toast-bread-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e9af";
}
.at-turkey-leg-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e9b0";
}
.at-water-glass-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e9b1";
}
.at-wine-bottle-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e9b2";
}
.at-wine-glass-bold:before {
  font-family: 'food-beverage' !important;
  content: "\e9b3";
}
