@font-face {
  font-family: 'medical';
  src:  url('fonts/medical.eot?yi6f0v');
  src:  url('fonts/medical.eot?yi6f0v#iefix') format('embedded-opentype'),
    url('fonts/medical.ttf?yi6f0v') format('truetype'),
    url('fonts/medical.woff?yi6f0v') format('woff'),
    url('fonts/medical.svg?yi6f0v#medical') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.at-ambulance-thin:before {
  content: "\e900";
}
.at-bacteria-organism-thin:before {
  content: "\e901";
}
.at-bacteria-view-thin:before {
  content: "\e902";
}
.at-bandages-thin:before {
  content: "\e903";
}
.at-bandage-thin:before {
  content: "\e904";
}
.at-blood-drip-thin:before {
  content: "\e905";
}
.at-blood-pressure-thin:before {
  content: "\e906";
}
.at-bone-joint-thin:before {
  content: "\e907";
}
.at-bone-thin:before {
  content: "\e908";
}
.at-bottle-spoon-thin:before {
  content: "\e909";
}
.at-brain-thin:before {
  content: "\e90a";
}
.at-breasts-thin:before {
  content: "\e90b";
}
.at-butt-thin:before {
  content: "\e90c";
}
.at-capsule-medicine-thin:before {
  content: "\e90d";
}
.at-cardiogram-thin:before {
  content: "\e90e";
}
.at-cast-thin:before {
  content: "\e90f";
}
.at-chemical-test-tube-thin:before {
  content: "\e910";
}
.at-condom-thin:before {
  content: "\e911";
}
.at-crutches-thin:before {
  content: "\e912";
}
.at-cup-measurement-thin:before {
  content: "\e913";
}
.at-dental-plus-thin:before {
  content: "\e914";
}
.at-digital-thermometer-thin:before {
  content: "\e915";
}
.at-dna-genetics-thin:before {
  content: "\e916";
}
.at-drugs-thin:before {
  content: "\e917";
}
.at-ear-drops-bottle-thin:before {
  content: "\e918";
}
.at-ear-thin:before {
  content: "\e919";
}
.at-emergency-siren-thin:before {
  content: "\e91a";
}
.at-eye-drops-thin:before {
  content: "\e91b";
}
.at-eye-minus-thin:before {
  content: "\e91c";
}
.at-eye-plus-thin:before {
  content: "\e91d";
}
.at-eye-thin:before {
  content: "\e91e";
}
.at-face-mask-plus-thin:before {
  content: "\e91f";
}
.at-female-thin:before {
  content: "\e920";
}
.at-first-aid-box-thin:before {
  content: "\e921";
}
.at-foot-thin:before {
  content: "\e922";
}
.at-heart-rate-clipboard-thin:before {
  content: "\e923";
}
.at-heart-rate-thin:before {
  content: "\e924";
}
.at-herbal-mix-plus-thin:before {
  content: "\e925";
}
.at-hospital-building-thin:before {
  content: "\e926";
}
.at-hospital-sign-thin:before {
  content: "\e927";
}
.at-intestine-thin:before {
  content: "\e928";
}
.at-kidneys-thin:before {
  content: "\e929";
}
.at-line-bone-thin:before {
  content: "\e92a";
}
.at-lips-thin:before {
  content: "\e92b";
}
.at-liquid-bottle-thin:before {
  content: "\e92c";
}
.at-liquid-drop-thin:before {
  content: "\e92d";
}
.at-liquid-medicine-bag-thin:before {
  content: "\e92e";
}
.at-liver-thin:before {
  content: "\e92f";
}
.at-lotion-plus-bottle-thin:before {
  content: "\e930";
}
.at-lungs-thin:before {
  content: "\e931";
}
.at-male-thin:before {
  content: "\e932";
}
.at-medical-center-thin:before {
  content: "\e933";
}
.at-medical-drip-thin:before {
  content: "\e934";
}
.at-medication-bottle-thin:before {
  content: "\e935";
}
.at-medicine-bag-thin:before {
  content: "\e936";
}
.at-microscope-medical-thin:before {
  content: "\e937";
}
.at-mri-thin:before {
  content: "\e938";
}
.at-nose-thin:before {
  content: "\e939";
}
.at-nurse-thin:before {
  content: "\e93a";
}
.at-oxygen-thin:before {
  content: "\e93b";
}
.at-paramedic-sign-thin:before {
  content: "\e93c";
}
.at-pill-bottle-thin:before {
  content: "\e93d";
}
.at-plus-account-monitor-thin:before {
  content: "\e93e";
}
.at-plus-bed-thin:before {
  content: "\e93f";
}
.at-plus-bottle-thin:before {
  content: "\e940";
}
.at-plus-call-center-thin:before {
  content: "\e941";
}
.at-plus-clipboard-add-thin:before {
  content: "\e942";
}
.at-plus-document-thin:before {
  content: "\e943";
}
.at-plus-drip-thin:before {
  content: "\e944";
}
.at-plus-folder-paper-thin:before {
  content: "\e945";
}
.at-plus-hanging-sign-thin:before {
  content: "\e946";
}
.at-plus-heart-thin:before {
  content: "\e947";
}
.at-plus-id-card-thin:before {
  content: "\e948";
}
.at-plus-liquid-drop-thin:before {
  content: "\e949";
}
.at-plus-pin-thin:before {
  content: "\e94a";
}
.at-plus-shield-thin:before {
  content: "\e94b";
}
.at-plus-thin:before {
  content: "\e94c";
}
.at-radioactive-thin:before {
  content: "\e94d";
}
.at-round-test-tube-thin:before {
  content: "\e94e";
}
.at-sanitizer-bottle-thin:before {
  content: "\e94f";
}
.at-skeleton-thin:before {
  content: "\e950";
}
.at-skull-thin:before {
  content: "\e951";
}
.at-sperm-thin:before {
  content: "\e952";
}
.at-spine-thin:before {
  content: "\e953";
}
.at-stethoscope-thin:before {
  content: "\e954";
}
.at-stomach-thin:before {
  content: "\e955";
}
.at-stretcher-thin:before {
  content: "\e956";
}
.at-supplement-thin:before {
  content: "\e957";
}
.at-support-ribbon-thin:before {
  content: "\e958";
}
.at-test-tubes-thin:before {
  content: "\e959";
}
.at-test-tube-thin:before {
  content: "\e95a";
}
.at-thermometer-temp-thin:before {
  content: "\e95b";
}
.at-tongue-thin:before {
  content: "\e95c";
}
.at-tooth-thin:before {
  content: "\e95d";
}
.at-uterus-thin:before {
  content: "\e95e";
}
.at-vaccine-thin:before {
  content: "\e95f";
}
.at-virus-medical-thin:before {
  content: "\e960";
}
.at-weight-scale-thin:before {
  content: "\e961";
}
.at-wheelchair-thin:before {
  content: "\e962";
}
.at-x-ray-thin:before {
  content: "\e963";
}
.at-ambulance:before {
  content: "\e964";
}
.at-bacteria-organism:before {
  content: "\e965";
}
.at-bacteria-view:before {
  content: "\e966";
}
.at-bandage:before {
  content: "\e967";
}
.at-bandages:before {
  content: "\e968";
}
.at-blood-drip:before {
  content: "\e969";
}
.at-blood-pressure:before {
  content: "\e96a";
}
.at-bone:before {
  content: "\e96b";
}
.at-bone-joint:before {
  content: "\e96c";
}
.at-bottle-spoon:before {
  content: "\e96d";
}
.at-brain:before {
  content: "\e96e";
}
.at-breasts:before {
  content: "\e96f";
}
.at-butt:before {
  content: "\e970";
}
.at-capsule-medicine:before {
  content: "\e971";
}
.at-cardiogram:before {
  content: "\e972";
}
.at-cast:before {
  content: "\e973";
}
.at-chemical-test-tube:before {
  content: "\e974";
}
.at-condom:before {
  content: "\e975";
}
.at-crutches:before {
  content: "\e976";
}
.at-cup-measurement:before {
  content: "\e977";
}
.at-dental-plus:before {
  content: "\e978";
}
.at-digital-thermometer:before {
  content: "\e979";
}
.at-dna-genetics:before {
  content: "\e97a";
}
.at-drugs:before {
  content: "\e97b";
}
.at-ear:before {
  content: "\e97c";
}
.at-ear-drops-bottle:before {
  content: "\e97d";
}
.at-emergency-siren:before {
  content: "\e97e";
}
.at-eye:before {
  content: "\e97f";
}
.at-eye-drops:before {
  content: "\e980";
}
.at-eye-minus:before {
  content: "\e981";
}
.at-eye-plus:before {
  content: "\e982";
}
.at-face-mask-plus:before {
  content: "\e983";
}
.at-female:before {
  content: "\e984";
}
.at-first-aid-box:before {
  content: "\e985";
}
.at-foot:before {
  content: "\e986";
}
.at-heart-rate:before {
  content: "\e987";
}
.at-heart-rate-clipboard:before {
  content: "\e988";
}
.at-herbal-mix-plus:before {
  content: "\e989";
}
.at-hospital-building:before {
  content: "\e98a";
}
.at-hospital-sign:before {
  content: "\e98b";
}
.at-intestine:before {
  content: "\e98c";
}
.at-kidneys:before {
  content: "\e98d";
}
.at-line-bone:before {
  content: "\e98e";
}
.at-lips:before {
  content: "\e98f";
}
.at-liquid-bottle:before {
  content: "\e990";
}
.at-liquid-drop:before {
  content: "\e991";
}
.at-liquid-medicine-bag:before {
  content: "\e992";
}
.at-liver:before {
  content: "\e993";
}
.at-lotion-plus-bottle:before {
  content: "\e994";
}
.at-lungs:before {
  content: "\e995";
}
.at-male:before {
  content: "\e996";
}
.at-medical-center:before {
  content: "\e997";
}
.at-medical-drip:before {
  content: "\e998";
}
.at-medication-bottle:before {
  content: "\e999";
}
.at-medicine-bag:before {
  content: "\e99a";
}
.at-microscope-medical:before {
  content: "\e99b";
}
.at-mri:before {
  content: "\e99c";
}
.at-nose:before {
  content: "\e99d";
}
.at-nurse:before {
  content: "\e99e";
}
.at-oxygen:before {
  content: "\e99f";
}
.at-paramedic-sign:before {
  content: "\e9a0";
}
.at-pill-bottle:before {
  content: "\e9a1";
}
.at-plus:before {
  content: "\e9a2";
}
.at-plus-account-monitor:before {
  content: "\e9a3";
}
.at-plus-bed:before {
  content: "\e9a4";
}
.at-plus-bottle:before {
  content: "\e9a5";
}
.at-plus-call-center:before {
  content: "\e9a6";
}
.at-plus-clipboard-add:before {
  content: "\e9a7";
}
.at-plus-document:before {
  content: "\e9a8";
}
.at-plus-drip:before {
  content: "\e9a9";
}
.at-plus-folder-paper:before {
  content: "\e9aa";
}
.at-plus-hanging-sign:before {
  content: "\e9ab";
}
.at-plus-heart:before {
  content: "\e9ac";
}
.at-plus-id-card:before {
  content: "\e9ad";
}
.at-plus-liquid-drop:before {
  content: "\e9ae";
}
.at-plus-pin:before {
  content: "\e9af";
}
.at-plus-shield:before {
  content: "\e9b0";
}
.at-radioactive:before {
  content: "\e9b1";
}
.at-round-test-tube:before {
  content: "\e9b2";
}
.at-sanitizer-bottle:before {
  content: "\e9b3";
}
.at-skeleton:before {
  content: "\e9b4";
}
.at-skull:before {
  content: "\e9b5";
}
.at-sperm:before {
  content: "\e9b6";
}
.at-spine:before {
  content: "\e9b7";
}
.at-stethoscope:before {
  content: "\e9b8";
}
.at-stomach:before {
  content: "\e9b9";
}
.at-stretcher:before {
  content: "\e9ba";
}
.at-supplement:before {
  content: "\e9bb";
}
.at-support-ribbon:before {
  content: "\e9bc";
}
.at-test-tube:before {
  content: "\e9bd";
}
.at-test-tubes:before {
  content: "\e9be";
}
.at-thermometer-temp:before {
  content: "\e9bf";
}
.at-tongue:before {
  content: "\e9c0";
}
.at-tooth:before {
  content: "\e9c1";
}
.at-uterus:before {
  content: "\e9c2";
}
.at-vaccine:before {
  content: "\e9c3";
}
.at-virus-medical:before {
  content: "\e9c4";
}
.at-weight-scale:before {
  content: "\e9c5";
}
.at-wheelchair:before {
  content: "\e9c6";
}
.at-x-ray:before {
  content: "\e9c7";
}
.at-ambulance-bold:before {
  content: "\e9c8";
}
.at-bacteria-organism-bold:before {
  content: "\e9c9";
}
.at-bacteria-view-bold:before {
  content: "\e9ca";
}
.at-bandage-bold:before {
  content: "\e9cb";
}
.at-bandages-bold:before {
  content: "\e9cc";
}
.at-blood-drip-bold:before {
  content: "\e9cd";
}
.at-blood-pressure-bold:before {
  content: "\e9ce";
}
.at-bone-bold:before {
  content: "\e9cf";
}
.at-bone-joint-bold:before {
  content: "\e9d0";
}
.at-bottle-spoon-bold:before {
  content: "\e9d1";
}
.at-brain-bold:before {
  content: "\e9d2";
}
.at-breasts-bold:before {
  content: "\e9d3";
}
.at-butt-bold:before {
  content: "\e9d4";
}
.at-capsule-medicine-bold:before {
  content: "\e9d5";
}
.at-cardiogram-bold:before {
  content: "\e9d6";
}
.at-cast-bold:before {
  content: "\e9d7";
}
.at-chemical-test-tube-bold:before {
  content: "\e9d8";
}
.at-condom-bold:before {
  content: "\e9d9";
}
.at-crutches-bold:before {
  content: "\e9da";
}
.at-cup-measurement-bold:before {
  content: "\e9db";
}
.at-dental-plus-bold:before {
  content: "\e9dc";
}
.at-digital-thermometer-bold:before {
  content: "\e9dd";
}
.at-dna-genetics-bold:before {
  content: "\e9de";
}
.at-drugs-bold:before {
  content: "\e9df";
}
.at-ear-bold:before {
  content: "\e9e0";
}
.at-ear-drops-bottle-bold:before {
  content: "\e9e1";
}
.at-emergency-siren-bold:before {
  content: "\e9e2";
}
.at-eye-bold:before {
  content: "\e9e3";
}
.at-eye-drops-bold:before {
  content: "\e9e4";
}
.at-eye-minus-bold:before {
  content: "\e9e5";
}
.at-eye-plus-bold:before {
  content: "\e9e6";
}
.at-face-mask-plus-bold:before {
  content: "\e9e7";
}
.at-female-bold:before {
  content: "\e9e8";
}
.at-first-aid-box-bold:before {
  content: "\e9e9";
}
.at-foot-bold:before {
  content: "\e9ea";
}
.at-heart-rate-bold:before {
  content: "\e9eb";
}
.at-heart-rate-clipboard-bold:before {
  content: "\e9ec";
}
.at-herbal-mix-plus-bold:before {
  content: "\e9ed";
}
.at-hospital-building-bold:before {
  content: "\e9ee";
}
.at-hospital-sign-bold:before {
  content: "\e9ef";
}
.at-intestine-bold:before {
  content: "\e9f0";
}
.at-kidneys-bold:before {
  content: "\e9f1";
}
.at-line-bone-bold:before {
  content: "\e9f2";
}
.at-lips-bold:before {
  content: "\e9f3";
}
.at-liquid-bottle-bold:before {
  content: "\e9f4";
}
.at-liquid-drop-bold:before {
  content: "\e9f5";
}
.at-liquid-medicine-bag-bold:before {
  content: "\e9f6";
}
.at-liver-bold:before {
  content: "\e9f7";
}
.at-lotion-plus-bottle-bold:before {
  content: "\e9f8";
}
.at-lungs-bold:before {
  content: "\e9f9";
}
.at-male-bold:before {
  content: "\e9fa";
}
.at-medical-center-bold:before {
  content: "\e9fb";
}
.at-medical-drip-bold:before {
  content: "\e9fc";
}
.at-medication-bottle-bold:before {
  content: "\e9fd";
}
.at-medicine-bag-bold:before {
  content: "\e9fe";
}
.at-microscope-medical-bold:before {
  content: "\e9ff";
}
.at-mri-bold:before {
  content: "\ea00";
}
.at-nose-bold:before {
  content: "\ea01";
}
.at-nurse-bold:before {
  content: "\ea02";
}
.at-oxygen-bold:before {
  content: "\ea03";
}
.at-paramedic-sign-bold:before {
  content: "\ea04";
}
.at-pill-bottle-bold:before {
  content: "\ea05";
}
.at-plus-account-monitor-bold:before {
  content: "\ea06";
}
.at-plus-bed-bold:before {
  content: "\ea07";
}
.at-plus-bold:before {
  content: "\ea08";
}
.at-plus-bottle-bold:before {
  content: "\ea09";
}
.at-plus-call-center-bold:before {
  content: "\ea0a";
}
.at-plus-clipboard-add-bold:before {
  content: "\ea0b";
}
.at-plus-document-bold:before {
  content: "\ea0c";
}
.at-plus-drip-bold:before {
  content: "\ea0d";
}
.at-plus-folder-paper-bold:before {
  content: "\ea0e";
}
.at-plus-hanging-sign-bold:before {
  content: "\ea0f";
}
.at-plus-heart-bold:before {
  content: "\ea10";
}
.at-plus-id-card-bold:before {
  content: "\ea11";
}
.at-plus-liquid-drop-bold:before {
  content: "\ea12";
}
.at-plus-pin-bold:before {
  content: "\ea13";
}
.at-plus-shield-bold:before {
  content: "\ea14";
}
.at-radioactive-bold:before {
  content: "\ea15";
}
.at-round-test-tube-bold:before {
  content: "\ea16";
}
.at-sanitizer-bottle-bold:before {
  content: "\ea17";
}
.at-skeleton-bold:before {
  content: "\ea18";
}
.at-skull-bold:before {
  content: "\ea19";
}
.at-sperm-bold:before {
  content: "\ea1a";
}
.at-spine-bold:before {
  content: "\ea1b";
}
.at-stethoscope-bold:before {
  content: "\ea1c";
}
.at-stomach-bold:before {
  content: "\ea1d";
}
.at-stretcher-bold:before {
  content: "\ea1e";
}
.at-supplement-bold:before {
  content: "\ea1f";
}
.at-support-ribbon-bold:before {
  content: "\ea20";
}
.at-test-tube-bold:before {
  content: "\ea21";
}
.at-test-tubes-bold:before {
  content: "\ea22";
}
.at-thermometer-temp-bold:before {
  content: "\ea23";
}
.at-tongue-bold:before {
  content: "\ea24";
}
.at-tooth-bold:before {
  content: "\ea25";
}
.at-uterus-bold:before {
  content: "\ea26";
}
.at-vaccine-bold:before {
  content: "\ea27";
}
.at-virus-medical-bold:before {
  content: "\ea28";
}
.at-weight-scale-bold:before {
  content: "\ea29";
}
.at-wheelchair-bold:before {
  content: "\ea2a";
}
.at-x-ray-bold:before {
  content: "\ea2b";
}
