@font-face {
  font-family: 'laboratory';
  src:  url('fonts/laboratory.eot?w9uzb9');
  src:  url('fonts/laboratory.eot?w9uzb9#iefix') format('embedded-opentype'),
    url('fonts/laboratory.ttf?w9uzb9') format('truetype'),
    url('fonts/laboratory.woff?w9uzb9') format('woff'),
    url('fonts/laboratory.svg?w9uzb9#laboratory') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.at-bacteria-thin:before {
  font-family: 'laboratory' !important;
  content: "\e900";
}
.at-brush-tool-thin:before {
  font-family: 'laboratory' !important;
  content: "\e901";
}
.at-cells-monitor-thin:before {
  font-family: 'laboratory' !important;
  content: "\e902";
}
.at-chemical-container-thin:before {
  font-family: 'laboratory' !important;
  content: "\e903";
}
.at-chemical-lab-thin:before {
  font-family: 'laboratory' !important;
  content: "\e904";
}
.at-chemical-tube-thin:before {
  font-family: 'laboratory' !important;
  content: "\e905";
}
.at-clipboard-test-tube-thin:before {
  font-family: 'laboratory' !important;
  content: "\e906";
}
.at-closed-bottle-thin:before {
  font-family: 'laboratory' !important;
  content: "\e907";
}
.at-closed-test-tube-thin:before {
  font-family: 'laboratory' !important;
  content: "\e908";
}
.at-connected-test-tubes-thin:before {
  font-family: 'laboratory' !important;
  content: "\e909";
}
.at-curved-test-tube-thin:before {
  font-family: 'laboratory' !important;
  content: "\e90a";
}
.at-danger-thin:before {
  font-family: 'laboratory' !important;
  content: "\e90b";
}
.at-dna-thin:before {
  font-family: 'laboratory' !important;
  content: "\e90c";
}
.at-eyedropper-thin:before {
  font-family: 'laboratory' !important;
  content: "\e90d";
}
.at-face-mask-thin:before {
  font-family: 'laboratory' !important;
  content: "\e90e";
}
.at-fire-test-tube-thin:before {
  font-family: 'laboratory' !important;
  content: "\e90f";
}
.at-fire-thin:before {
  font-family: 'laboratory' !important;
  content: "\e910";
}
.at-fire-triangle-thin:before {
  font-family: 'laboratory' !important;
  content: "\e911";
}
.at-flame-thin:before {
  font-family: 'laboratory' !important;
  content: "\e912";
}
.at-frog-thin:before {
  font-family: 'laboratory' !important;
  content: "\e913";
}
.at-funnel-thin:before {
  font-family: 'laboratory' !important;
  content: "\e914";
}
.at-herb-mix-thin:before {
  font-family: 'laboratory' !important;
  content: "\e915";
}
.at-lab-appliance-thin:before {
  font-family: 'laboratory' !important;
  content: "\e916";
}
.at-lab-coat-thin:before {
  font-family: 'laboratory' !important;
  content: "\e917";
}
.at-laboratory-list-thin:before {
  font-family: 'laboratory' !important;
  content: "\e918";
}
.at-laboratory-test-tube-thin:before {
  font-family: 'laboratory' !important;
  content: "\e919";
}
.at-laboratory-tool-thin:before {
  font-family: 'laboratory' !important;
  content: "\e91a";
}
.at-lab-test-tube-thin:before {
  font-family: 'laboratory' !important;
  content: "\e91b";
}
.at-lab-tool-curve-thin:before {
  font-family: 'laboratory' !important;
  content: "\e91c";
}
.at-magnet-thin:before {
  font-family: 'laboratory' !important;
  content: "\e91d";
}
.at-magnifying-glass-test-tube-thin:before {
  font-family: 'laboratory' !important;
  content: "\e91e";
}
.at-measure-tube-thin:before {
  font-family: 'laboratory' !important;
  content: "\e91f";
}
.at-measuring-cup-thin:before {
  font-family: 'laboratory' !important;
  content: "\e920";
}
.at-mesh-thin:before {
  font-family: 'laboratory' !important;
  content: "\e921";
}
.at-microscope-thin:before {
  font-family: 'laboratory' !important;
  content: "\e922";
}
.at-microscope-view-thin:before {
  font-family: 'laboratory' !important;
  content: "\e923";
}
.at-mix-chemicals-thin:before {
  font-family: 'laboratory' !important;
  content: "\e924";
}
.at-mixture-thin:before {
  font-family: 'laboratory' !important;
  content: "\e925";
}
.at-molecule-thin:before {
  font-family: 'laboratory' !important;
  content: "\e926";
}
.at-mouse-animal-thin:before {
  font-family: 'laboratory' !important;
  content: "\e927";
}
.at-multiple-test-tube-thin:before {
  font-family: 'laboratory' !important;
  content: "\e928";
}
.at-organism-magnifying-glass-thin:before {
  font-family: 'laboratory' !important;
  content: "\e929";
}
.at-plant-test-tube-thin:before {
  font-family: 'laboratory' !important;
  content: "\e92a";
}
.at-poison-thin:before {
  font-family: 'laboratory' !important;
  content: "\e92b";
}
.at-safety-glove-thin:before {
  font-family: 'laboratory' !important;
  content: "\e92c";
}
.at-safety-goggles-thin:before {
  font-family: 'laboratory' !important;
  content: "\e92d";
}
.at-scale-weigh-thin:before {
  font-family: 'laboratory' !important;
  content: "\e92e";
}
.at-science-atoms-thin:before {
  font-family: 'laboratory' !important;
  content: "\e92f";
}
.at-science-book-thin:before {
  font-family: 'laboratory' !important;
  content: "\e930";
}
.at-science-thin:before {
  font-family: 'laboratory' !important;
  content: "\e931";
}
.at-scientist-man-thin:before {
  font-family: 'laboratory' !important;
  content: "\e932";
}
.at-scientist-woman-thin:before {
  font-family: 'laboratory' !important;
  content: "\e933";
}
.at-test-chemical-thin:before {
  font-family: 'laboratory' !important;
  content: "\e934";
}
.at-test-tube-container-thin:before {
  font-family: 'laboratory' !important;
  content: "\e935";
}
.at-test-tube-experiment-thin:before {
  font-family: 'laboratory' !important;
  content: "\e936";
}
.at-test-tube-labs-thin:before {
  font-family: 'laboratory' !important;
  content: "\e937";
}
.at-test-tubes-chemical-thin:before {
  font-family: 'laboratory' !important;
  content: "\e938";
}
.at-test-tube-settings-thin:before {
  font-family: 'laboratory' !important;
  content: "\e939";
}
.at-test-tubes-lab-thin:before {
  font-family: 'laboratory' !important;
  content: "\e93a";
}
.at-test-tube-stand-thin:before {
  font-family: 'laboratory' !important;
  content: "\e93b";
}
.at-test-tube-transfer-thin:before {
  font-family: 'laboratory' !important;
  content: "\e93c";
}
.at-test-vial-thin:before {
  font-family: 'laboratory' !important;
  content: "\e93d";
}
.at-thermometer-thin:before {
  font-family: 'laboratory' !important;
  content: "\e93e";
}
.at-tools-thin:before {
  font-family: 'laboratory' !important;
  content: "\e93f";
}
.at-vault-thin:before {
  font-family: 'laboratory' !important;
  content: "\e940";
}
.at-vials-stand-thin:before {
  font-family: 'laboratory' !important;
  content: "\e941";
}
.at-vial-stand-thin:before {
  font-family: 'laboratory' !important;
  content: "\e942";
}
.at-wrench-clamp-thin:before {
  font-family: 'laboratory' !important;
  content: "\e943";
}
.at-write-book-thin:before {
  font-family: 'laboratory' !important;
  content: "\e944";
}
.at-xmark-test-tube-thin:before {
  font-family: 'laboratory' !important;
  content: "\e945";
}
.at-bacteria:before {
  font-family: 'laboratory' !important;
  content: "\e946";
}
.at-brush-tool:before {
  font-family: 'laboratory' !important;
  content: "\e947";
}
.at-cells-monitor:before {
  font-family: 'laboratory' !important;
  content: "\e948";
}
.at-chemical-container:before {
  font-family: 'laboratory' !important;
  content: "\e949";
}
.at-chemical-lab:before {
  font-family: 'laboratory' !important;
  content: "\e94a";
}
.at-chemical-tube:before {
  font-family: 'laboratory' !important;
  content: "\e94b";
}
.at-clipboard-test-tube:before {
  font-family: 'laboratory' !important;
  content: "\e94c";
}
.at-closed-bottle:before {
  font-family: 'laboratory' !important;
  content: "\e94d";
}
.at-closed-test-tube:before {
  font-family: 'laboratory' !important;
  content: "\e94e";
}
.at-connected-test-tubes:before {
  font-family: 'laboratory' !important;
  content: "\e94f";
}
.at-curved-test-tube:before {
  font-family: 'laboratory' !important;
  content: "\e950";
}
.at-danger:before {
  font-family: 'laboratory' !important;
  content: "\e951";
}
.at-dna:before {
  font-family: 'laboratory' !important;
  content: "\e952";
}
.at-eyedropper:before {
  font-family: 'laboratory' !important;
  content: "\e953";
}
.at-face-mask:before {
  font-family: 'laboratory' !important;
  content: "\e954";
}
.at-fire:before {
  font-family: 'laboratory' !important;
  content: "\e955";
}
.at-fire-test-tube:before {
  font-family: 'laboratory' !important;
  content: "\e956";
}
.at-fire-triangle:before {
  font-family: 'laboratory' !important;
  content: "\e957";
}
.at-flame:before {
  font-family: 'laboratory' !important;
  content: "\e958";
}
.at-frog:before {
  font-family: 'laboratory' !important;
  content: "\e959";
}
.at-funnel:before {
  font-family: 'laboratory' !important;
  content: "\e95a";
}
.at-herb-mix:before {
  font-family: 'laboratory' !important;
  content: "\e95b";
}
.at-lab-appliance:before {
  font-family: 'laboratory' !important;
  content: "\e95c";
}
.at-lab-coat:before {
  font-family: 'laboratory' !important;
  content: "\e95d";
}
.at-laboratory-list:before {
  font-family: 'laboratory' !important;
  content: "\e95e";
}
.at-laboratory-test-tube:before {
  font-family: 'laboratory' !important;
  content: "\e95f";
}
.at-laboratory-tool:before {
  font-family: 'laboratory' !important;
  content: "\e960";
}
.at-lab-test-tube:before {
  font-family: 'laboratory' !important;
  content: "\e961";
}
.at-lab-tool-curve:before {
  font-family: 'laboratory' !important;
  content: "\e962";
}
.at-magnet:before {
  font-family: 'laboratory' !important;
  content: "\e963";
}
.at-magnifying-glass-test-tube:before {
  font-family: 'laboratory' !important;
  content: "\e964";
}
.at-measure-tube:before {
  font-family: 'laboratory' !important;
  content: "\e965";
}
.at-measuring-cup:before {
  font-family: 'laboratory' !important;
  content: "\e966";
}
.at-mesh:before {
  font-family: 'laboratory' !important;
  content: "\e967";
}
.at-microscope:before {
  font-family: 'laboratory' !important;
  content: "\e968";
}
.at-microscope-view:before {
  font-family: 'laboratory' !important;
  content: "\e969";
}
.at-mix-chemicals:before {
  font-family: 'laboratory' !important;
  content: "\e96a";
}
.at-mixture:before {
  font-family: 'laboratory' !important;
  content: "\e96b";
}
.at-molecule:before {
  font-family: 'laboratory' !important;
  content: "\e96c";
}
.at-mouse-animal:before {
  font-family: 'laboratory' !important;
  content: "\e96d";
}
.at-multiple-test-tube:before {
  font-family: 'laboratory' !important;
  content: "\e96e";
}
.at-organism-magnifying-glass:before {
  font-family: 'laboratory' !important;
  content: "\e96f";
}
.at-plant-test-tube:before {
  font-family: 'laboratory' !important;
  content: "\e970";
}
.at-poison:before {
  font-family: 'laboratory' !important;
  content: "\e971";
}
.at-safety-glove:before {
  font-family: 'laboratory' !important;
  content: "\e972";
}
.at-safety-goggles:before {
  font-family: 'laboratory' !important;
  content: "\e973";
}
.at-scale-weigh:before {
  font-family: 'laboratory' !important;
  content: "\e974";
}
.at-science:before {
  font-family: 'laboratory' !important;
  content: "\e975";
}
.at-science-atoms:before {
  font-family: 'laboratory' !important;
  content: "\e976";
}
.at-science-book:before {
  font-family: 'laboratory' !important;
  content: "\e977";
}
.at-scientist-man:before {
  font-family: 'laboratory' !important;
  content: "\e978";
}
.at-scientist-woman:before {
  font-family: 'laboratory' !important;
  content: "\e979";
}
.at-test-chemical:before {
  font-family: 'laboratory' !important;
  content: "\e97a";
}
.at-test-tube-container:before {
  font-family: 'laboratory' !important;
  content: "\e97b";
}
.at-test-tube-experiment:before {
  font-family: 'laboratory' !important;
  content: "\e97c";
}
.at-test-tube-labs:before {
  font-family: 'laboratory' !important;
  content: "\e97d";
}
.at-test-tubes-chemical:before {
  font-family: 'laboratory' !important;
  content: "\e97e";
}
.at-test-tube-settings:before {
  font-family: 'laboratory' !important;
  content: "\e97f";
}
.at-test-tubes-lab:before {
  font-family: 'laboratory' !important;
  content: "\e980";
}
.at-test-tube-stand:before {
  font-family: 'laboratory' !important;
  content: "\e981";
}
.at-test-tube-transfer:before {
  font-family: 'laboratory' !important;
  content: "\e982";
}
.at-test-vial:before {
  font-family: 'laboratory' !important;
  content: "\e983";
}
.at-thermometer:before {
  font-family: 'laboratory' !important;
  content: "\e984";
}
.at-tools:before {
  font-family: 'laboratory' !important;
  content: "\e985";
}
.at-vault:before {
  font-family: 'laboratory' !important;
  content: "\e986";
}
.at-vials-stand:before {
  font-family: 'laboratory' !important;
  content: "\e987";
}
.at-vial-stand:before {
  font-family: 'laboratory' !important;
  content: "\e988";
}
.at-wrench-clamp:before {
  font-family: 'laboratory' !important;
  content: "\e989";
}
.at-write-book:before {
  font-family: 'laboratory' !important;
  content: "\e98a";
}
.at-xmark-test-tube:before {
  font-family: 'laboratory' !important;
  content: "\e98b";
}
.at-bacteria-bold:before {
  font-family: 'laboratory' !important;
  content: "\e98c";
}
.at-brush-tool-bold:before {
  font-family: 'laboratory' !important;
  content: "\e98d";
}
.at-cells-monitor-bold:before {
  font-family: 'laboratory' !important;
  content: "\e98e";
}
.at-chemical-container-bold:before {
  font-family: 'laboratory' !important;
  content: "\e98f";
}
.at-chemical-lab-bold:before {
  font-family: 'laboratory' !important;
  content: "\e990";
}
.at-chemical-tube-bold:before {
  font-family: 'laboratory' !important;
  content: "\e991";
}
.at-clipboard-test-tube-bold:before {
  font-family: 'laboratory' !important;
  content: "\e992";
}
.at-closed-bottle-bold:before {
  font-family: 'laboratory' !important;
  content: "\e993";
}
.at-closed-test-tube-bold:before {
  font-family: 'laboratory' !important;
  content: "\e994";
}
.at-connected-test-tubes-bold:before {
  font-family: 'laboratory' !important;
  content: "\e995";
}
.at-curved-test-tube-bold:before {
  font-family: 'laboratory' !important;
  content: "\e996";
}
.at-danger-bold:before {
  font-family: 'laboratory' !important;
  content: "\e997";
}
.at-dna-bold:before {
  font-family: 'laboratory' !important;
  content: "\e998";
}
.at-eyedropper-bold:before {
  font-family: 'laboratory' !important;
  content: "\e999";
}
.at-face-mask-bold:before {
  font-family: 'laboratory' !important;
  content: "\e99a";
}
.at-fire-bold:before {
  font-family: 'laboratory' !important;
  content: "\e99b";
}
.at-fire-test-tube-bold:before {
  font-family: 'laboratory' !important;
  content: "\e99c";
}
.at-fire-triangle-bold:before {
  font-family: 'laboratory' !important;
  content: "\e99d";
}
.at-flame-bold:before {
  font-family: 'laboratory' !important;
  content: "\e99e";
}
.at-frog-bold:before {
  font-family: 'laboratory' !important;
  content: "\e99f";
}
.at-funnel-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9a0";
}
.at-herb-mix-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9a1";
}
.at-lab-appliance-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9a2";
}
.at-lab-coat-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9a3";
}
.at-laboratory-list-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9a4";
}
.at-laboratory-test-tube-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9a5";
}
.at-laboratory-tool-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9a6";
}
.at-lab-test-tube-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9a7";
}
.at-lab-tool-curve-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9a8";
}
.at-magnet-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9a9";
}
.at-magnifying-glass-test-tube-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9aa";
}
.at-measure-tube-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9ab";
}
.at-measuring-cup-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9ac";
}
.at-mesh-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9ad";
}
.at-microscope-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9ae";
}
.at-microscope-view-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9af";
}
.at-mix-chemicals-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9b0";
}
.at-mixture-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9b1";
}
.at-molecule-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9b2";
}
.at-mouse-animal-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9b3";
}
.at-multiple-test-tube-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9b4";
}
.at-organism-magnifying-glass-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9b5";
}
.at-plant-test-tube-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9b6";
}
.at-poison-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9b7";
}
.at-safety-glove-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9b8";
}
.at-safety-goggles-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9b9";
}
.at-scale-weigh-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9ba";
}
.at-science-atoms-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9bb";
}
.at-science-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9bc";
}
.at-science-book-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9bd";
}
.at-scientist-man-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9be";
}
.at-scientist-woman-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9bf";
}
.at-test-chemical-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9c0";
}
.at-test-tube-container-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9c1";
}
.at-test-tube-experiment-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9c2";
}
.at-test-tube-labs-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9c3";
}
.at-test-tubes-chemical-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9c4";
}
.at-test-tube-settings-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9c5";
}
.at-test-tubes-lab-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9c6";
}
.at-test-tube-stand-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9c7";
}
.at-test-tube-transfer-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9c8";
}
.at-test-vial-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9c9";
}
.at-thermometer-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9ca";
}
.at-tools-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9cb";
}
.at-vault-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9cc";
}
.at-vials-stand-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9cd";
}
.at-vial-stand-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9ce";
}
.at-wrench-clamp-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9cf";
}
.at-write-book-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9d0";
}
.at-xmark-test-tube-bold:before {
  font-family: 'laboratory' !important;
  content: "\e9d1";
}
