@font-face {
  font-family: 'travel';
  src:  url('fonts/travel.eot?dgjrd1');
  src:  url('fonts/travel.eot?dgjrd1#iefix') format('embedded-opentype'),
    url('fonts/travel.ttf?dgjrd1') format('truetype'),
    url('fonts/travel.woff?dgjrd1') format('woff'),
    url('fonts/travel.svg?dgjrd1#travel') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.at-airline-thin:before {
  font-family: 'travel' !important;
  content: "\e900";
}
.at-airline-ticket-thin:before {
  font-family: 'travel' !important;
  content: "\e901";
}
.at-apartments-building-thin:before {
  font-family: 'travel' !important;
  content: "\e902";
}
.at-backpack-luggage-thin:before {
  font-family: 'travel' !important;
  content: "\e903";
}
.at-baggage-thin:before {
  font-family: 'travel' !important;
  content: "\e904";
}
.at-barbeque-grill-thin:before {
  font-family: 'travel' !important;
  content: "\e905";
}
.at-beach-ball-thin:before {
  font-family: 'travel' !important;
  content: "\e906";
}
.at-beach-holiday-thin:before {
  font-family: 'travel' !important;
  content: "\e907";
}
.at-beach-lounge-thin:before {
  font-family: 'travel' !important;
  content: "\e908";
}
.at-bed-thin:before {
  font-family: 'travel' !important;
  content: "\e909";
}
.at-bike-bicycle-thin:before {
  font-family: 'travel' !important;
  content: "\e90a";
}
.at-bikini-thin:before {
  font-family: 'travel' !important;
  content: "\e90b";
}
.at-binoculars-thin:before {
  font-family: 'travel' !important;
  content: "\e90c";
}
.at-camera-thin:before {
  font-family: 'travel' !important;
  content: "\e90d";
}
.at-campfire-thin:before {
  font-family: 'travel' !important;
  content: "\e90e";
}
.at-camping-tent-thin:before {
  font-family: 'travel' !important;
  content: "\e90f";
}
.at-camp-tent-thin:before {
  font-family: 'travel' !important;
  content: "\e910";
}
.at-caravan-thin:before {
  font-family: 'travel' !important;
  content: "\e911";
}
.at-cloche-food-meal-thin:before {
  font-family: 'travel' !important;
  content: "\e912";
}
.at-coconut-cocktail-thin:before {
  font-family: 'travel' !important;
  content: "\e913";
}
.at-compass-pointers-thin:before {
  font-family: 'travel' !important;
  content: "\e914";
}
.at-destination-route-thin:before {
  font-family: 'travel' !important;
  content: "\e915";
}
.at-direction-post-thin:before {
  font-family: 'travel' !important;
  content: "\e916";
}
.at-directions-post-thin:before {
  font-family: 'travel' !important;
  content: "\e917";
}
.at-double-bed-sleep-thin:before {
  font-family: 'travel' !important;
  content: "\e918";
}
.at-flag-thin:before {
  font-family: 'travel' !important;
  content: "\e919";
}
.at-flight-date-thin:before {
  font-family: 'travel' !important;
  content: "\e91a";
}
.at-flight-document-thin:before {
  font-family: 'travel' !important;
  content: "\e91b";
}
.at-flippers-thin:before {
  font-family: 'travel' !important;
  content: "\e91c";
}
.at-glasses-vision-thin:before {
  font-family: 'travel' !important;
  content: "\e91d";
}
.at-hat-thin:before {
  font-family: 'travel' !important;
  content: "\e91e";
}
.at-ice-cream-stick-food-thin:before {
  font-family: 'travel' !important;
  content: "\e91f";
}
.at-landscape-thin:before {
  font-family: 'travel' !important;
  content: "\e920";
}
.at-lantern-fire-light-thin:before {
  font-family: 'travel' !important;
  content: "\e921";
}
.at-laptop-location-thin:before {
  font-family: 'travel' !important;
  content: "\e922";
}
.at-life-preserver-thin:before {
  font-family: 'travel' !important;
  content: "\e923";
}
.at-lit-match-thin:before {
  font-family: 'travel' !important;
  content: "\e924";
}
.at-lotion-thin:before {
  font-family: 'travel' !important;
  content: "\e925";
}
.at-map-navigation-thin:before {
  font-family: 'travel' !important;
  content: "\e926";
}
.at-martini-straw-lime-thin:before {
  font-family: 'travel' !important;
  content: "\e927";
}
.at-passport-thin:before {
  font-family: 'travel' !important;
  content: "\e928";
}
.at-plane-ticket-thin:before {
  font-family: 'travel' !important;
  content: "\e929";
}
.at-postcard-thin:before {
  font-family: 'travel' !important;
  content: "\e92a";
}
.at-route-destination-thin:before {
  font-family: 'travel' !important;
  content: "\e92b";
}
.at-route-thin:before {
  font-family: 'travel' !important;
  content: "\e92c";
}
.at-sea-cabin-thin:before {
  font-family: 'travel' !important;
  content: "\e92d";
}
.at-search-flights-thin:before {
  font-family: 'travel' !important;
  content: "\e92e";
}
.at-search-map-thin:before {
  font-family: 'travel' !important;
  content: "\e92f";
}
.at-seashell-thin:before {
  font-family: 'travel' !important;
  content: "\e930";
}
.at-sea-thin:before {
  font-family: 'travel' !important;
  content: "\e931";
}
.at-ship-cruise-thin:before {
  font-family: 'travel' !important;
  content: "\e932";
}
.at-sleeping-bag-thin:before {
  font-family: 'travel' !important;
  content: "\e933";
}
.at-smartphone-charging-thin:before {
  font-family: 'travel' !important;
  content: "\e934";
}
.at-smartphone-location-pin-thin:before {
  font-family: 'travel' !important;
  content: "\e935";
}
.at-smartphone-location-thin:before {
  font-family: 'travel' !important;
  content: "\e936";
}
.at-snorkling-thin:before {
  font-family: 'travel' !important;
  content: "\e937";
}
.at-suitcase-luggage-thin:before {
  font-family: 'travel' !important;
  content: "\e938";
}
.at-suitcase-thin:before {
  font-family: 'travel' !important;
  content: "\e939";
}
.at-suitcase-transport-thin:before {
  font-family: 'travel' !important;
  content: "\e93a";
}
.at-surfboard-thin:before {
  font-family: 'travel' !important;
  content: "\e93b";
}
.at-swimming-pool-ladder-thin:before {
  font-family: 'travel' !important;
  content: "\e93c";
}
.at-swim-shorts-thin:before {
  font-family: 'travel' !important;
  content: "\e93d";
}
.at-torch-thin:before {
  font-family: 'travel' !important;
  content: "\e93e";
}
.at-train-transport-thin:before {
  font-family: 'travel' !important;
  content: "\e93f";
}
.at-train-travel-thin:before {
  font-family: 'travel' !important;
  content: "\e940";
}
.at-travel-bus-thin:before {
  font-family: 'travel' !important;
  content: "\e941";
}
.at-travel-luggage-thin:before {
  font-family: 'travel' !important;
  content: "\e942";
}
.at-tropical-holiday-thin:before {
  font-family: 'travel' !important;
  content: "\e943";
}
.at-van-car-thin:before {
  font-family: 'travel' !important;
  content: "\e944";
}
.at-window-seat-thin:before {
  font-family: 'travel' !important;
  content: "\e945";
}
.at-airline:before {
  font-family: 'travel' !important;
  content: "\e946";
}
.at-airline-ticket:before {
  font-family: 'travel' !important;
  content: "\e947";
}
.at-apartments-building:before {
  font-family: 'travel' !important;
  content: "\e948";
}
.at-backpack-luggage:before {
  font-family: 'travel' !important;
  content: "\e949";
}
.at-baggage:before {
  font-family: 'travel' !important;
  content: "\e94a";
}
.at-barbeque-grill:before {
  font-family: 'travel' !important;
  content: "\e94b";
}
.at-beach-ball:before {
  font-family: 'travel' !important;
  content: "\e94c";
}
.at-beach-holiday:before {
  font-family: 'travel' !important;
  content: "\e94d";
}
.at-beach-lounge:before {
  font-family: 'travel' !important;
  content: "\e94e";
}
.at-bed:before {
  font-family: 'travel' !important;
  content: "\e94f";
}
.at-bike-bicycle:before {
  font-family: 'travel' !important;
  content: "\e950";
}
.at-bikini:before {
  font-family: 'travel' !important;
  content: "\e951";
}
.at-binoculars:before {
  font-family: 'travel' !important;
  content: "\e952";
}
.at-camera:before {
  font-family: 'travel' !important;
  content: "\e953";
}
.at-campfire:before {
  font-family: 'travel' !important;
  content: "\e954";
}
.at-camping-tent:before {
  font-family: 'travel' !important;
  content: "\e955";
}
.at-camp-tent:before {
  font-family: 'travel' !important;
  content: "\e956";
}
.at-caravan:before {
  font-family: 'travel' !important;
  content: "\e957";
}
.at-cloche-food-meal:before {
  font-family: 'travel' !important;
  content: "\e958";
}
.at-coconut-cocktail:before {
  font-family: 'travel' !important;
  content: "\e959";
}
.at-compass-pointers:before {
  font-family: 'travel' !important;
  content: "\e95a";
}
.at-destination-route:before {
  font-family: 'travel' !important;
  content: "\e95b";
}
.at-direction-post:before {
  font-family: 'travel' !important;
  content: "\e95c";
}
.at-directions-post:before {
  font-family: 'travel' !important;
  content: "\e95d";
}
.at-double-bed-sleep:before {
  font-family: 'travel' !important;
  content: "\e95e";
}
.at-flag:before {
  font-family: 'travel' !important;
  content: "\e95f";
}
.at-flight-date:before {
  font-family: 'travel' !important;
  content: "\e960";
}
.at-flight-document:before {
  font-family: 'travel' !important;
  content: "\e961";
}
.at-flippers:before {
  font-family: 'travel' !important;
  content: "\e962";
}
.at-glasses-vision:before {
  font-family: 'travel' !important;
  content: "\e963";
}
.at-hat:before {
  font-family: 'travel' !important;
  content: "\e964";
}
.at-ice-cream-stick-food:before {
  font-family: 'travel' !important;
  content: "\e965";
}
.at-landscape:before {
  font-family: 'travel' !important;
  content: "\e966";
}
.at-lantern-fire-light:before {
  font-family: 'travel' !important;
  content: "\e967";
}
.at-laptop-location:before {
  font-family: 'travel' !important;
  content: "\e968";
}
.at-life-preserver:before {
  font-family: 'travel' !important;
  content: "\e969";
}
.at-lit-match:before {
  font-family: 'travel' !important;
  content: "\e96a";
}
.at-lotion:before {
  font-family: 'travel' !important;
  content: "\e96b";
}
.at-map-navigation:before {
  font-family: 'travel' !important;
  content: "\e96c";
}
.at-martini-straw-lime:before {
  font-family: 'travel' !important;
  content: "\e96d";
}
.at-passport:before {
  font-family: 'travel' !important;
  content: "\e96e";
}
.at-plane-ticket:before {
  font-family: 'travel' !important;
  content: "\e96f";
}
.at-postcard:before {
  font-family: 'travel' !important;
  content: "\e970";
}
.at-route:before {
  font-family: 'travel' !important;
  content: "\e971";
}
.at-route-destination:before {
  font-family: 'travel' !important;
  content: "\e972";
}
.at-sea:before {
  font-family: 'travel' !important;
  content: "\e973";
}
.at-sea-cabin:before {
  font-family: 'travel' !important;
  content: "\e974";
}
.at-search-flights:before {
  font-family: 'travel' !important;
  content: "\e975";
}
.at-search-map:before {
  font-family: 'travel' !important;
  content: "\e976";
}
.at-seashell:before {
  font-family: 'travel' !important;
  content: "\e977";
}
.at-ship-cruise:before {
  font-family: 'travel' !important;
  content: "\e978";
}
.at-sleeping-bag:before {
  font-family: 'travel' !important;
  content: "\e979";
}
.at-smartphone-charging:before {
  font-family: 'travel' !important;
  content: "\e97a";
}
.at-smartphone-location:before {
  font-family: 'travel' !important;
  content: "\e97b";
}
.at-smartphone-location-pin:before {
  font-family: 'travel' !important;
  content: "\e97c";
}
.at-snorkling:before {
  font-family: 'travel' !important;
  content: "\e97d";
}
.at-suitcase:before {
  font-family: 'travel' !important;
  content: "\e97e";
}
.at-suitcase-luggage:before {
  font-family: 'travel' !important;
  content: "\e97f";
}
.at-suitcase-transport:before {
  font-family: 'travel' !important;
  content: "\e980";
}
.at-surfboard:before {
  font-family: 'travel' !important;
  content: "\e981";
}
.at-swimming-pool-ladder:before {
  font-family: 'travel' !important;
  content: "\e982";
}
.at-swim-shorts:before {
  font-family: 'travel' !important;
  content: "\e983";
}
.at-torch:before {
  font-family: 'travel' !important;
  content: "\e984";
}
.at-train-transport:before {
  font-family: 'travel' !important;
  content: "\e985";
}
.at-train-travel:before {
  font-family: 'travel' !important;
  content: "\e986";
}
.at-travel-bus:before {
  font-family: 'travel' !important;
  content: "\e987";
}
.at-travel-luggage:before {
  font-family: 'travel' !important;
  content: "\e988";
}
.at-tropical-holiday:before {
  font-family: 'travel' !important;
  content: "\e989";
}
.at-van-car:before {
  font-family: 'travel' !important;
  content: "\e98a";
}
.at-window-seat:before {
  font-family: 'travel' !important;
  content: "\e98b";
}
.at-airline-bold:before {
  font-family: 'travel' !important;
  content: "\e98c";
}
.at-airline-ticket-bold:before {
  font-family: 'travel' !important;
  content: "\e98d";
}
.at-apartments-building-bold:before {
  font-family: 'travel' !important;
  content: "\e98e";
}
.at-backpack-luggage-bold:before {
  font-family: 'travel' !important;
  content: "\e98f";
}
.at-baggage-bold:before {
  font-family: 'travel' !important;
  content: "\e990";
}
.at-barbeque-grill-bold:before {
  font-family: 'travel' !important;
  content: "\e991";
}
.at-beach-ball-bold:before {
  font-family: 'travel' !important;
  content: "\e992";
}
.at-beach-holiday-bold:before {
  font-family: 'travel' !important;
  content: "\e993";
}
.at-beach-lounge-bold:before {
  font-family: 'travel' !important;
  content: "\e994";
}
.at-bed-bold:before {
  font-family: 'travel' !important;
  content: "\e995";
}
.at-bike-bicycle-bold:before {
  font-family: 'travel' !important;
  content: "\e996";
}
.at-bikini-bold:before {
  font-family: 'travel' !important;
  content: "\e997";
}
.at-binoculars-bold:before {
  font-family: 'travel' !important;
  content: "\e998";
}
.at-camera-bold:before {
  font-family: 'travel' !important;
  content: "\e999";
}
.at-campfire-bold:before {
  font-family: 'travel' !important;
  content: "\e99a";
}
.at-camping-tent-bold:before {
  font-family: 'travel' !important;
  content: "\e99b";
}
.at-camp-tent-bold:before {
  font-family: 'travel' !important;
  content: "\e99c";
}
.at-caravan-bold:before {
  font-family: 'travel' !important;
  content: "\e99d";
}
.at-cloche-food-meal-bold:before {
  font-family: 'travel' !important;
  content: "\e99e";
}
.at-coconut-cocktail-bold:before {
  font-family: 'travel' !important;
  content: "\e99f";
}
.at-compass-pointers-bold:before {
  font-family: 'travel' !important;
  content: "\e9a0";
}
.at-destination-route-bold:before {
  font-family: 'travel' !important;
  content: "\e9a1";
}
.at-direction-post-bold:before {
  font-family: 'travel' !important;
  content: "\e9a2";
}
.at-directions-post-bold:before {
  font-family: 'travel' !important;
  content: "\e9a3";
}
.at-double-bed-sleep-bold:before {
  font-family: 'travel' !important;
  content: "\e9a4";
}
.at-flag-bold:before {
  font-family: 'travel' !important;
  content: "\e9a5";
}
.at-flight-date-bold:before {
  font-family: 'travel' !important;
  content: "\e9a6";
}
.at-flight-document-bold:before {
  font-family: 'travel' !important;
  content: "\e9a7";
}
.at-flippers-bold:before {
  font-family: 'travel' !important;
  content: "\e9a8";
}
.at-glasses-vision-bold:before {
  font-family: 'travel' !important;
  content: "\e9a9";
}
.at-hat-bold:before {
  font-family: 'travel' !important;
  content: "\e9aa";
}
.at-ice-cream-stick-food-bold:before {
  font-family: 'travel' !important;
  content: "\e9ab";
}
.at-landscape-bold:before {
  font-family: 'travel' !important;
  content: "\e9ac";
}
.at-lantern-fire-light-bold:before {
  font-family: 'travel' !important;
  content: "\e9ad";
}
.at-laptop-location-bold:before {
  font-family: 'travel' !important;
  content: "\e9ae";
}
.at-life-preserver-bold:before {
  font-family: 'travel' !important;
  content: "\e9af";
}
.at-lit-match-bold:before {
  font-family: 'travel' !important;
  content: "\e9b0";
}
.at-lotion-bold:before {
  font-family: 'travel' !important;
  content: "\e9b1";
}
.at-map-navigation-bold:before {
  font-family: 'travel' !important;
  content: "\e9b2";
}
.at-martini-straw-lime-bold:before {
  font-family: 'travel' !important;
  content: "\e9b3";
}
.at-passport-bold:before {
  font-family: 'travel' !important;
  content: "\e9b4";
}
.at-plane-ticket-bold:before {
  font-family: 'travel' !important;
  content: "\e9b5";
}
.at-postcard-bold:before {
  font-family: 'travel' !important;
  content: "\e9b6";
}
.at-route-bold:before {
  font-family: 'travel' !important;
  content: "\e9b7";
}
.at-route-destination-bold:before {
  font-family: 'travel' !important;
  content: "\e9b8";
}
.at-sea-bold:before {
  font-family: 'travel' !important;
  content: "\e9b9";
}
.at-sea-cabin-bold:before {
  font-family: 'travel' !important;
  content: "\e9ba";
}
.at-search-flights-bold:before {
  font-family: 'travel' !important;
  content: "\e9bb";
}
.at-search-map-bold:before {
  font-family: 'travel' !important;
  content: "\e9bc";
}
.at-seashell-bold:before {
  font-family: 'travel' !important;
  content: "\e9bd";
}
.at-ship-cruise-bold:before {
  font-family: 'travel' !important;
  content: "\e9be";
}
.at-sleeping-bag-bold:before {
  font-family: 'travel' !important;
  content: "\e9bf";
}
.at-smartphone-charging-bold:before {
  font-family: 'travel' !important;
  content: "\e9c0";
}
.at-smartphone-location-bold:before {
  font-family: 'travel' !important;
  content: "\e9c1";
}
.at-smartphone-location-pin-bold:before {
  font-family: 'travel' !important;
  content: "\e9c2";
}
.at-snorkling-bold:before {
  font-family: 'travel' !important;
  content: "\e9c3";
}
.at-suitcase-bold:before {
  font-family: 'travel' !important;
  content: "\e9c4";
}
.at-suitcase-luggage-bold:before {
  font-family: 'travel' !important;
  content: "\e9c5";
}
.at-suitcase-transport-bold:before {
  font-family: 'travel' !important;
  content: "\e9c6";
}
.at-surfboard-bold:before {
  font-family: 'travel' !important;
  content: "\e9c7";
}
.at-swimming-pool-ladder-bold:before {
  font-family: 'travel' !important;
  content: "\e9c8";
}
.at-swim-shorts-bold:before {
  font-family: 'travel' !important;
  content: "\e9c9";
}
.at-torch-bold:before {
  font-family: 'travel' !important;
  content: "\e9ca";
}
.at-train-transport-bold:before {
  font-family: 'travel' !important;
  content: "\e9cb";
}
.at-train-travel-bold:before {
  font-family: 'travel' !important;
  content: "\e9cc";
}
.at-travel-bus-bold:before {
  font-family: 'travel' !important;
  content: "\e9cd";
}
.at-travel-luggage-bold:before {
  font-family: 'travel' !important;
  content: "\e9ce";
}
.at-tropical-holiday-bold:before {
  font-family: 'travel' !important;
  content: "\e9cf";
}
.at-van-car-bold:before {
  font-family: 'travel' !important;
  content: "\e9d0";
}
.at-window-seat-bold:before {
  font-family: 'travel' !important;
  content: "\e9d1";
}
